<mat-horizontal-stepper linear id="bg">
    <ng-template matStepperIcon="done">
        <mat-icon>done</mat-icon>
    </ng-template>

    <mat-step label="Carrito">
        <app-shopping-cart></app-shopping-cart>
        <button mat-button matStepperNext class="btn-cont">Continuar</button>
    </mat-step>

    <mat-step label="Envío y Facturación">
        <app-checkout></app-checkout>
    </mat-step>

    <mat-step label="Comprar">
        <app-confirm-data  [cliente]="cliente" [entrega]="entrega" [pago]="pago"></app-confirm-data>
    </mat-step>
</mat-horizontal-stepper>