<mat-horizontal-stepper linear id="bg">
    <ng-template matStepperIcon="edit">
        <mat-icon>done</mat-icon>
    </ng-template>

    <mat-step label="Carrito" >
        <app-shopping-cart></app-shopping-cart>
        <button mat-button matStepperNext class="btn-cont">Continuar</button>
    </mat-step>

    <mat-step label="Envío y Facturación" >
        <app-checkout></app-checkout>
       <div class="cont-botones">
        <button mat-button matStepperPrevious class="btn">Atrás</button>
        <button mat-button matStepperNext class="btn">Continuar</button>
       </div>
           
       
    </mat-step>

    <mat-step label="Checkout" >
        <p>contenido</p>
    </mat-step>
</mat-horizontal-stepper>
