
$fte-ppal: 'Poppins', sans-serif;
$color-ppal:#fff;
 $color-sec: rgb(87, 83, 83);
 $color-ter: rgb(172, 165, 165);
 $color-menues: rgb(243, 236, 236);
 $fte-sec: 'Open Sans', sans-serif;
 $color-wf1:#223e66;
 $color-wf2:#1f4e84;
 $color-wf3:#2779cd;
 $color-wf4:#70b8f3;

// %prop-botones-prod {
//    background-color:$color-wf2;
//    font-size: 14px;
//    color: white;
//    font-family: $fte-ppal;
//    text-transform: uppercase;
//    border-radius: 0px 0px 15px 15px;
//    border: 0px ;
//    margin-top:5px ;
//    padding: 3px 10px;
//     width: 100%;
//     box-sizing: border-box;
//     outline: none;
    
// }

.items{
    width: 17vw;
    height: 290px;
    border-radius: 15px;
    margin-top:15px ;
    margin-bottom:15px ;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 160px 65px  45px ;
    justify-items: center;
    box-sizing: border-box;
    outline: none;
    margin-left: 15px;
    margin-right: 25px;
   
    // background-image: linear-gradient(0deg, rgb(243, 236, 236) 20%,  white 35%, );
    background-color: #fff;
    &:hover{
        transform: scale(1.06);
        cursor: pointer;
        border: 1px solid $color-menues;
        box-shadow: 2px 3px 4px rgba(182, 179, 179, 0.514);
    }
    &:hover > h3{
       color: $color-sec;  
   }
   &:hover>a{
    background-color: $color-wf1;
    }
    &:hover>a>button{
        background-color: $color-wf1;
        }
  
   .img-fondo{
       background-color: $color-ppal;
       width: 100%;
       outline: none;
       position: relative;
       display: flex;
       flex-direction: column;
       align-items: center;
       .etiqueta{
            display: block;
            font-family: $fte-sec;
            text-align: center;
            position: absolute;
            z-index: 1;
            left: 9px;
            top: -12px;
            color: $color-wf4;
            font-size: 13px;
       }
        img{
            width: 160px ;
            height: 160px;
            display: block;
            position: absolute;
            top: 0;
        }
    }
    .i-fondo{
        background-color: $color-ppal;
        outline: none;
        border-radius: 15px 15px 0px 0px;
        width: 100%;
        position: relative;
        i{ outline: none;
            position: absolute;
            font-size: 1.2em;
            right: 20px;
            top: 10px;
            z-index: 1;
        }
    }
    h3{ outline: none;
        text-align: center;
        font-size: 18px;
        font-weight: normal;
        padding-left: 5px;
        padding-right: 5px;
        font-family: $fte-sec;
        line-height: 19px;
        margin-top: 12px;
        &::first-letter{
            text-transform: uppercase;
        }
    }
    // a{
    //  @extend %prop-botones-prod;

    // .botones{
    //  @extend %prop-botones-prod;
     
    // }}
    .cont-precios{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -33px;
        outline: none;
        .row-oferta{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            width: 100%;
            span{
                text-decoration: line-through;
                 font-size: 13px;
                 color:grey;
                 font-family: $fte-sec;
                 margin-bottom: -3px;
                 outline: none;
                 display: block;
            }
            .off{
                font-size: 14px;
                font-family: $fte-sec;
                display: block;
                margin-left: 5px;
                margin-bottom: 0px;
                color: orangered;
            }
        }
    .precio{
        font-weight: bold;
        font-size: 22px;
        font-family: $fte-sec;
        outline: none;
        color: $color-wf3;
    }
   
    }
   
}
.move{
    top: 20px;
    margin-top: 20px;
    
}
@media  screen and (max-width: 380px)  {

    .items{
        width: 43vw;
        height: 200px;
        padding: 0px 0px;
        grid-template-rows: 8px 95px 27px  40px 30px;
        margin-left: 5px;
        margin-right: 10px;
        .i-fondo{
            i{
                font-size: 0.9em;
                right: 10px;
                top: 10px;
            }
        }                     
        .img-fondo{
            height: fit-content;
            .etiqueta{
                 padding: 1px 3px;
            }
            .off{
             font-size: 10px;
             font-weight: bold;
            }
            .destacado{
             font-size: 9px;
             font-weight: bold;
            }
             img{
                 width: 95px ;
                 height: 95px;
                
             }
         }
        h3{
            font-size: 14px;
            margin-top: -2px;
        }
        .cont-precios{
            margin-top: 18px;
        .precio{
            font-size: 19px;
        }
        span{
             font-size: 13px;
        }
        }
        a{
            font-size: 14px;
           .botones{
            font-size: 14px;
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 0;
           }}
    }

}
@media  screen and (min-width: 381px) and (max-width: 780px) {

    .items{
        width: 36vw;
        height: 220px;
        grid-template-rows: 8px 100px 32px  45px 35px;
        .i-fondo{
            i{
                font-size: 1em;
                right: 10px;
                top: 10px;
            }
        }                     
        .img-fondo{
            height: fit-content;
            .etiqueta{
                 padding: 1px 3px;
            }
            .off{
             font-size: 10px;
            }
            .destacado{
             font-size: 9px;
             font-weight: bold;
            }
             img{
                 width: 100px ;
                 height: 100px;
                
             }
         }
        h3{
            font-size: 15px;
            margin-top: -2px;
        }
        .cont-precios{
            margin-top: 18px;
        .precio{
            font-size: 20px;
        }
        span{
             font-size: 14px;
        }
        }
        a{
            font-size: 14px;
           .botones{
            font-size: 14px;
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 0;
           }}
    }

}
@media  screen and (min-width: 550px) and (max-width: 780px) {
    .items{
        width: 28vw;
        max-width: 190px;
    }
}
@media  screen and (min-width: 781px) and (max-width: 1100px) {
    .items{
        width: 25vw;
        max-width: 205px;
        height: 240px;
        grid-template-rows: 8px 105px 42px  50px 35px;
        .i-fondo{
            i{
                font-size: 1em;
                right: 10px;
                top: 10px;
            }
        }                     
        .img-fondo{
            height: fit-content;
            .etiqueta{
                 padding: 1px 4px;
            }
            .off{
             font-size: 11px;
            }
            .destacado{
             font-size: 10px;
             font-weight: bold;
            }
             img{
                 width: 105px ;
                 height: 105px;
                
             }
         }
        h3{
            font-size: 16px;
            margin-top: 3px;
        }
        .cont-precios{
            margin-top: 8px;
        .precio{
            font-size: 21px;
        }
        span{
             font-size: 15px;
        }
        }
        a{
            font-size: 14px;
            .botones{
             font-size: 14px;
             padding-top: 0;
             padding-bottom: 0;
             margin-top: 0;
            }}
    }

}