.items a, .items a .botones {
  background-color: #1f4e84;
  font-size: 14px;
  color: white;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  border-radius: 0px 0px 15px 15px;
  border: 0px;
  margin-top: 5px;
  padding: 3px 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.items {
  width: 17vw;
  height: 290px;
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 20px 140px 55px  30px 45px;
      grid-template-rows: 20px 140px 55px  30px 45px;
  justify-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  -webkit-box-shadow: 2px 2px 2px grey;
          box-shadow: 2px 2px 2px grey;
  margin-left: 15px;
  margin-right: 25px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #f3ecec), color-stop(45%, white));
  background-image: linear-gradient(0deg, #f3ecec 20%, white 45%);
}

.items:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  cursor: pointer;
  -webkit-box-shadow: 2px 3px 4px grey;
          box-shadow: 2px 3px 4px grey;
}

.items:hover > h3 {
  color: #575353;
}

.items:hover > a {
  background-color: #223e66;
}

.items:hover > a > button {
  background-color: #223e66;
}

.items .img-fondo {
  background-color: #fff;
  width: 100%;
  outline: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items .img-fondo .etiqueta {
  display: block;
  color: white;
  font-family: "Open Sans", sans-serif;
  padding: 1px 6px;
  text-align: center;
  -webkit-box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.719);
          box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.719);
  position: absolute;
  z-index: 1;
  left: 0;
  top: -7px;
}

.items .img-fondo .off {
  background-color: #bb1818;
  font-size: 14px;
}

.items .img-fondo .destacado {
  background-color: #ffee00;
  color: black;
  font-size: 12px;
}

.items .img-fondo img {
  width: 140px;
  height: 140px;
  display: block;
  position: absolute;
  top: 0;
}

.items .i-fondo {
  background-color: #fff;
  outline: none;
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  position: relative;
}

.items .i-fondo i {
  outline: none;
  position: absolute;
  font-size: 1.2em;
  right: 20px;
  top: 10px;
  z-index: 1;
}

.items h3 {
  outline: none;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  font-family: "Open Sans", sans-serif;
  margin-top: 12px;
}

.items h3::first-letter {
  text-transform: uppercase;
}

.items .cont-precios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -10px;
  outline: none;
}

.items .cont-precios .precio {
  font-weight: bold;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  outline: none;
  color: #2779cd;
}

.items .cont-precios span {
  text-decoration: line-through;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: -3px;
  outline: none;
}

.move {
  top: 20px;
  margin-top: 20px;
}

@media screen and (max-width: 380px) {
  .items {
    width: 43vw;
    height: 200px;
    padding: 0px 0px;
    -ms-grid-rows: 8px 95px 27px  40px 30px;
        grid-template-rows: 8px 95px 27px  40px 30px;
    margin-left: 5px;
    margin-right: 10px;
  }
  .items .i-fondo i {
    font-size: 0.9em;
    right: 10px;
    top: 10px;
  }
  .items .img-fondo {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .items .img-fondo .etiqueta {
    padding: 1px 3px;
  }
  .items .img-fondo .off {
    font-size: 10px;
    font-weight: bold;
  }
  .items .img-fondo .destacado {
    font-size: 9px;
    font-weight: bold;
  }
  .items .img-fondo img {
    width: 95px;
    height: 95px;
  }
  .items h3 {
    font-size: 14px;
    margin-top: -2px;
  }
  .items .cont-precios {
    margin-top: 18px;
  }
  .items .cont-precios .precio {
    font-size: 19px;
  }
  .items .cont-precios span {
    font-size: 13px;
  }
  .items a {
    font-size: 14px;
  }
  .items a .botones {
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
  }
}

@media screen and (min-width: 381px) and (max-width: 780px) {
  .items {
    width: 36vw;
    height: 220px;
    -ms-grid-rows: 8px 100px 32px  45px 35px;
        grid-template-rows: 8px 100px 32px  45px 35px;
  }
  .items .i-fondo i {
    font-size: 1em;
    right: 10px;
    top: 10px;
  }
  .items .img-fondo {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .items .img-fondo .etiqueta {
    padding: 1px 3px;
  }
  .items .img-fondo .off {
    font-size: 10px;
  }
  .items .img-fondo .destacado {
    font-size: 9px;
    font-weight: bold;
  }
  .items .img-fondo img {
    width: 100px;
    height: 100px;
  }
  .items h3 {
    font-size: 15px;
    margin-top: -2px;
  }
  .items .cont-precios {
    margin-top: 18px;
  }
  .items .cont-precios .precio {
    font-size: 20px;
  }
  .items .cont-precios span {
    font-size: 14px;
  }
  .items a {
    font-size: 14px;
  }
  .items a .botones {
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
  }
}

@media screen and (min-width: 550px) and (max-width: 780px) {
  .items {
    width: 28vw;
    max-width: 190px;
  }
}

@media screen and (min-width: 781px) and (max-width: 1100px) {
  .items {
    width: 25vw;
    max-width: 205px;
    height: 240px;
    -ms-grid-rows: 8px 105px 42px  50px 35px;
        grid-template-rows: 8px 105px 42px  50px 35px;
  }
  .items .i-fondo i {
    font-size: 1em;
    right: 10px;
    top: 10px;
  }
  .items .img-fondo {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .items .img-fondo .etiqueta {
    padding: 1px 4px;
  }
  .items .img-fondo .off {
    font-size: 11px;
  }
  .items .img-fondo .destacado {
    font-size: 10px;
    font-weight: bold;
  }
  .items .img-fondo img {
    width: 105px;
    height: 105px;
  }
  .items h3 {
    font-size: 16px;
    margin-top: 3px;
  }
  .items .cont-precios {
    margin-top: 8px;
  }
  .items .cont-precios .precio {
    font-size: 21px;
  }
  .items .cont-precios span {
    font-size: 15px;
  }
  .items a {
    font-size: 14px;
  }
  .items a .botones {
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
  }
}
/*# sourceMappingURL=card-carousel.component.css.map */