<div class="items">
    <div class="i-fondo"><i id="fav" class=" iconos far fa-heart fav" (click)=saveToFav()></i></div>
    <div class="img-fondo" [routerLink]="['/viewmore',producto.id]">
       <!-- <img class="medalla" src="../../../../../assets/imagenes/medalla.png" alt="hdj">  -->
      <i class="fas fa-medal"></i>
        <img class="producto" src="{{producto.foto}}" alt=".">
    </div>
    <h3 [routerLink]="['/viewmore',producto.id]">{{producto.nombre}}</h3>
    <div class="cont-precios" [routerLink]="['/viewmore',producto.id]">
       <div class="row-oferta">
           <span *ngIf="oferta">€{{producto.precio + 95}}</span>
           <p class="off " *ngIf="oferta">20% 0FF</p>
        </div> 
        <p class="precio">€{{producto.precio}}</p>
    </div>
  
</div>