section {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 20px auto;
      grid-template-columns: 20px auto;
}

section #lateralMenu {
  background-color: #222121;
  width: 30px;
  padding-bottom: 450px;
  position: relative;
  z-index: 4;
  -webkit-box-shadow: 1px 2px 2px #aca5a5;
          box-shadow: 1px 2px 2px #aca5a5;
}

section #lateralMenu .boton {
  position: -webkit-sticky;
  position: sticky;
  left: 45px;
  margin-left: 10px;
  top: 145px;
  width: 35px;
  height: 55px;
  border-radius: 0 30px 30px 0;
  font-size: 2.5em;
  background-color: #222121;
  color: white;
}

section #lateralMenu .boton i {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  margin-left: 5px;
  display: block;
}

section #lateralMenu .lateral-container {
  position: -webkit-sticky;
  position: sticky;
  top: 20vh;
  bottom: 80vh;
  display: none;
}

section #lateralMenu .lateral-container .userOptions {
  list-style: none;
  cursor: pointer;
}

section #lateralMenu .lateral-container .userOptions li {
  outline: none;
  font-size: 16px;
  color: #fff;
  width: 100%;
  padding: 10px 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section #lateralMenu .lateral-container .userOptions li:last-child {
  border-top: 0.2px solid #ccc1c1;
}

section #lateralMenu .lateral-container .userOptions li:hover {
  background-color: #fff;
  cursor: pointer;
  color: #575353;
}

section #lateralMenu .lateral-container .userOptions li:hover > i {
  font-size: 1em;
}

section #lateralMenu .lateral-container .userOptions li i {
  font-size: 0.8em;
  margin-bottom: 3px;
}

section .container-myprofile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3ecec), to(white));
  background: linear-gradient(to bottom, #f3ecec, white);
}

section .container-myprofile .frame {
  width: 75%;
  margin-top: 30px;
  margin-left: 50px;
}

section .container-myprofile .frame .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

section .container-myprofile .frame .title h2 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  color: #575353;
}

section .container-myprofile .frame .title #save {
  display: none;
  background-color: #222121;
  color: white;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  width: 140px;
  height: 35px;
  border-radius: 30px;
  font-size: 15px;
  border: none;
}

section .container-myprofile .frame .title #save:hover {
  background-color: #575353;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 1px 2px 1px grey;
          box-shadow: 1px 2px 1px grey;
}

section .container-myprofile .frame .personalInformation {
  background-color: white;
  padding: 30px 60px;
  -webkit-box-shadow: 1px 2px 3px #575353;
          box-shadow: 1px 2px 3px #575353;
  margin-bottom: 60px;
}

section .container-myprofile .frame .personalInformation .item-information {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 70% 10%;
      grid-template-columns: 20% 70% 10%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 1px;
  padding-top: 5px;
  font-size: 15px;
}

section .container-myprofile .frame .personalInformation .item-information:hover {
  border-bottom: 1px solid rgba(128, 128, 128, 0.295);
}

section .container-myprofile .frame .personalInformation .item-information p {
  cursor: default;
}

section .container-myprofile .frame .personalInformation .item-information span {
  color: grey;
  text-align: center;
  cursor: default;
}

section .container-myprofile .frame .personalInformation .item-information i {
  text-align: right;
  color: #575353;
  cursor: pointer;
}

section .container-myprofile .frame .personalInformation .item-information i:hover {
  font-size: 1.1em;
}

section .container-myprofile .frame .title2 {
  margin-bottom: 20px;
}

section .container-myprofile .frame .title2 h2 {
  font-family: "Poppins", sans-serif;
  color: #575353;
  text-transform: uppercase;
  font-size: 24px;
}

section .container-myprofile .frame .cards {
  background-color: white;
  padding: 40px 60px;
  -webkit-box-shadow: 1px 2px 3px #575353;
          box-shadow: 1px 2px 3px #575353;
  margin-bottom: 70px;
}

section .container-myprofile .frame .cards .card-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 75% 10%;
      grid-template-columns: 15% 75% 10%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin-bottom: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid #aca5a5;
  margin-top: 10px;
}

section .container-myprofile .frame .cards .card-row img {
  width: 75px;
  height: 42px;
  cursor: default;
}

section .container-myprofile .frame .cards .card-row div {
  font-family: "Poppins", sans-serif;
}

section .container-myprofile .frame .cards .card-row div p {
  color: grey;
  font-size: 13px;
  line-height: 14px;
  cursor: default;
}

section .container-myprofile .frame .cards .card-row div p:first-child {
  font-size: 16px;
  color: black;
}

section .container-myprofile .frame .cards .card-row #delete {
  font-family: "Poppins", sans-serif;
  color: #575353;
  cursor: pointer;
}

section .container-myprofile .frame .cards .card-row #delete:hover {
  color: #aca5a5;
}

.bg-menu {
  width: 100%;
  height: 2000px;
  background-color: rgba(63, 58, 58, 0.26);
  position: absolute;
  z-index: 0;
  top: 80px;
  left: 0px;
  display: none;
}

@media screen and (max-width: 650px) {
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section #lateralMenu {
    display: none;
  }
  section .container-myprofile .frame {
    width: 90%;
    margin-left: 0;
    margin-top: 25px;
  }
  section .container-myprofile .frame .title {
    padding-bottom: 0px;
    margin-bottom: 8px;
  }
  section .container-myprofile .frame .title h2 {
    font-size: 18px;
  }
  section .container-myprofile .frame .personalInformation {
    padding: 15px 10px;
    margin-bottom: 35px;
  }
  section .container-myprofile .frame .personalInformation .item-information {
    margin-left: auto;
    margin-right: auto;
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: none;
        grid-template-rows: none;
        grid-template-areas: "titulo titulo" "info  editar";
    font-size: 14px;
    width: 90%;
  }
  section .container-myprofile .frame .personalInformation .item-information span {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: info;
    text-align: left;
    display: block;
    width: 60%;
  }
  section .container-myprofile .frame .personalInformation .item-information i {
    text-align: right;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: editar;
  }
  section .container-myprofile .frame .personalInformation .item-information p {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: titulo;
    margin-bottom: -3px;
  }
  section .container-myprofile .frame .title2 {
    margin-bottom: 20px;
  }
  section .container-myprofile .frame .title2 h2 {
    font-size: 18px;
  }
  section .container-myprofile .frame .cards {
    padding: 5px 10px;
    padding-bottom: 25px;
    margin-bottom: 40px;
  }
  section .container-myprofile .frame .cards .card-row {
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: none;
        grid-template-rows: none;
        grid-template-areas: " nada eliminar" "img info";
    margin-bottom: 10px;
    margin-top: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section .container-myprofile .frame .cards .card-row img {
    width: 75px;
    height: 42px;
    cursor: default;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: img;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: -8px;
  }
  section .container-myprofile .frame .cards .card-row div {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: info;
  }
  section .container-myprofile .frame .cards .card-row div p {
    line-height: 12px;
    margin-bottom: 5px;
  }
  section .container-myprofile .frame .cards .card-row #delete {
    font-size: 12px;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: eliminar;
    display: block;
    -webkit-transform: translateX(36vw);
            transform: translateX(36vw);
  }
}

@media screen and (min-width: 650px) and (max-width: 900px) {
  section .container-myprofile .frame {
    width: 90%;
    margin-left: 0;
    margin-top: 25px;
  }
  section .container-myprofile .frame .cards {
    padding: 5px 10px;
    padding-bottom: 25px;
    margin-bottom: 80px;
  }
  section .container-myprofile .frame .cards .card-row {
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: none;
        grid-template-rows: none;
        grid-template-areas: " nada eliminar" "img info";
    margin-bottom: 10px;
    margin-top: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section .container-myprofile .frame .cards .card-row img {
    width: 75px;
    height: 42px;
    cursor: default;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: img;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: -8px;
  }
  section .container-myprofile .frame .cards .card-row div {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: info;
  }
  section .container-myprofile .frame .cards .card-row div p {
    line-height: 12px;
    margin-bottom: 5px;
  }
  section .container-myprofile .frame .cards .card-row #delete {
    font-size: 12px;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: eliminar;
    display: block;
    -webkit-transform: translateX(36vw);
            transform: translateX(36vw);
  }
}
/*# sourceMappingURL=user-profile.component.css.map */