
$fte-ppal: 'Poppins', sans-serif;
$fte-sec: 'Open Sans', sans-serif;
$color-ppal:#fff;
 $color-sec: rgb(87, 83, 83);
 $color-ter: rgb(172, 165, 165);
 $color-menues: rgb(243, 236, 236);

 $color-wf1:#223e66;
 $color-wf2:#1f4e84;
section{
    display: flex;
    flex-direction: column;  
      justify-content: center;
    align-items: center;  
    height: fit-content;
    min-height: 75vh;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    padding-bottom: 30px;
    box-sizing: border-box;
    margin-top: -40px;
}
.container-left{
    box-sizing: border-box;
    width: 100%;
    padding: 30px 30px 60px 0px;
    h2{
        font-family: $fte-ppal;
        margin-bottom: 5px;
        margin-top: 0px;
        display: block;
        font-size: 22px;
        border-bottom: 1px solid rgb(190, 187, 187);
    }
    #userInfo{
        box-shadow: 1px 2px 4px rgba(170, 168, 168, 0.513);
        background-color: $color-ppal;
        border-radius: 15px;
        padding:25px 30px;
        margin-top: 25px;
        .titulo{
            font-family: $fte-ppal;
            font-size: 18px;
            font-weight: normal;
            margin-bottom: 45px;
        }
        .rowData{
            margin-top: 15px;
            display: flex;
            width: 80%;
            justify-content: space-between;
        p{
            font-family: $fte-sec;
            color: $color-sec;
            font-size:15px ;
            font-weight:bold ;
            span{
                color: $color-ter;
                font-weight: normal;
                margin-left:15px ;
            }
        }
    }
        .campo{
            
            font-family: $fte-sec;
            color: $color-sec;
            font-size:15px ;
            font-weight:bold ;
            margin-top: 15px;
            span{
                color: $color-ter;
                font-weight: normal;
                margin-left:15px ;
                text-transform: capitalize
                ;
            }

        }
        .total{
            font-weight: bold;
            font-size: 22px;
            margin-top: 60px;
        }
    }
    
}
.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35vw;
    margin-top: -10px;
    .btn{
        background-color: $color-wf1;
        color: white;
        font-family: $fte-sec;
        width: 12vw;
        font-size: 15px;
        display: block;
        padding: 0;
        padding-right: 4px;
        padding-left: 4px;
        &:hover{
            background-color: $color-wf2;
            cursor: pointer;
        }
    }
}
#nameData{
    text-transform: capitalize;
}
