<section>
    <div class="container-left">
        <h2>Confirme sus datos</h2>
        <div id="userInfo">
            <p class="titulo">Porfavor verifique que la información sea correcta antes de finalizar su compra</p>
            <div class="rowData">
            <p> Nombre : <span id="nameData"> {{infoCliente?.nombre }}  {{infoCliente?.apellido}} </span></p>
            <p> E-mail : <span id="emailData">{{infoCliente?.email}}</span></p>
            <p> Teléfono : <span id="cellphoneData"> {{infoCliente?.telefono}}</span></p>
        </div>
        <div class="rowData">
        <p>Método de Pago: <span id="pagoData"> {{pago}}</span></p>
            <p> Forma de Entrega : <span id="envioData"> {{entrega}} </span></p>
          </div>
            <p class="campo"> Dirección de Envío : <span id="adressData"> Av. Calle XXXX, Barcelona,Cataluña. </span></p>
            <p class="total">Total : <span> €{{carrito?.total + costoDeEnvio | number: '.0-2'}}</span></p>
        </div>
       
    </div>
    <div class="buttons">
    <button  [routerLink]="['/checkout']"class="btn" id="btn-edit">Editar</button>
    <button   class="btn" id="btn-confirm">Ir a pagar</button>

</div>
</section>