<section>
    <div class="container-left">
        <h2>Confirme sus datos</h2>
        <div id="userInfo">
            <p class="titulo">Porfavor verifique que la información sea correcta antes de finalizar su compra</p>
            <div class="rowData">
            <p> Nombre : <span id="nameData"> Juan Perez </span></p>
            <p> E-mail : <span id="emailData">juanperez@hotmail.com </span></p>
            <p> Teléfono : <span id="cellphoneData"> (+34) 93 78945612</span></p>
        </div>
        <div class="rowData">
        <p>Forma de Pago: <span id="pagoData"> Paypal</span></p>
            <p> Forma de Entrega : <span id="envioData"> Envío a domicilio </span></p>
          </div>
            <p class="campo"> Dirección de Envío : <span id="adressData"> Av. Calle XXXX, Barcelona,Cataluña. </span></p>
            <p class="total">Total : <span> €790 </span></p>
        </div>
       
    </div>
    <div class="buttons">
    <button  [routerLink]="['/checkout']"class="btn" id="btn-edit">Editar</button>
    <button   class="btn" id="btn-confirm">Ir a pagar</button>

</div>
</section>