
<section>
    <app-admin-sidebar></app-admin-sidebar>
    <div class="container-myprofile">
        <div class="frame">
            <div class="title">
                <h2>Propiedades</h2>
                
            </div>

            <div class="container">

                <div class="row">
                    <!-- <div class="col-md-3 col-xs-3 form-group">
                        <input type="text" class="form-control" placeholder="Buscar" name="filterPromos" [(ngModel)]="filterPromos">
                    </div> -->
                    <!-- <div class="col-md-3 col-xs-3">
                        <select class="custom-select">
                            <option value="" hidden selected>Ordene por:</option>
                            <option value="">Producto</option>
                            <option value="">Subcategoría</option>
                        </select>
                    </div> -->
                    <div class="col-12 col-md-10 offset-md-1 text-right ">
                        <button (click)="openModalNuevaProp(contenido)" class="btn btn-primary" style="background-color: #1f4e84; border: none;">Nueva propiedad</button>
                    </div>
                </div>
                
                <div class="row mt-3 ">
                    <div class="col-12 col-md-10 offset-md-1 ">
                        
                        <div class="accordion scroll" id="accordionExample">
                            <div class="card" *ngFor="let categoria of categorias; let i=index;">
                                <div class="card-header" id="headingOne" style="background-color:white ; border-style: solid;  border-width: 0.1px;">
        
                                    <div class="row">
                                        <div class="col-md-2 text-center col-2 mb-2">
                                            <i [attr.id]="i" (click)="arrowIcono(i)" class="fas fa-angle-down fa-lg" 
                                            data-toggle="collapse" [attr.data-target]="'#collapse'+i" aria-expanded="true" aria-controls="collapseOne" 
                                            style="cursor: pointer;"></i>                                        
                                        </div>
        
                                        <div class="col-md-3 col">
                                            <h4 class="ml-xs-5 my-xs-4">{{categoria.nombre}}</h4>
                                            <!-- <h4>Id: {{categoria.id}}</h4> -->
                                        </div>
        
                                    </div>
        
                                </div>
                                <div [attr.id]="'collapse'+i" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body" style="background-color: rgb(245, 245, 245); border: solid;  border-width: 0.1px; border-top: none;">
                                        <!-- <h3>Subcategorias y propiedades: </h3> -->
                                        <!-- <p *ngFor="let subcategoria of categoria.subcategorias">
                                            {{subcategoria.nombre}}: <small *ngFor="let propiedad of subcategoria.propiedades"> {{propiedad.nombre}} </small>
                                        </p> -->
                                        <div class="row">
                                            <div class="col" *ngFor="let subcategoria of categoria.subcategorias">
                                                <h4 > {{subcategoria.nombre}} &nbsp;  
                                                    <!-- <i *ngIf="subcategoria.propiedades.length > 0" class="far fa-edit point" (click)="openModalEditProp(contenidoEdit)"></i> -->
                                                </h4>
                                                
                                                <hr>
                                                <div class="row">
                                                    <div class="col">
                                                        <h5 *ngFor="let propiedad of subcategoria.propiedades; let i=index"> 
                                                            <i *ngIf="subcategoria.propiedades.length > 0" class="far fa-edit point" (click)="openModalEditProp(contenidoEdit); editar(subcategoria, propiedad)"></i>&nbsp; {{propiedad.nombre}}: 
                                                            <small *ngFor="let valor of propiedad.valores; last as isLast"> {{valor.valor}}{{isLast ? '' : ', '}}</small>
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
        
                            </div>
                        </div>

                    </div>
                </div>

                <ng-template #contenido let-modal>
                    <div class="modal-header">
                        <h1 class="mt-4">Nueva propiedad</h1>
                        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row mt-4">
                            <div class="col-md-4 col-xs-12 overflow-auto">
                        
                                <app-tabla-promo-sub></app-tabla-promo-sub>
                        
                            </div>
                            <div class="col-md-8 col-xs-12">
                        
                                <app-form-propiedades></app-form-propiedades>
                                
                                
                            </div>
                        </div>
                        

                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="modal.close()"> Cancelar</button>
                    </div> -->
                </ng-template>


                <ng-template #contenidoEdit let-modal>
                    <div class="modal-header">
                        <h1 class="mt-4">Editar propiedad</h1>
                        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row mt-4">
                            <div class="col-md-12 col-xs-12">
                        
                                <app-form-propiedades></app-form-propiedades>
                                
                                
                            </div>
                        </div>
                        

                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="modal.close()"> Cancelar</button>
                    </div> -->
                </ng-template>

                
            </div>

        </div>
    </div>

</section>