<div class="container" >
    <a [routerLink]="['/home']" title="Home">
        <img src="../../assets/imagenes/wf.png" alt="logo">
    </a>
    <form class="contenedor-form"  autocomplete="off" >
     
        <div class="generar-psw">
            <h2>Generar nueva contraseña</h2>
           
            <div class="campo">
                <input [ngClass]="{'is-invalid': passwordInvalida}" type="password" id="password" placeholder="Nueva contraseña" formControlName="password"  >
                <i class="fas fa-lock" id="icono-lock"></i>
                <i class="far fa-eye" id="show" (click)="mostrarPsw()"></i>
                <i class="far fa-eye-slash" id="hide" (click)="mostrarPsw()"></i>
            </div>
            <span class="text-rojo" id="msj1" *ngIf="passwordInvalida"><small>La contraseña debe contener al menos 9
                caracteres </small></span>
            <div class="campo">
                <input  [ngClass]="{'is-invalid': passwordNoIguales}" type="password" id="password2" placeholder="Repetir contraseña"  formControlName="passwordRepeat" >
                <i class="fas fa-lock" id="icono-lock"></i>
                <i class="far fa-eye" id="show2" (click)="mostrarPsw2()"></i>
                <i class="far fa-eye-slash" id="hide2" (click)="mostrarPsw2()"></i>
            </div>
            <span class="text-rojo" id="msj2" *ngIf="passwordNoIguales"><small>Las contraseñas deben
                coincidir</small></span>
           
            <button type="submit" class="boton">Siguiente</button>
    
        </div>
       
    </form>
    </div>