$fte-ppal: 'Poppins',
sans-serif;
$fte-sec: 'Open Sans',
sans-serif;
$color-ppal:#fff;
$color-sec: rgb(87, 83, 83);
$color-ter: rgb(172, 165, 165);
$color-menues: rgb(243, 236, 236);

.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    min-height: 80vh;
    background: linear-gradient(to bottom, $color-sec, $color-ter, $color-menues, white);
    .contenedor-form{
        padding-top: 20px;
        padding-bottom: 30px;
        background: $color-menues;
        display: flex;
        border-radius: 15px;
        flex-direction: column;
        align-items: center;
        width: 30vw;
        min-width:290px;
        box-shadow: 2px 4px 10px grey;
        .generar-psw{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            h2 {
                font-family: $fte-ppal;
                text-transform: uppercase;
                color: $color-sec;
                align-self: flex-start;
                display: block;
                border-bottom: 1px solid grey;
                width: 100%;
                padding-bottom: 5px;
                font-size: 22x;
            }
            .campo {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                position: relative;
                i {
                    position: absolute;
                    padding: 13px;
                    font-size: 1.1em;
                    color: $color-ter;
                }
                
                .fa-eye,
                .fa-eye-slash {
                    margin-left: 86%;
                }
                .fa-eye-slash {
                    visibility: hidden;
                }
               
                #password {
                    height: 44px;
                    width: 100%;
                    font-family: $fte-sec;
                    font-size: 15px;
                    padding-left: 40px;
                    box-sizing: border-box;
                    margin-bottom: 20px;
                    &:focus {
                        outline: none;
                        border: 1px solid rgb(180, 170, 170);
                    }
                    &:focus~.fa-lock {
                        color: rgb(34, 33, 33);
                    
                    }
                    &.is-invalid{
                        border: 1px solid rgb(252, 62, 62);
                      }
                     &.is-invalid~i{
                        color:rgb(150, 9, 9);
                      }
                }
                .fa-lock{
                    position: absolute;
                    left: 0;
                    &.is-invalid{
                        border: 1px solid red;
                      }
                }
            }
            .boton {
                width: 100%;
                padding-top: 3px;
                padding-bottom: 3px;
                background-color: rgb(34, 33, 33);
                color: white;
                font-family: $fte-ppal;
                text-transform: uppercase;
                font-size: 16px;
                border: none;
                &:hover {
                    box-shadow: 1px 2px 2px gray;
                    background-color: $color-sec;
                }
                outline: none;
            }
        }
    }
}