<div class="container" >
    <a [routerLink]="['/home']" title="Home">
        <img src="../../assets/imagenes/wf.png" alt="logo">
    </a>
    <form class="contenedor-form"  autocomplete="off">
     
        <div class="generar-psw">
            <h2>Generar nueva contraseña</h2>
           
            <div class="campo">
                <input type="password" id="password" placeholder="Nueva contraseña"  >
                <i class="fas fa-lock" id="icono-lock"></i>
                <i class="far fa-eye" id="show" (click)="mostrarPsw()"></i>
                <i class="far fa-eye-slash" id="hide" (click)="mostrarPsw()"></i>
            </div>
             
            <div class="campo">
                <input type="password" id="password2" placeholder="Repetir contraseña" >
                <i class="fas fa-lock" id="icono-lock"></i>
                <i class="far fa-eye" id="show2" (click)="mostrarPsw2()"></i>
                <i class="far fa-eye-slash" id="hide2" (click)="mostrarPsw2()"></i>
            </div>
           
           
            <button type="submit" class="boton">Siguiente</button>
    
        </div>
       
    </form>
    </div>