.container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 90vh;
}

.container a img {
  width: 200px;
  height: 60px;
  margin-top: 35px;
}

.container .contenedor-form {
  padding-top: 20px;
  padding-bottom: 30px;
  background: #f3ecec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30vw;
  min-width: 290px;
  -webkit-box-shadow: 2px 4px 10px grey;
          box-shadow: 2px 4px 10px grey;
  margin-top: 50px;
}

.container .contenedor-form .generar-psw {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.container .contenedor-form .generar-psw h2 {
  font-family: "Open Sans", sans-serif;
  color: #575353;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: block;
  border-bottom: 1px solid grey;
  width: 100%;
  padding-bottom: 5px;
  font-size: 23px;
}

.container .contenedor-form .generar-psw .campo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.container .contenedor-form .generar-psw .campo i {
  position: absolute;
  padding: 13px;
  font-size: 1.1em;
  color: #aca5a5;
  top: 2px;
}

.container .contenedor-form .generar-psw .campo .fa-eye,
.container .contenedor-form .generar-psw .campo .fa-eye-slash {
  margin-left: 86%;
}

.container .contenedor-form .generar-psw .campo .fa-eye-slash {
  visibility: hidden;
}

.container .contenedor-form .generar-psw .campo #password, .container .contenedor-form .generar-psw .campo #password2 {
  height: 44px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  padding-left: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
}

.container .contenedor-form .generar-psw .campo #password:focus, .container .contenedor-form .generar-psw .campo #password2:focus {
  outline: none;
  border: 1px solid #b4aaaa;
}

.container .contenedor-form .generar-psw .campo #password:focus ~ .fa-lock, .container .contenedor-form .generar-psw .campo #password2:focus ~ .fa-lock {
  color: #222121;
}

.container .contenedor-form .generar-psw .campo #password.is-invalid, .container .contenedor-form .generar-psw .campo #password2.is-invalid {
  border: 1px solid #fc3e3e;
}

.container .contenedor-form .generar-psw .campo #password.is-invalid ~ i, .container .contenedor-form .generar-psw .campo #password2.is-invalid ~ i {
  color: #960909;
}

.container .contenedor-form .generar-psw .campo .fa-lock {
  position: absolute;
  left: 0;
}

.container .contenedor-form .generar-psw .campo .fa-lock.is-invalid {
  border: 1px solid red;
}

.container .contenedor-form .generar-psw .boton {
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #223e66;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  border: none;
  height: 40px;
  outline: none;
}

.container .contenedor-form .generar-psw .boton:hover {
  -webkit-box-shadow: 1px 2px 2px gray;
          box-shadow: 1px 2px 2px gray;
  background-color: #1f4e84;
}
/*# sourceMappingURL=new-password.component.css.map */