$fte-ppal: 'Poppins',
sans-serif;
$fte-sec: 'Open Sans',
sans-serif;
$color-ppal:#fff;
$color-sec: rgb(87, 83, 83);
$color-ter: rgb(172, 165, 165);
$color-menues: rgb(243, 236, 236);
$color-wf1:#223e66;
$color-wf2:#1f4e84;

.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    min-height: 90vh;
    a{
        img {
            width: 200px;
            height: 60px;
           margin-top: 35px;
        }
    }
    .contenedor-form{
        padding-top: 20px;
        padding-bottom: 30px;
        background: $color-menues;
        display: flex;
        border-radius: 15px;
        flex-direction: column;
        align-items: center;
        width: 30vw;
        min-width:290px;
        box-shadow: 2px 4px 10px grey;
        margin-top: 50px;
        .generar-psw{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            h2 {
                font-family: $fte-sec;
                color: $color-sec;
                align-self: flex-start;
                display: block;
                border-bottom: 1px solid grey;
                width: 100%;
                padding-bottom: 5px;
                font-size: 23px;
            }
            .campo {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                position: relative;
                i {
                    position: absolute;
                    padding: 13px;
                    font-size: 1.1em;
                    color: $color-ter;
                    top: 2px;
                }
                
                .fa-eye,
                .fa-eye-slash {
                    margin-left: 86%;
                }
                .fa-eye-slash {
                    visibility: hidden;
                }
               
                #password , #password2{
                    height: 44px;
                    width: 100%;
                    font-family: $fte-sec;
                    font-size: 15px;
                    padding-left: 40px;
                    box-sizing: border-box;
                    margin-bottom: 20px;
                    &:focus {
                        outline: none;
                        border: 1px solid rgb(180, 170, 170);
                    }
                    &:focus~.fa-lock {
                        color: rgb(34, 33, 33);
                    
                    }
                    &.is-invalid{
                        border: 1px solid rgb(252, 62, 62);
                      }
                     &.is-invalid~i{
                        color:rgb(150, 9, 9);
                      }
                }
                .fa-lock{
                    position: absolute;
                    left: 0;
                    &.is-invalid{
                        border: 1px solid red;
                      }
                }
            }
            .text-rojo{
                font-family: $fte-sec;
                color: red;
                text-align: left;
                display: block;
                font-size: 15px;
                margin-top: -22px;
                margin-bottom: 5px;
               }
            .boton {
                width: 100%;
                padding-top: 3px;
                padding-bottom: 3px;
                background-color:$color-wf1;
                color: white;
                font-family: $fte-sec;
                font-size: 17px;
                border: none;
                height: 40px;
                &:hover {
                    box-shadow: 1px 2px 2px gray;
                    background-color: $color-wf2;
                }
                outline: none;
            }
        }
    }
}
@media screen and (max-width: 1100px) {
    .container{
        .contenedor-form{           
            margin-top: 30px;
            width: 60vw;
            min-width: 290px;
            max-width: 450px;
            .generar-psw{
                width: 90%;
                h2 {
                    font-size: 20px;
                }
                .campo {
                    .fa-eye,
                    .fa-eye-slash {
                        margin-left: 84%;
                    }
                    .fa-eye-slash {
                        visibility: hidden;
                    }
                }
                .text-rojo{
                    font-size: 15px;
                    margin-top: -22px;
                    margin-bottom: 5px;
                   }
                .boton {
                    font-size: 17px;
                    height: 35px;
                }
            }
        }
    }
  
}