thead tr th{ 
    position: sticky;
    top: 0;
    z-index: 10;
    /* background-color: #1f4e84; */
  }
  
  .table-responsive { 
    height: 350px;
    overflow:scroll;
    overflow-x: hidden;
  }



  .table-responsive-valores { 
    height: auto;
    max-height: 180px;
    min-height: 100px;
    overflow:scroll;
    overflow-x: hidden;
  }

.table-responsive::-webkit-scrollbar {
    width: 7px;
  }
.table-responsive::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
}
.table-responsive::-webkit-scrollbar-thumb {
    background-color: #30384291;
    border-radius: 5px;
}

