<div id="contenedor-vermas">

    <section>
        <div class="superior">
            <div class="routes">
                <p><a [routerLink]="['/home']" title="Home">Inicio </a> <i class="fas fa-chevron-right"></i><a href="">
                        Categoría </a> <i class="fas fa-chevron-right"></i> <a href="">
                        {{infoProducto.subcategoria?.nombre}} </a> <i class="fas fa-chevron-right"></i> <a
                        href="">{{infoProducto?.nombre}} </a></p>
            </div>
            <div class="iconos-detalle-producto">
                <a title="Agregar a Favoritos"> <i class=" iconos far fa-heart"></i></a>
                <a title="Copiá este link!"> <i class="iconos fas fa-link"></i></a>
            </div>
        </div>
        <article class="contenedor-uno">
            <div id="izquierda" class="izquierda">
                <div id="img-sec" class="img-sec">
                    <div id="img-uno">
                        <img *ngIf="!infoProducto?.foto.imageUrl" src="../../../../../assets/imagenes/pumaEjemplo.png" alt="">
                        <img *ngIf="infoProducto?.foto.imageUrl" src="{{infoProducto?.foto.imageUrl}}" alt="">
                    </div>
                    <!-- <div id="img-dos">

                    </div>
                    <div id="img-tres"></div>
                    <div id="img-cuatro"></div>
                    <div id="img-cinco"></div>
                    <div id="img-seis"></div> -->
                </div>
                <div id="img-ppal" class="img-ppal">
                    <img src="{{infoProducto?.foto.imageUrl}}" alt="">
                </div>
            </div>
            <div id="derecha">
                <div id="caja-titulo">
                    <h2>{{infoProducto?.nombre}}</h2>


                </div>

                <div id="caja-precio">
                    <div >
                        <!-- contenedor del precio sku -->
                        <div class="precio" *ngIf="!mostrarPrecioProducto()">
                            <!-- <h3 *ngIf="!ofertaSku" class="pcio-sin-oferta">€50</h3>
                            <h3 *ngIf="ofertaSku"  class="pcio-oferta">€42</h3> -->
                            <h3 *ngIf="!ofertaSku" class="pcio-sin-oferta">€{{skuAEnviar?.precio | number: '.2'}}</h3>
                            <h3 *ngIf="ofertaSku" class="pcio-sin-oferta">€{{skuAEnviar?.promocion.precioOferta | number: '.2'}}</h3>
                            <div *ngIf="ofertaSku" class="row-oferta">
                                <span>€{{skuAEnviar?.precio | number: '.2'}} </span>
                                <p class="off ">{{skuAEnviar.promocion?.porcentaje * 100 | number: '2.0-0'}}% 0FF</p>
                            </div>
                        </div>
                        <!-- Fin del contenedor precio Sku  -->
                        <!-- Contenedor precio producto -->
                        <div class="precio" *ngIf="mostrarPrecioProducto()">
                            <h3 *ngIf="!infoProducto?.promocion" class="pcio-sin-oferta">€{{infoProducto?.precio | number: '.2'}}
                            </h3>
                            <h3 *ngIf="infoProducto?.promocion" class="pcio-oferta">€{{infoProducto.promocion?.precioOferta | number:
                                '.2'}}</h3>
                            <div *ngIf="infoProducto?.promocion" class="row-oferta">
                                <span>€{{infoProducto?.precio | number: '.2'}} </span>
                                <p class="off ">{{infoProducto.promocion?.porcentaje * 100 | number: '2.0-0'}}% 0FF</p>
                            </div>
                        </div>
                        <!-- Fin del contenedor precio producto -->
                    </div>
                    <i class="fas fa-medal" *ngIf="destacado"></i>
                </div>

                <br>
                <div class="text-center" id="cont-props">

                    <select id="color" *ngFor="let propiedad of propiedadesFiltradas;let i=index " class="select"
                        (change)="valoresSiguienteCombobox(i)">
                        <option hidden selected value="">{{propiedad.nombre}}</option>
                        <option [value]="valor.valor" *ngFor="let valor of propiedad.valores">{{valor.valor}}</option>
                    </select>

                </div>
                <div *ngIf="mostrarActualizar" class="caja-actualizar" (click)=" resetSeleccion()">
                    <p class="actulizar"> <i class="fas fa-redo"></i> Reiniciar selección</p>
                </div>
                <div id="caja-carrito">
                    <div class="color-quantity">
                        <div class="modify-quantity">
                            <!-- <i class="fas fa-minus-circle" (click)="removeOne(items.cantidad"></i>
                            <span class="item-quantity">  {{items.cantidad}}</span>
                            <i class="fas fa-plus-circle" (click)="addOne(item.cantidad)"></i> -->
                            <i class="fas fa-minus-circle"></i>
                            <span class="item-quantity"> 1</span>
                            <i class="fas fa-plus-circle"></i>
                        </div>
                    </div>
                    <hr>
                    <p>Costo de envío se informará al realizar la operación.</p>
                    <button mat-button (click)="agregarCarrito(skuAEnviar)" class="btn" disabled id="btn-carrito">Agregar al
                        Carrito</button>
                    <button mat-button (click)="agregarCarrito(skuAEnviar)" class="btn" disabled id="btn-comprar">Comprar
                        ahora</button>

                </div>

            </div>
        </article>
        <article class="contenedor-dos">
            <div id="datos">
                <p>Marca: {{infoProducto.marca?.nombre}}</p>
                <p>Modelo:</p>

                <p>Disponible: <span *ngIf="stock">Si</span> <span *ngIf="!stock">No</span> </p>

            </div>
            <div id="descripcion-producto">
                <h3>Descripción </h3>
                <p>{{infoProducto.descripcion}}</p>

            </div>
        </article>
        <article class="contenedor-tres" id="contenedor-tres">
            <p id="titulo-a">¿Tienes alguna pregunta?</p>

            <textarea name="pregunta" id="pregunta" cols="30" rows="10"
                placeholder="Escribe tu mensaje aquí..."></textarea>
            <div id="contenedorCartel">
                <p id="cartel">Estamos para despejar todas tus dudas, dejános tu consulta</p>
                <button mat-button type="submit" id="enviarMsg">
                    Enviar
                </button>
            </div>


        </article>
    </section>
</div>