thead tr th{ 
    position: sticky;
    top: 0;
    z-index: 10;
    /* background-color: #1f4e84; */
  }
  
  .table-responsive { 
    height: 350px;
    overflow:scroll;
    overflow-x: hidden;
  }
