
        <div class="frame step2" id="step2">
            <div class="title">
                <h3> <img src="../../../assets/imagenes/nro-dos.png" alt="" > Combinaciones posibles</h3>
                <button id="save">Guardar</button>
            </div>

            <form action="" class="form form2 " autocomplete="off" [formGroup]="formSkus" (ngSubmit)="crearSku()">
                <div class="container-white">
                    <div class="row">
                        <p>Elaboramos una lista de propiedades en base a la categoría y subcategoría elegida, puedes
                            combinarlas para generar productos o añadir nuevas. </p>
                    </div>

                    <ng-template #contenido let-modal>
                        <div class="modal-header">
                            <h4 class="modalTitle">
                                Agregar nueva propiedad</h4>
                            <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" class="form-add-property">
                                <div class="propiedad-campo">
                                    <label for="propiedad" class="propiedad">Propiedad:</label>
                                    <input type="text" placeholder="Ej: Color,Talle,Tamaño" id="propiedad">
                                </div>
                                <div class="valores-campo">
                                    <p>Ingrese los valores que puede tomar la nueva propiedad.</p>
                                    <div class="valores">
                                        <label for="valor1">Valor 1:</label>
                                        <input type="text" class="valor" id="valor1">
                                    </div>
                                    <div class="valores">
                                        <label for="valor2">Valor 2:</label>
                                        <input type="text" class="valor" id="valor2">
                                    </div>
                                    <div class="valores">
                                        <label for="valor3">Valor 3:</label>
                                        <input type="text" class="valor" id="valor3">
                                    </div>
                                    <div class="valores">
                                        <label for="valor4">Valor 4:</label>
                                        <input type="text" class="valor" id="valor4">
                                    </div>
                                </div>
                                <button class="btn" (click)="modal.close()"> Agregar</button>
                            </form>
                        </div>
                        <!-- <div class="modal-footer">
                    <button type="button" class="btn-modal" (click)="modal.close()"> Agregar</button>
                </div> -->
                    </ng-template>

                    <button type="button" class="btn-add-property " (click)="openCentrado(contenido)">
                        <p id="add"><i class="far fa-plus-square"></i> Agregar propiedades</p>

                    </button>
                    <div class="row properties">
                        <select class="property" *ngFor="let property of properties ; let i=index" formControlName="valores">
                            <option hidden selected value="">-{{property.nombre}} -</option>

                            <option [ngValue]="value" *ngFor="let value of property?.valores" >
                                {{value.valor}}</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="availability-container">
                            <label for="availabilitySku"> Disponibles:</label>
                            <input type="number" id="availabilitySku" formControlName="disponibilidad">
                        </div>
                        <div class="price-container">
                            <label for="precio"> Precio:</label>
                            <p id="euro-signo">€</p>
                            <input type="number" id="precio" formControlName="precio">
                        </div>
                        <div class="precioOferta">
                            <div class="pcioOfertaInput" id=inputOfertaSku>
                                <label for="oferta"> Precio de Oferta:</label>
                                <p id="euro">€</p>
                                <input type="number" id="oferta" formControlName="precioOferta">
                            </div>
                            <div class="check-oferta">
                                <input type="checkbox" id="check" (input)="precioOferta()">
                                <label for="check" id="textoferta"> Este producto está en oferta</label>
                            </div>
                        </div>
                    </div>
                    <button class="btn-end" id="btn-two">Guardar y finalizar</button>
                    <div class="container-skus">
                        <span class="line"></span>

                        <div class="new-products">
                            <div class="product">
                                <p class="description"> Samsung Galaxy S20 - Negro - 64GB - 4u - €850 </p>
                                <i class="far fa-edit"></i>
                            </div>
                            <div class="product">
                                <p class="description"> Samsung Galaxy S20 - Negro - 32GB - 7u - €820</p>
                                <i class="far fa-edit"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </form>


        </div>
