input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.frame {
  width: 85%;
  margin-top: 30px;
  margin-left: 50px;
}

.frame .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.frame .title h3 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  color: #575353;
}

.frame .title h3 img {
  width: 25px;
  height: 25px;
  margin-top: -3px;
  margin-left: -40px;
  margin-right: 10px;
}

.frame .title #save {
  display: none;
  background-color: #222121;
  color: white;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  width: 140px;
  height: 35px;
  border-radius: 30px;
  font-size: 15px;
  border: none;
}

.frame .title #save:hover {
  background-color: #575353;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 1px 2px 1px grey;
          box-shadow: 1px 2px 1px grey;
}

.frame .form1 {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.frame .form1 .container-white {
  width: 100%;
  background-color: white;
  padding: 30px 60px 15px 60px;
  -webkit-box-shadow: 1px 2px 3px #575353;
          box-shadow: 1px 2px 3px #575353;
}

.frame .form1 .container-white .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.frame .form1 .container-white .row .name #name {
  margin-left: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  font-size: 14px;
  width: 400px;
  padding-right: 3px;
}

.frame .form1 .container-white .row .name #name:focus {
  border-bottom: 2px solid #2779cd;
}

.frame .form1 .container-white .row .name #name.is-invalid {
  border-bottom: 1px solid red;
}

.frame .form1 .container-white .row .brand {
  margin-left: 60px;
}

.frame .form1 .container-white .row .brand .inputBrand {
  margin-left: 10px;
  padding: 0;
}

.frame .form1 .container-white .row .brand #brand {
  border: none;
  outline: none;
  font-size: 14px;
  padding-right: 3px;
  padding-left: 0;
}

.frame .form1 .container-white .row .brand .fa-plus-square {
  color: #2779cd;
  margin-left: 10px;
  font-size: 17px;
  cursor: pointer;
}

.frame .form1 .container-white .row .brand .fa-plus-square:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.frame .form1 .container-white .row .text-rojo {
  font-family: "Open Sans", sans-serif;
  color: red;
  text-align: right;
  margin-bottom: 0;
  font-size: 12px;
}

.frame .form1 .container-white .row .add-img {
  outline: none;
}

.frame .form1 .container-white .row .add-img p {
  font-size: 15px;
}

.frame .form1 .container-white .row .add-img p span {
  color: grey;
  font-size: 13px;
}

.frame .form1 .container-white .row .add-img #add-files {
  font-size: 13px;
  display: block;
  margin-top: -10px;
  outline: none;
}

.frame .form1 .container-white .row .input-msj #categories, .frame .form1 .container-white .row .input-msj #subcategories, .frame .form1 .container-white .row .input-msj #marca {
  font-size: 15px;
  border: none;
  outline: none;
  width: 140px;
  padding-left: 5px;
  border-bottom: 1px solid grey;
}

.frame .form1 .container-white .row .input-msj #categories:focus, .frame .form1 .container-white .row .input-msj #subcategories:focus, .frame .form1 .container-white .row .input-msj #marca:focus {
  border-bottom: 2px solid #2779cd;
}

.frame .form1 .container-white .row .input-msj #categories.is-invalid, .frame .form1 .container-white .row .input-msj #subcategories.is-invalid, .frame .form1 .container-white .row .input-msj #marca.is-invalid {
  border-bottom: 1px solid red;
}

.frame .form1 .container-white .row .input-msj #subcategories {
  margin-left: 90px;
  display: none;
}

.frame .form1 .container-white .row .input-msj #marca {
  margin-left: 90px;
}

.frame .form1 .container-white .row #unidadMedida {
  font-size: 15px;
  border: none;
  outline: none;
  width: 160px;
  padding-left: 5px;
  border-bottom: 1px solid grey;
}

.frame .form1 .container-white .row #unidadMedida:focus {
  border-bottom: 2px solid #2779cd;
}

.frame .form1 .container-white .row #unidadMedida.is-invalid {
  border-bottom: 1px solid red;
}

.frame .form1 .container-white .row #combinations {
  margin-right: 10px;
  margin-top: -5px;
  margin-bottom: -20px;
}

.frame .form1 .container-white .row #property {
  font-size: 15px;
  border: none;
  outline: none;
  width: 110px;
  padding-left: 5px;
  border-bottom: 1px solid grey;
}

.frame .form1 .container-white .row #property:focus {
  border-bottom: 2px solid #2779cd;
}

.frame .form1 .container-white .row .price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.frame .form1 .container-white .row .price-container #euro {
  font-weight: bold;
  font-size: 14px;
  display: block;
  margin-left: 10px;
}

.frame .form1 .container-white .row .price-container #price {
  border: none;
  outline: none;
  font-size: 14px;
  padding-right: 3px;
  padding-left: 3px;
  width: 90px;
  border-bottom: 1px solid grey;
}

.frame .form1 .container-white .row .price-container #price:focus {
  border-bottom: 2px solid #2779cd;
}

.frame .form1 .container-white .row .price-container #price.is-invalid {
  border-bottom: 1px solid red;
}

.frame .form1 .container-white .row .precioOferta {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.frame .form1 .container-white .row .precioOferta .pcioOfertaInput {
  display: none;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.frame .form1 .container-white .row .precioOferta .pcioOfertaInput #euro {
  font-weight: bold;
  font-size: 14px;
  display: block;
  margin-left: 10px;
}

.frame .form1 .container-white .row .precioOferta .pcioOfertaInput #precioOferta {
  border: none;
  outline: none;
  font-size: 14px;
  padding-right: 3px;
  padding-left: 3px;
  width: 90px;
  border-bottom: 1px solid grey;
}

.frame .form1 .container-white .row .precioOferta .pcioOfertaInput #precioOferta:focus {
  border-bottom: 2px solid #2779cd;
}

.frame .form1 .container-white .row .precioOferta .check-oferta {
  margin-left: 20px;
}

.frame .form1 .container-white .row .precioOferta .check-oferta #checkbox-oferta {
  margin-right: 10px;
  margin-top: -5px;
  margin-bottom: -20px;
}

.frame .form1 .container-white .row .availability-container {
  margin-left: 60px;
}

.frame .form1 .container-white .row .availability-container #availability {
  border: none;
  outline: none;
  margin-left: 8px;
  font-size: 14px;
  padding-right: 3px;
  padding-left: 3px;
  width: 60px;
  border-bottom: 1px solid grey;
}

.frame .form1 .container-white .row .availability-container #availability:focus {
  border-bottom: 2px solid #2779cd;
}

.frame .form1 .container-white .row .destacado {
  margin-left: 60px;
}

.frame .form1 .container-white .row .destacado #destacado {
  margin-right: 10px;
  margin-top: -5px;
  margin-bottom: -20px;
}

.frame .form1 .container-white .text-rojo {
  font-family: "Open Sans", sans-serif;
  color: red;
  text-align: left;
  margin-bottom: 0;
  font-size: 14px;
}

.frame .form1 .container-white .subandcat {
  margin-top: -20px;
}

.frame .form1 .container-white .textarea {
  width: 103%;
  font-family: "Open Sans", sans-serif;
  margin-left: -1vw;
  margin-bottom: 25px;
}

.frame .form1 .container-white .textarea #descripcion {
  resize: none;
  outline: none;
  width: 100%;
  padding: 5px 10px;
}

.frame .form1 .btn-end {
  background-color: #223e66;
  color: white;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  border: 0px;
  padding: 7px 13px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 35%;
  border-radius: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.frame .form1 .btn-end:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
/*# sourceMappingURL=step1.component.css.map */