<div class="container-fluid" id="contai">
    <div class="row">
        <!-- listado de productos DERECHA -->
        <div class="col-12 col-md-7 col-lg-7 offset-lg-1 container-left">
            <div class="row">
                <div class="col">
                    <h2>Mi carrito</h2>
                </div>
            </div>

            <div class="msg-empty-cart" *ngIf="totalProductos===0">
                <p>Tu carrito está vacio</p>
            </div>
            <div class="  row products-list">
                <div class="col ">
                    <ul class="shopping-cart-items">
                        <li *ngFor="let item of carrito?.items">
                            <div class="row ">
                                <div class="col-12 col-lg-6  ">
                                    <div class="row ">
                                        <div class="col-2 col-lg-1 ">
                                            <!-- img carrito con api -->
                                            <img *ngIf="item.sku.defaultProducto && item.sku.foto" src="{{item.sku.foto?.imageUrl}}" alt="item compra" />
                                            <img *ngIf="item.sku.defaultProducto && !item.sku.foto" src="../../../../assets/imagenes/noimage.png" alt="item compra" />

                                            <img *ngIf="item.sku.producto && item.sku.producto.foto" src="{{item.sku.producto.foto?.imageUrl}}" alt="item compra" />
                                            <img *ngIf="item.sku.producto && !item.sku.producto.foto" src="../../../../assets/imagenes/noimage.png" alt="item compra" />
                                            <!-- fin img carrito con api -->

                                            <!-- img carrito local storage -->
                                            <!-- <img *ngIf="item.sku.foto " src="{{item.sku.foto?.imageUrl}}" alt="item compra" />
                                            <img *ngIf="!item.sku.foto " src="../../../../assets/imagenes/noimage.png" alt="item compra" /> -->
                                            <!-- fin carrito local storage -->

                                        </div>

                                        <div class="col-9 col-lg-9  info">
                                            <div class="row">
                                                <!--  carrito local api -->
                                                <span class="item-name" *ngIf="!item.sku.defaultProducto" [routerLink]="['/viewmore',item.sku.producto.id]">{{item?.sku.nombre}}</span>
                                                <span class="item-name" *ngIf="item.sku.defaultProducto"  [routerLink]="['/viewmore',item.sku.defaultProducto.id]">{{item?.sku.nombre}}</span>
                                                <!-- fin carrito api -->

                  
                                            </div>
                                            <div class="row row-info">
                                                <span>{{item?.sku.valoresData}}</span>
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6  ">
                                    <div class="row ">
                                        <div class="col-4  price-u">
                                            <span>Precio:</span>
                                            <span *ngIf="!item.sku.promocion?.estaVigente" class="item-price">€{{item?.sku.precio | number: '.0-2'}}</span>
                                            <span *ngIf="item.sku.promocion?.estaVigente" class="item-price">€{{item?.sku.promocion.precioOferta | number:
                                                '.0-2'}}</span>
                                        </div>
                                        <div class=" col-4  quantity">
                                            <span>Cantidad:</span>
                                            <div class="modify-quantity">
                                                <i class="fas fa-minus-circle"id="restar" (click)="decrementarCantidad(item);cerrarComponentes()"></i>
                                                <span class="item-quantity">{{item?.cantidad }}</span>
                                                <i class="fas fa-plus-circle" id="sumar"  (click)="incrementarCantidad(item);cerrarComponentes()"></i>
                                            </div>
                                        </div>
                                        <div class="col-4  subtotal">
                                            <span>Subtotal:</span>
                                            <span class="item-subtotal">€{{item?.subtotal | number: '.0-2'}}</span>
                                        </div>
                                        <i id="close" class="fas fa-times" (click)=" eliminarItem(item.sku.id);cerrarComponentes()"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <!-- resumen de compra IZQUIERDA -->
        <div class="col-12 col-md-5 col-lg-4 offset-lg-1 container-right">
            <div class="row  summary">
                <h2>Resumen de compra</h2>
                <div id="subtotal-summary"><span>Subtotal:</span> <span>€{{carrito?.total | number: '.0-2'}}</span>
                </div>
                <div id="total-summary"><span>Total:</span> <span>€{{carrito?.total | number: '.0-2'}}</span> </div>
                <div class="coupon">
                    <i class="fas fa-ticket-alt"></i> <span>¿Tenés un cupón de descuento?</span>
                </div>
                <!-- <button [routerLink]="['/pre-checkout']">Continuar</button> -->

            </div>
            <div class="row">
                <button mat-button matStepperNext class="btn-cont" (click)="enviarInfoACheckout()"  *ngIf="estaLogueado() && carrito?.total!==0 " id="btn-cont">Continuar</button>
                <span *ngIf="!estaLogueado() && carrito?.total!==0 "  class="msje-inicio" > <a  [routerLink]="['/pre-checkout']">Iniciar sesión</a> para continuar.</span>
            </div>
        </div>
    </div>
 
</div>