<section>
    <!-- listado de productos DERECHA -->
    <div class="container-left">
        <h2>Mi carrito</h2>
        <div class="msg-empty-cart" *ngIf="totalProductos===0">
            <p>Tu carrito está vacio</p>
        </div>
        <div class="products-list" *ngIf="totalProductos > 0">
            <ul class="shopping-cart-items">
                <li class="clearfix" *ngFor="let item of carrito.items">
                    <img src="../../../../../assets/imagenes/celu.jpg" alt="item compra" />
                    <div class="info">
                        <span class="item-name">{{item.producto.nombre}}</span>
                        <div class="row-info">
                            <span></span>
                        </div>
                    </div>
                    <div class="price-u">
                        <span>Precio:</span>
                        <span class="item-price">${{item.producto.precio}}</span>
                    </div>
                    <div class="quantity">
                        <span>Cantidad:</span>
                        <div class="modify-quantity">
                            <i class="fas fa-minus-circle" (click)="decrementarCantidad(item)"></i>
                            <span class="item-quantity">{{item.cantidad}}</span>
                            <i class="fas fa-plus-circle" (click)="incrementarCantidad(item)"></i>
                        </div>
                    </div>
                    <div class="subtotal">
                        <span>Subtotal:</span>
                        <span class="item-subtotal">${{(item.producto.precio* item.cantidad)}}</span>
                    </div>
                    <i id="close" class="fas fa-times" (click)="eliminarItem(item.producto.id)"></i>

                </li>
            </ul>
        </div>
        <!-- <div class="products-list">
            <ul class="shopping-cart-items">
                <li class="clearfix" >
                    <img src="../../../../../assets/imagenes/prod2.png" alt="item compra" />
                    <div class="info">
                        <span class="item-name">Samsung Galaxy S20</span>
                        <div class="row-info">
                            <span>Color: Negro</span>
                            <span></span>
                        </div>
                    </div>
                    <div class="price-u">
                        <span>Precio:</span>
                        <span class="item-price">€700</span>
                    </div>
                    <div class="quantity">
                        <span>Cantidad:</span>
                        <div class="modify-quantity">
                            <i class="fas fa-minus-circle" ></i>
                            <span class="item-quantity">1</span>
                            <i class="fas fa-plus-circle" ></i>
                        </div>
                    </div>
                    <div class="subtotal">
                        <span>Subtotal:</span>
                        <span class="item-subtotal">€700</span>
                    </div>
                    <i id="close" class="fas fa-times" ></i>
                    <i class="far fa-trash-alt" (click)="remove(item)"></i>
                </li>
            </ul>
        </div> -->


        <!-- <div class="products-list">
            <ul class="shopping-cart-items">
                <li class="clearfix">
                    <img src="../../../../../assets/imagenes/celu.jpg" alt="item compra" />
                    <div class="info">
                        <span class="item-name">Samsung Galaxy J7</span>
                        <div class="row-info">
                            <span>Color: Dorado</span>
                            <span></span>
                        </div>
                    </div>
                    <div class="price-u">
                        <span>Precio:</span>
                        <span class="item-price">25000</span>
                    </div>
                    <div class="quantity">
                        <span>Cantidad:</span>
                        <div class="modify-quantity">
                            <i class="fas fa-minus-circle"></i>
                            <span class="item-quantity">1</span>
                            <i class="fas fa-plus-circle"></i>
                        </div>
                    </div>
                    <div class="subtotal">
                        <span>Subtotal:</span>
                        <span class="item-subtotal">$25000</span>
                    </div>
                    <i id="close" class="fas fa-times"></i>
                    <i class="far fa-trash-alt" (click)="remove(item)"></i>
                </li>
            </ul>
        </div> -->


    </div>

    <!-- resumen de compra IZQUIERDA -->
    <!-- <div class="container-right" *ngIf="totalProductos > 0">
        <div class="summary">
            <h2>Resumen de compra</h2>
            <div id="subtotal-summary"><span>Subtotal:</span> <span> ${{carrito.total}}</span> </div>
            <div id="total-summary"><span>Total:</span> <span>${{carrito.total}} </span> </div>
            <div class="coupon">
                <i class="fas fa-ticket-alt"></i> <span>¿Tenés un cupón de descuento?</span>
            </div>
        </div>
        <button [routerLink]="['/pre-checkout']">CONTINUAR</button>
    </div> -->
    <div class="container-right">
        <div class="summary">
            <h2>Resumen de compra</h2>
            <div id="subtotal-summary"><span>Subtotal:</span> <span>€700</span> </div>
            <div id="total-summary"><span>Total:</span> <span>€700</span> </div>
            <div class="coupon">
                <i class="fas fa-ticket-alt"></i> <span>¿Tenés un cupón de descuento?</span>
            </div>
        </div>
        <button [routerLink]="['/pre-checkout']">CONTINUAR</button>
    </div>


</section>