
<div class="benefits-row">
    <div class="card uno">
        <i class="fas fa-exchange-alt"></i>
        <div class="description">
            <p class="title">Devolución </p>
            <p class="subtitle separado">sin problemas</p>
        </div>
    </div>
    <div class="card dos">
        <i class="far fa-heart"></i>
        <div class="description">
            <p class="title">Nos importás</p>
            <p class="subtitle desktop"> Preparamos tu pedido cuidando los detalles.</p>
            <p class="subtitle mobile">Cuidamos cada detalle.</p>
        </div>
    </div>
    <div class="card tres envio" >
        <i class="fas fa-truck"></i>
        <div class="description">
            <p class="title">Envío a domicilio</p>
            <p class="subtitle separado">Rápido y seguro</p>
        </div>
    </div>
    <div class="card cuatro">
        <i class="far fa-comments"></i>
        <div class="description">
            <p class="title">Atención personalizada</p>
            <p class="subtitle desktop">Por teléfono, email o nuestras redes </p>
            <p class="subtitle mobile">Por diversos medios </p>
        </div>
    </div>
</div>
