<section>
    
    <app-admin-sidebar></app-admin-sidebar>
    <!-- <app-user-sidebar></app-user-sidebar> -->
    <div class="container-brands">
        
        <div class="frame">
            <div class="title">
                <h2>Marcas</h2>
                
            </div>

            <div class="container">
                
                <a class="btn-flotante d-block d-sm-none rounded-circle" (click)="openModal(longContent)">+</a>

                <div class="row">
                    
                    <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="Buscar" name="filterBrands" [(ngModel)]="filterBrands">
                    </div>
                    <div class="col-md col-xs-12 text-right d-none d-sm-block">
                        <button class="btn btn-primary" (click)="openModal(longContent)"
                                style="background-color: #1f4e84; border: none;">Nueva marca</button>
                    </div>
                </div>
    
                <article class="list mt-3 scroll">
                    
                    <div class="row pb-3 pt-3 hoverRow" *ngFor="let brand of brands | sort:filterBrands" >
                        <div class="col-3">
                            {{brand.nombre}}
                        </div>
                        <div class="col text-right">
                            <i class="far fa-edit fa-lg point" (click)="openModalModify(modifyMarca, brand)"></i>
                        </div>
                        <hr>
                    </div>
                    
                </article>
    
                
                <ng-template #longContent let-modal>
                    <div class="modal-header">
                      <h2 class="modal-title mt-3">Agregar nueva marca</h2>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click'); this.formMarca.reset()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <h4>Indique el nombre que tendrá la nueva marca que desea crear.</h4>
                      <hr>
                      <form autocomplete="off" [formGroup]="formMarca" (submit)="crearMarca();">
                            <div class="form-group row mt-3 mb-0">
                                
                            <label for="marca" class="col-2 col-form-label">Nombre: </label>
                            <div class="col">
                                <input type="text" class="form-control" id="marca" formControlName="nombre"
                                       [class.is-invalid]="nombreNoValido">
                                <small *ngIf="nombreNoValido" class="text-danger">Ingrese un nombre válido.</small>
                            </div>
                            
                            
                            </div>
    
                            <div class="row text-right mt-4">
                                <div class="col">
                                    <button class="btn btn-secondary" style="border: none; margin-right: 5px;" (click)="modal.dismiss('Cross click'); this.formMarca.reset()">Cancelar</button>
                                    <button type="submit" class="btn btn-primary" style="background-color: #1f4e84; border: none;">Aceptar</button>
                                </div>
                                
                            </div>
    
                      </form>
                    </div>
                    
                </ng-template>
    
    
                  
    
                <ng-template #modifyMarca let-modal>
                    <div class="modal-header">
                        <h2 class="modal-title mt-3">Modificar marca</h2>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click'); this.formMarca.reset()">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>Indique el nombre que tendrá la marca que desea modificar.</h4>
                        <hr>
                        <form autocomplete="off" [formGroup]="formMarca" (submit)="modificarMarca();">
                            <div class="form-group row mt-3 mb-0">
                                
                                <label for="marca" class="col-2 col-form-label">Nombre: </label>
                                <div class="col">
                                    <input type="text" class="form-control" id="marca" formControlName="nombre"
                                            [class.is-invalid]="nombreNoValido">
                                    <small *ngIf="nombreNoValido" class="text-danger">Ingrese un nombre válido.</small>
                                </div>
                            
                            
                            </div>
    
                            <div class="row text-right mt-4">
                                <div class="col">
                                    <button class="btn btn-secondary" style="border: none; margin-right: 5px;" (click)="modal.dismiss('Cross click'); this.formMarca.reset()">Cancelar</button>
                                    <button type="submit" class="btn btn-primary" style="background-color: #1f4e84; border: none;">Aceptar</button>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                    
                </ng-template>
            </div>

            

        </div>
    </div>


</section>






