<section>
    <div id="lateralMenu" >
       <div id="botonMenu" class="boton" > 
           <i  class="fas fa-angle-right " id="open-menu" (click)="showLateralMenu()" ></i> 
           <i  class="fas fa-close " id="close-menu" (click)="hiddeLateralMenu()"></i>
        </div>
        <div class="lateral-container" id="lateral-container" >
            <ul class="userOptions" >
                <li [routerLink]="['/add-product']"> Añadir Producto <i class="fas fa-angle-down "></i> </li>
                <li [routerLink]="['/products-list']"> Productos <i class="fas fa-angle-down "></i> </li>
                <li [routerLink]="['/brands-panel']"> Marcas<i class="fas fa-angle-down "></i> </li>
                <li [routerLink]="['/admin-profile']"> Mis Datos </li>
                <li (click)="logout()"><i class="fas fa-sign-out-alt"></i>Cerrar Sesión </li>
            </ul>
        </div>
    </div>
    <div class="container-brands">
        <div class="frame">
            <div class="title">
                <h2>Marcas</h2>
                <button id="save">Guardar</button>
            </div>
            <div class="add-brand">
             <form class="formBrand" (submit)=addBrand(txtBrand.value)>
              <div id="newBrand">
                   <input class="input" type="text"  placeholder="Ingrese una nueva marca" #txtBrand id="input">
                   <button type="submit" class="btn-plus"> <i class="far fa-plus-square" id="plus"></i></button>
    
             </div>
            </form>
                <p id="add" (click)="showInput()"><i class="far fa-plus-square"></i> Agregar marca</p>
            </div>
            <article class="list">
                <div class="item-brand" *ngFor="let brand of brands">
                    <p>{{brand}}</p><i class="far fa-edit"></i>
                </div>
                
                
            </article>

      </div>
    </div>



</section>