$fte-ppal: 'Poppins',
sans-serif;
$fte-sec: 'Open Sans',
sans-serif;
$color-ppal:#fff;
$color-sec: rgb(87, 83, 83);
$color-ter: rgb(172, 165, 165);
$color-menues: rgb(243, 236, 236);
$color-wf1:#223e66;
$color-wf2:#1f4e84;
$color-wf3:#2779cd;
$color-wf4:#70b8f3;
section {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 200px auto;
    .container-brands {
        display: flex;
        justify-content: center;
        background: linear-gradient(to bottom, $color-menues, white);
        .frame {
            width: 85%;
            margin-top: 30px;
            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 5px;
                h2 {
                    font-family: $fte-ppal;
                    font-size: 22px;
                    color: $color-sec;
                }
                #save {
                    display: none;
                    background-color: rgb(34, 33, 33);
                    color: white;
                    font-family: $fte-ppal;
                    text-transform: uppercase;
                    width: 140px;
                    height: 35px;
                    border-radius: 30px;
                    font-size: 15px;
                    border: none;
                    &:hover {
                        background-color: $color-sec;
                        transform: scale(1.03);
                        box-shadow: 1px 2px 1px grey;
                    }
                }
            }
            .add-brand {
                .formBrand {
                    #newBrand {
                        display: none;
                        margin-bottom: 8px;
                        width: 280px;
                        .input {
                            width: 250px;
                            box-shadow: 1px 1px 1px $color-ter;
                            padding-left: 8px;
                            font-family: $fte-sec;
                            border: 1px solid $color-wf2;
                            font-size: 14px;
                            padding-top: 4px;
                            padding-bottom: 4px;
                            &:focus {
                                outline: none;
                                border: 2px solid $color-wf2;
                            }
                        }
                        .btn-plus {
                            border: none;
                            outline: none;
                            .fa-plus-square {
                                color: $color-wf3;
                                margin-right: 4px;
                                font-size: 1.3em;
                                &:hover {
                                    transform: scale(1.1);
                                    color: $color-wf2;
                                }
                            }
                        }
                    }
                }
                #add {
                    margin-left: 2px;
                    font-family: $fte-sec;
                    cursor: pointer;
                    .fa-plus-square {
                        color: $color-wf3;
                        margin-right: 4px;
                    }
                    &:hover>i {
                        transform: scale(1.1);
                    }
                }
            }
            .list {
                background-color: white;
                padding: 30px 60px;
                box-shadow: 1px 2px 3px $color-sec;
                margin-bottom: 60px;
                .item-brand {
                    display: grid;
                    grid-template-columns: 80% 20%;
                    grid-template-rows: 1fr;
                    font-family: $fte-sec;
                    padding-bottom: 1px;
                    padding-top: 5px;
                    font-size: 15px;
                    &:hover {
                        border-bottom: 1px solid rgba(128, 128, 128, 0.295);
                    }
                    p {
                        cursor: default;
                    }
                    span {
                        color: grey;
                        text-align: center;
                        cursor: default;
                    }
                    i {
                        text-align: right;
                        color: $color-sec;
                        cursor: pointer;
                        &:hover {
                            font-size: 1.1em;
                            color: $color-wf3;
                        }
                    }
                }
            }
        }
    }
}

.hoverRow{
    border-bottom: 1px solid rgba(128, 128, 128, 0.295);
    &:hover{
        border-bottom: 1.5px solid rgba(32, 32, 32, 0.295);
    }
}