
$fte-ppal: 'Poppins', sans-serif;
$color-ppal:#fff;
 $color-sec: rgb(87, 83, 83);
 $color-ter: rgb(172, 165, 165);
 $color-menues: rgb(243, 236, 236);
 $fte-sec: 'Open Sans', sans-serif;
 $color-wf1:#223e66;
 $color-wf2:#1f4e84;
 $color-wf3:#2779cd;
 $color-wf4:#70b8f3;



.items{
    width: 100%;
    height: 170px;
    display:grid;
    grid-template-columns: 7% 18% 45% 23% 7%;
    justify-items: center;
    box-sizing: border-box;
    outline: none;
    border-bottom: 1px solid $color-menues;   
    background-color: $color-ppal;
 
    cursor: default;
    &:hover >.i-fondo {
        display: block;
    }
    &:hover{
        border-bottom: 1px solid rgba(161, 157, 157, 0.589);
    }
  
    .fa-medal{
    align-self: flex-start;
    margin-top: 7px;
    color:$color-wf3;
    font-size:1.6em;
     transform:rotate(-170deg);
    }
   .img-fondo{
       background-color: $color-ppal;
      outline: none;
       display: flex;
       align-items:center;
       justify-content: flex-start;
       cursor: pointer;
        img{
            width: 150px ;
            height: 150px;
            display: block;
            margin-left: -5px;
            margin-right: 10px;
        }
    }
    .i-fondo{
        display: none;
        background-color: $color-ppal;
        outline: none;
        border-radius: 15px 15px 0px 0px;
        width: 100%;
        position: relative;
        i{ outline: none;
            position: absolute;
            font-size: 1.2em;
            right: 20px;
            top: 10px;
            z-index: 1;
            color: $color-sec;
        }
    }
    .title-pcio{
        justify-self: flex-start;
        margin-top: 20px;
        h3{ outline: none;
            font-size: 21px;
            padding-right: 5px;
            font-family: $fte-sec;
            width: 700px;
            line-height: 20px;
            &::first-letter{
                text-transform: uppercase;
            }
            &:hover{
                cursor: pointer;
            }
        
        }
        .cont-precios{
            display: flex;
            flex-direction: column;
             justify-content: center;
            //align-items: center;
            outline: none;
            width: fit-content;
            margin-top: 40px;
            .row-oferta{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: baseline;
              
                span{
                    text-decoration: line-through;
                     font-size: 14px;
                     color:grey;
                     font-family: $fte-sec;
                     margin-bottom: -3px;
                     outline: none;
                     display: block;
                }
                .off{
                    font-size: 15px;
                    font-family: $fte-sec;
                    display: block;
                    margin-left: 5px;
                    margin-bottom: 0px;
                    color: orangered;
                }
            }
            .precio, .precioOferta{
                font-weight: bold;
                font-size: 22px;
                font-family: $fte-sec;
                outline: none;
                color: $color-sec;
            }
            .precioOferta{
                color: $color-wf3;
            }
       
        }
       
    }
    
   .cont-props{
       margin-top: 70px;
       margin-left: -80px;
       //
       display: flex;
       align-items: baseline;
       flex-direction: row;
       flex-wrap: wrap;
       width: 100%;
        height: 40px;
       //
    .props{
        margin-top: 0px;
        margin-bottom: 0px;
        display: flex;
        align-items: baseline;
        flex-direction: row;
        // p{
        //     color: rgb(158, 155, 155);
        //     font-size: 12px;
        //     line-height: 3px;
        //     font-style: italic;
        //     margin-right: 4px;
        // }
        span{
            font-weight: normal;
            display: block;
            min-width: 35px;
            color: rgb(158, 155, 155);
            font-size: 12px;
            line-height: 3px;
            font-style: italic;
            margin-right: 4px;
        }
    }
   }
  
}
.move{
    top: 20px;
    margin-top: 20px;
    
}
@media  screen and (max-width: 767px) {
    .cont-props{
        display: none;
    }
    .items{
        width: 100%;
        height: 140px;
        display:grid;
        grid-template-columns: 7% 35% 45%  10%;
    }
}
@media  screen and (max-width: 768px)  {
    
    .i-fondo{
        display: block;
        
    }
    #fav{
        right: 0px;
    }
    .items{
        height: 140px;
        .img-fondo{
            cursor: pointer;
             img{
                 width: 105px ;
                 height: 105px;
                 display: block;
                 margin-left: -5px;
             }
         }
         .title-pcio{
            justify-self: flex-start;
            margin-top: 20px;
            h3{ 
                font-size: 16px;
                width: 40vw;            
            }
            .cont-precios{
                margin-top: 0px;
                .precio, .precioOferta{
                    font-size: 20px;
                }           
            }
           
        }
        .cont-props{
            margin-top: 60px;
        }
    }
}

@media  screen and (min-width: 500px) and (max-width: 768px)  {
    .items{
        height: 140px;
        .img-fondo{
            cursor: pointer;
             img{
                 width: 125px ;
                 height: 125px;
             }
         }
         .title-pcio{
            h3{ 
                font-size: 18px;          
            }
            .cont-precios{
                .precio, .precioOferta{
                    font-size: 21px;
                }           
            }
           
        }
        }
    #fav{
        right: 12px;
    }
}





