
$fte-ppal: 'Poppins', sans-serif;
$color-ppal:#fff;
 $color-sec: rgb(87, 83, 83);
 $color-ter: rgb(172, 165, 165);
 $color-menues: rgb(243, 236, 236);
 $fte-sec: 'Open Sans', sans-serif;
 $color-wf1:#223e66;
 $color-wf2:#1f4e84;
 $color-wf3:#2779cd;
 $color-wf4:#70b8f3;



.items{
    width: 100%;
    height: 170px;
    display:grid;
    grid-template-columns: 7% 18% 45% 23% 7%;
    justify-items: center;
    box-sizing: border-box;
    outline: none;
    border-bottom: 1px solid $color-menues;   
    background-color: $color-ppal;
 
  cursor: default;
  &:hover >.i-fondo {
    display: block;
  }
  &:hover{
      border-bottom: 1px solid rgba(161, 157, 157, 0.589);
  }
  .medalla{
    align-self: flex-start;
    margin-top: 7px;
  width:35px;
  height:35px;
  transform:rotate(15deg);
}
.fa-medal{
align-self: flex-start;
margin-top: 7px;
  color:$color-wf3;
  font-size:1.6em;
    transform:rotate(-170deg);
}
   .img-fondo{
       background-color: $color-ppal;
      outline: none;
       display: flex;
       align-items:center;
       justify-content: flex-start;
       cursor: pointer;
        img{
            width: 150px ;
            height: 150px;
            display: block;
            margin-left: -5px;
        }
    }
    .i-fondo{
        display: none;
        background-color: $color-ppal;
        outline: none;
        border-radius: 15px 15px 0px 0px;
        width: 100%;
        position: relative;
        i{ outline: none;
            position: absolute;
            font-size: 1.2em;
            right: 20px;
            top: 10px;
            z-index: 1;
            color: $color-sec;
        }
    }
    .title-pcio{
        justify-self: flex-start;
        margin-top: 20px;
        h3{ outline: none;
            font-size: 21px;
            padding-right: 5px;
            font-family: $fte-sec;
            width: 700px;
            line-height: 20px;
            &::first-letter{
                text-transform: uppercase;
            }
            &:hover{
                cursor: pointer;
            }
        
        }
        .cont-precios{
            display: flex;
            flex-direction: column;
             justify-content: center;
            //align-items: center;
            outline: none;
            width: fit-content;
            margin-top: 40px;
            .row-oferta{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: baseline;
              
                span{
                    text-decoration: line-through;
                     font-size: 14px;
                     color:grey;
                     font-family: $fte-sec;
                     margin-bottom: -3px;
                     outline: none;
                     display: block;
                }
                .off{
                    font-size: 15px;
                    font-family: $fte-sec;
                    display: block;
                    margin-left: 5px;
                    margin-bottom: 0px;
                    color: orangered;
                }
            }
            .precio, .precioOferta{
                font-weight: bold;
                font-size: 22px;
                font-family: $fte-sec;
                outline: none;
                color: $color-sec;
            }
            .precioOferta{
                color: $color-wf3;
            }
       
        }
       
    }
    
   .cont-props{
       margin-top: 95px;
    .props{
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: -80px;
        display: flex;
        align-items: baseline;
        p{
            color: rgb(158, 155, 155);
            font-size: 12px;
            line-height: 3px;
            font-style: italic;
            margin-right: 4px;
        }
        span{
            font-weight: normal;
            font-style: normal;
            font-size: 12px;
            margin-right: 4px;
            color: rgba(104, 98, 98, 0.801);
        }
    }
   }
  
}
.move{
    top: 20px;
    margin-top: 20px;
    
}

@media  screen and (max-width: 400px) {

    .items{
        width: 100%;
        max-width: 230px;
        height: 220px;
        grid-template-rows: 8px 100px 32px  45px 35px;
        .i-fondo{
            i{
                font-size: 1em;
                right: 10px;
                top: 10px;
            }
        }                     
        .img-fondo{
            height: fit-content;
            .etiqueta{
                 padding: 1px 3px;
            }
            .off{
             font-size: 10px;
            }
            .destacado{
             font-size: 9px;
             font-weight: bold;
            }
             img{
                 width: 100px ;
                 height: 100px;
                
             }
         }
        h3{
            font-size: 17px;
            margin-top: 0px;
        }
        .cont-precios{
            margin-top: 18px;
        .precio{
            font-size: 20px;
        }
        span{
             font-size: 14px;
        }
        }
        a{
            font-size: 14px;
           .botones{
            font-size: 14px;
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 0;
           }}
    }
}



