
<div class="items">
  <div>
    <i class="fas fa-medal" *ngIf="destacado"></i>
  </div>
  
  <div class="img-fondo" [routerLink]="['/viewmore',producto.id]">
  
    <img *ngIf="tieneFotoPpal" id="fotoprod"  src="{{producto.foto.imageUrl}}" alt="foto-producto">
  </div>
  <div class="title-pcio">
    <h3 [routerLink]="['/viewmore',producto.id]">{{producto.nombre}}</h3>

    <div class="cont-precios">
      <div *ngIf="oferta" class="row-oferta">
        <span>€{{producto.precio }}</span>
        <p class="off ">{{producto.promocion?.porcentaje * 100}}% 0FF</p>
      </div>
      <p class="precio" *ngIf="mostrarPrecio()">€{{producto.precio}}</p>
      <p class="precioOferta" *ngIf="oferta">€{{producto.promocion?.precioOferta}}</p>
    </div>


  </div>
  <div class="cont-props ">
    <div *ngFor="let propiedad of propiedades; let i=index" class="props">
      <p> {{propiedad.nombre}}: </p>
      <span *ngFor="let valor of propiedad?.valores "> {{valor.valor}}</span>
    </div>
  </div>
  <div class="i-fondo d-block"><i id="fav" class=" iconos far fa-heart fav" (click)="saveToFav()"></i></div>
</div>