
<div class="items">
  <div>
    <i class="fas fa-medal" *ngIf="destacado" ></i>
  </div>
  
  <div class="img-fondo" [routerLink]="['/viewmore',producto.id]">
  
    <img *ngIf="tieneFotoPpal" id="fotoprod"  src="{{producto.foto.imageUrl}}" alt="foto-producto">
    <img *ngIf="!tieneFotoPpal" class="" src="assets/imagenes/noimage.png" alt="" style="width: 60px; height: auto;">
  </div>
  <div class="title-pcio">
    <h3 [routerLink]="['/viewmore',producto.id]">{{producto.nombre}}</h3>

    <div class="cont-precios">
      <div *ngIf="oferta" class="row-oferta">
        <span>{{producto.precio | currency:'EUR':'symbol'}}</span>
        <p class="off ">{{producto.promocion?.porcentaje * 100 | number:'2.0-0'}}% 0FF</p>
      </div>
      <p class="precio" *ngIf="mostrarPrecio()">{{producto.precio | currency:'EUR':'symbol'}}</p>
      <p class="precioOferta" *ngIf="oferta">{{producto.promocion?.precioOferta | currency:'EUR':'symbol'}}</p>
    </div>


  </div>
  <div class="cont-props container">
    <!-- <div *ngFor="let propiedad of arrayMostrarProp; let i=index" class="props">
      <p> {{propiedad.nombre}}: </p>
      <span *ngFor="let valor of propiedad?.valores "> {{valor}}</span> 
    
    </div> -->
    <div *ngFor="let prop of propiedadesYValoresUsadosEnSkus[0]; let i=index" class="props">
      <div style="font-size: 13px;">{{prop.nombre}}</div>&nbsp;<span *ngFor="let valor of prop.valores">{{valor.valor}}</span>
    </div>
  </div>
  <div class="i-fondo d-block"><i id="fav" class=" iconos far fa-heart fav" (click)="saveToFav()"></i></div>
</div>


