
$fte-ppal: 'Poppins', sans-serif;
$color-ppal:#fff;
 $color-sec: rgb(87, 83, 83);
 $color-ter: rgb(172, 165, 165);
 $color-menues: rgb(243, 236, 236);
 $fte-sec: 'Open Sans', sans-serif;
 $color-wf1:#223e66;
 $color-wf2:#1f4e84;
 $color-wf3:#2779cd;
 $color-wf4:#70b8f3;

%prop-botones-prod {
   background-color:$color-wf1;
   font-size: 14px;
   color: white;
   font-family: $fte-ppal;
   text-transform: uppercase;
   border: 0px ;
   margin-top:35px ;
   padding: 4px 10px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

.items{
    width: 100%;
    height: 170px;
    display:grid;
    grid-template-columns: 20% 45% 28% 7%;
    justify-items: center;
    box-sizing: border-box;
    outline: none;
    border-bottom: 1px solid $color-menues;   
  cursor: default;
  &:hover >.i-fondo {
    display: block;
  }
  &:hover{
      border-bottom: 1px solid rgba(161, 157, 157, 0.589);
  }
   .img-fondo{
       background-color: $color-ppal;
      outline: none;
       display: flex;
       align-items: center;
       justify-content: center;
       cursor: pointer;
        img{
            width: 150px ;
            height: 150px;
            display: block;
        }
    }
    .i-fondo{
        display: none;
        background-color: $color-ppal;
        outline: none;
        border-radius: 15px 15px 0px 0px;
        width: 100%;
        position: relative;
        i{ outline: none;
            position: absolute;
            font-size: 1.2em;
            right: 20px;
            top: 10px;
            z-index: 1;
        }
    }
    .title-props{
        justify-self: flex-start;
        align-self: center;
        h3{ outline: none;
            font-size: 21px;
            font-weight: bold;
            padding-right: 5px;
            font-family: $fte-sec;
            margin-top: -10px;
            width: 700px;
            line-height: 20px;
            &::first-letter{
                text-transform: uppercase;
            }
            &:hover{
                cursor: pointer;
            }
        
        }
        .etiquetas{
            display: flex;
            align-items: center;
            justify-content:space-between ;
            width: 150px;
            .etiqueta{
                display: block;
                color: white;
                font-family: $fte-sec;
                padding: 1px 6px;
                text-align: center;
                box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.719);
                
           }
           .off{
            background-color: rgb(187, 24, 24);
            font-size: 12px;
    
           }
           .destacado{
            background-color: rgb(255, 238, 0);
            color: black;
            font-size: 12px;
           }

        }
        .props{
            margin-top: 15px;
            p{
                color: grey;
                font-size: 12px;
                line-height: 2px;
            }
        }
       
    }
    .cont-precios{
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        outline: none; 
        margin-bottom: -55px;
        margin-right: -130px;
        width: fit-content;
        .precio{
            font-weight: bold;
            font-size: 28px;
            font-family: $fte-sec;
            outline: none;
            color: $color-wf3;
           
        }
        span{
            text-decoration: line-through;
             font-size: 16px;
            //  color: rgb(187, 24, 24);
             font-family: $fte-sec;
             margin-bottom: -10px;
             margin-right: 3px;
             outline: none;
        
        }
    }
   
    a{
    //  @extend %prop-botones-prod;

    .botones{
     @extend %prop-botones-prod;
     
    }}
    
   
}
.move{
    top: 20px;
    margin-top: 20px;
    
}

@media  screen and (max-width: 400px) {

    .items{
        width: 100%;
        max-width: 230px;
        height: 220px;
        grid-template-rows: 8px 100px 32px  45px 35px;
        .i-fondo{
            i{
                font-size: 1em;
                right: 10px;
                top: 10px;
            }
        }                     
        .img-fondo{
            height: fit-content;
            .etiqueta{
                 padding: 1px 3px;
            }
            .off{
             font-size: 10px;
            }
            .destacado{
             font-size: 9px;
             font-weight: bold;
            }
             img{
                 width: 100px ;
                 height: 100px;
                
             }
         }
        h3{
            font-size: 17px;
            margin-top: 0px;
        }
        .cont-precios{
            margin-top: 18px;
        .precio{
            font-size: 20px;
        }
        span{
             font-size: 14px;
        }
        }
        a{
            font-size: 14px;
           .botones{
            font-size: 14px;
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 0;
           }}
    }
}
