<div class="items">

  <div class="img-fondo" [routerLink]="['/viewmore',producto.id]">
   
    <img src="../../../../../assets/imagenes/celu.jpg" alt=".">
  </div>
  <div class="title-props">
    <h3 [routerLink]="['/viewmore',producto.id]">{{producto.nombre}}</h3>
    <div class="etiquetas">
      <p class="off etiqueta" *ngIf="oferta">20% 0FF</p>
      <p class="destacado etiqueta" *ngIf="destacado">DESTACADO</p>
    </div>
    <div class="props">
      <p>Color: Negro, Blanco, <span>Dorado</span> </p>
      <p>Memoria: 32GB , 64GB</p>
    </div>
  
  </div>

  <div class="cont-precios">
    <span *ngIf="oferta">€{{producto.precio + 95}}</span>
    <p class="precio">€{{producto.precio}}</p>
  </div>
  
  <div class="i-fondo"><i id="fav" class=" iconos far fa-heart fav" (click)="saveToFav()"></i></div>
</div>