<div class="container-fluid" id="header">
    <div class="row menu-header">
        <div class=" col-lg-2 logo">
            <a [routerLink]="['/home']" title="Home">
                <img src="../../../assets/imagenes/wantfrom1.jpeg" alt="log" id="logo_header">
            </a>
        </div>
        <div class="col-lg-10 " id="  fila-header">
            <div class="row  fila ">
                <div class="col-1  col-md-4 col-lg-3">
                    <!-- <div class="row"> -->
                    <nav class="nav-options d-none d-md-block ">
                        <ul class="menu">
                            <li (mouseover)="showCategories()"><a>Categorías</a></li>
                            <li id="oferta-option"><a href="#section-ofertas">Ofertas</a></li>
                        </ul>
                    </nav>
                    <!-- </div> -->
                    <div id="menu">
                        <i class="fas fa-bars opciones" id="openM" (click)="showMenu()"></i>
                        <i class="fas fa-times" id="closeM" (click)="hiddeMenu()"></i>
                    </div>
                </div>
                <div class="col col-md-6 col-lg-7 ">
                    <form (submit)=buscarProducto(txtProducto.value) autocomplete="off">
                        <div class="buscador">
                            <input class=barraDeBusqueda type="text" placeholder=" Buscar" id="buscador" #txtProducto>
                            <button type="submit" class="btn-lupa"> <i class="fas fa-search" id="lupa"></i></button>

                        </div>
                    </form>
                </div>
                <div class="col-2  col-md-2 " id="contenedor_iconos">
                    <div class="row">
                        <div class="col-2 d-none d-md-block">
                            <div *ngIf="estaLogueado" class="iconos notificaciones" id="campanita">
                                <div #notificationsInbox></div>
                            </div>
                        </div>
                        <div class="col-5 carrito-icono">
                            <div *ngIf="!hasRole('ROLE_ADMIN') || !estaLogueado" class="iconos carrito" [routerLink]="['/shopping-cart']">
                                <!-- <i class="fas fa-shopping-cart opciones"></i> -->
                                <img src="../../../../../assets/imagenes/icon-cart.png" alt="">
                                <div class="iconos circulo" *ngIf="totalItemsCarrito !== 0">
                                    <span>{{totalItemsCarrito}}</span>
                                </div>
                            </div>

                            <div *ngIf="estaLogueado && hasRole('ROLE_ADMIN')" class="iconos carrito" [routerLink]="['/sales']">
                                <!-- <i class="fas fa-window-restore" ></i> -->
                                <img src="../../../../../assets/imagenes/icon-ventas.png" alt="">
                            </div>
                        </div>
                        <div class="col-3 d-none d-md-block">
                            <div class="iconos miperfil" (mouseover)="showUserMenu()" (click)="irPerfil()">
                                <!-- <i class="fas fa-user-circle opciones"></i> -->
                                <img src="../../../../../assets/imagenes/icon-user.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- User options y bg -->
<!-- User not authenticated -->
<ul *ngIf="!estaLogueado" id="userOptions" (mouseover)="showUserMenu()" (mouseout)="hiddeUserMenu()">
    <a [routerLink]="['/login']">
        <li>Iniciar Sesión </li>
    </a>
    <!-- <a [routerLink]="['user-sign-up']">
        <li>Registrarse</li>
    </a> -->
</ul>
<!-- Normal user -->
<ul *ngIf="estaLogueado && hasRole('ROLE_USER')" id="userOptions" (mouseover)="showUserMenu()" (mouseout)="hiddeUserMenu()">
    <a [routerLink]="['/user-profile']">
        <li>Mis Datos</li>
    </a>
    <a [routerLink]="['/user-my-purchases']">
        <li>Compras</li>
    </a>
    <a [routerLink]="['/user-favorites']">
        <li>Favoritos</li>
    </a>
    <li (click)="logout()" id="salir">Salir<i class="fas fa-sign-out-alt"></i></li>
</ul>
<!-- Admin user -->
<ul *ngIf="estaLogueado && hasRole('ROLE_ADMIN')" id="userOptions" (mouseover)="showUserMenu()" (mouseout)="hiddeUserMenu()">
    <a>
        <li [routerLink]="['/admin-profile']">Administración</li>
    </a>
    <a>
        <li [routerLink]="['products-list']">Productos</li>
    </a>
    <li (click)="logout()" id="salir">Salir <i class="fas fa-sign-out-alt"></i></li>
</ul>
<!-- FIN Admin user -->
<!-- categorias y subcategorias -->
<div class="bg-menu" id="bg-menu"></div>
<div class="contenedor-categorias" (mouseover)="showCategories()" (mouseout)="hiddeSubAndCategories()" id="container-subcategories">
    <div class="submenu " id="categoriesList">
        <li class="items-categories" *ngFor="let categoria of categorias; let i=index" (mouseover)="showsubcategories(i)" >{{categoria.nombre}}<i class="fas fa-angle-down flecha-cat" ></i>

        </li>
    </div>

    <div id="container-sub" >
       <li class="subcategoria-item" *ngFor="let subcategoria of subcategoriasMostrar" (click)="buscarProducto(subcategoria.nombre)">{{subcategoria.nombre}}</li>
    </div>
</div>
<!--FIN categorias y subcategorias -->

<!-- ***** menu hamburguesa**** -->
<!-- User not authenticated  -->
<ul *ngIf="!estaLogueado" id="hamburgerM" class="hamburgerM">
    <a [routerLink]="['/login']">
        <li><i class="fas fa-sign-in-alt"></i>Iniciar Sesión</li>
    </a>
    <!-- <a [routerLink]="['/user-sign-up']">
        <li><i class="fas fa-user-plus"></i>Registrarse</li>
    </a> -->

    <a href="#section-categories">
        <li> <i class="fas fa-tags"></i>Categorias</li>
    </a>
    <a href="#section-ofertas">
        <li> <i class="fas fa-percentage"></i> Ofertas</li>
    </a>
</ul>

<!-- Normal user -->
<ul *ngIf="estaLogueado && hasRole('ROLE_USER')" id="hamburgerM" class="hamburgerM">
    <a [routerLink]="['/user-profile']">
        <li> <i class="fas fa-file-invoice"></i>Mis Datos</li>
    </a>
    <a [routerLink]="['/user-my-purchases']">
        <li> <i class="fas fa-shopping-bag"></i>Compras</li>
    </a>
    <a [routerLink]="['/user-favorites']">
        <li><i class="fas fa-heart"></i>Favoritos</li>
    </a>
    <a>
        <li> <i class="fas fa-bell opciones"></i>Notificaciones</li>
    </a>

    <a href="#section-categories">
        <li> <i class="fas fa-tags"></i>Categorias</li>
    </a>
    <a href="#section-ofertas">
        <li> <i class="fas fa-percentage"></i>Ofertas</li>
    </a>
    <li (click)="logout()" id="separation">Salir<i class="fas fa-sign-out-alt"></i></li>
</ul>
<!-- Admin user -->
<ul *ngIf="estaLogueado && hasRole('ROLE_ADMIN')" class="hamburgerM" id="hamburgerM" (mouseout)="hiddeUserMenu()">
    <!-- <a [routerLink]="['/admin-profile']">
        <li> <i class="fas fa-file-invoice"></i>Mis Datos </li>
    </a> -->
    <a>
        <li [routerLink]="['/admin-profile']"><i class="fas fa-cog"></i>Administración</li>
    </a>
    <a>
        <li [routerLink]="['products-list']"><i class="fas fa-cubes"></i>Productos</li>
    </a>
    <a>
        <li> <i class="fas fa-bell opciones"></i>Notificaciones</li>
    </a>

    <a href="#section-categories">
        <li> <i class="fas fa-tags"></i>Categorias</li>
    </a>
    <a href="#section-ofertas">
        <li> <i class="fas fa-percentage"></i>Ofertas</li>
    </a>
    <li (click)="logout()" id="separation">Salir <i class="fas fa-sign-out-alt"></i></li>
</ul>