$fte-ppal: 'Poppins',
sans-serif;
$fte-sec: 'Open Sans',
sans-serif;
$color-ppal:#fff;
$color-sec: rgb(87, 83, 83);
$color-ter: rgb(172, 165, 165);
$color-menues: rgb(243, 236, 236);
$color-wf1:#223e66;
$color-wf2:#1f4e84;
$color-wf3:#2779cd;
$color-wf4:#70b8f3;
header {
    display: flex;;
    align-items: center;
    justify-content: center;
    background-color: $color-ppal;
    height: 75px;
    box-shadow: 0px 3px 5px rgb(128, 126, 126);
    width: 100%;
    position: relative;
    z-index: 5;
    letter-spacing: 1px;
    .menu-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .logo {
            width: 15vw;
            a {
                img {
                    width: 200px;
                    height:55px;
                    margin-left: 15px;
                    &:focus{
                        outline: none;
                    }
                }
                &:focus{
                    outline: none;
                }
            }
        
        }
        #fila-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 83%;
            /////// menu ///////
            nav {
                display: block;
                align-self: center;
                height: fit-content;
                ul {
                    // para todos los ul menu y submenu
                    list-style: none;
                    font-family: $fte-ppal;
                    font-size: 17px;
                    margin-bottom: 0;
                }
                .menu {
                    display: flex;
                    justify-content: space-around;
                    width: 20vw;
                    margin-left: 40px;
                    li {
                        a {
                            text-decoration: none;
                            background-image: linear-gradient($color-wf2, $color-wf4);
                            background-position: 0% 100%;
                            background-repeat: no-repeat;
                            background-size: 0% 2px;
                            transition: background-size .3s;
                            color: $color-sec;
                            &:visited {
                                color: $color-sec;
                            }
                            &:hover {
                                background-size: 100% 2px;
                            }
                            &:focus {
                                background-size: 100% 2px;
                                outline: none;
                            }
                        }
                    }
                }
            }
        }
        ///// icono menu hamburguesa///
        #menu {
            display: none;
        }
        //// buscador ////
        .buscador {
            .barraDeBusqueda {
                width: 36vw;
                box-sizing: content-box;
                height: 35px;
                font-size: 17px;
                border:none;
                 border-bottom: 1px solid grey;
                background-image: linear-gradient($color-wf2, $color-wf4);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: background-size .3s;
                // border-radius: 30px 4px 4px 30px;
                // border: 1px solid rgb(199, 195, 195);
                // background-color: $color-menues;
                color: black;
                font-family: $fte-ppal;
                font-size: 16px;
                padding-left: 15px;
                padding-right: 30px;
                margin-top: -7px;
               margin-left: -30px;
                &:focus {
                    outline: none;
                    background-size: 100% 2px;
                  border-bottom: none
                }
                &:hover {
                    cursor: text;
                }
             
            }
            .btn-lupa {
                background-color: " ";
                border: none;
                .fa-search {
                    margin-left: -2.5vw;
                    color: rgb(95, 93, 93);
                }
                &:focus{
                    outline: none;
                }
                &:focus>i{
                    color: $color-wf3;
                }
            }
        }
        ////iconos////
        #contenedor_iconos {
            display: flex;
            justify-content: space-between;
            width: 10.5vw;
            align-items: baseline;
            margin-right: 20px ;
            .iconos {
                display: flex;
                width: 10vw;
                align-items: center;
                justify-content: center;
                position: relative;
                i {
                    color: $color-sec;
                    font-size: 1.5em;
                    &:hover {
                        transform: scale(1.1);
                        cursor: pointer;
                    }
                    &:focus{
                        outline: none;
                    }
                }
                &:focus{
                    outline: none;
                }
                .fa-user-circle {
                    font-size: 1.9em;
                }
                img{
                    width: 22px;
                    height: 22px;
                    &:focus{
                        outline: none;
                    }
                }
                .circulo {
                    background-color: rgb(187, 24, 24);
                    border-radius: 20px;
                    width: 15px;
                    height: 15px;
                    top: -5px;
                    left: 42px;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span {
                        font-weight: normal;
                        display: block;
                        color: $color-ppal;
                        text-align: center;
                        font-size: 11px;
                        margin-top: 1px;
                        margin-left: 1px;
                    }
                }
            }
            .menu {
                display: none;

            }
            .notificaciones{
                margin-left: -45px;
            }
        }
    }
}

#salir{
    border-top: 1px solid $color-ter;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
//////////// user Options //////
#userOptions {
    position: absolute;
    z-index: 50;
    right: 10px;
    background-color: $color-menues;
    width: 200px;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    list-style: none;
    display: none;
    cursor: pointer;
    a {
        text-decoration: none;
    }
    li {
        background-color: $color-menues;
        font-size: 16px;
        color: $color-sec;
        width: 100%;
        padding: 7px 23px;
        box-sizing: border-box;
        font-family: $fte-ppal;
     text-align: right;
        &:hover {
            background-color: $color-wf1;
            color: $color-ppal;
            cursor: pointer;
        }
        &:hover>i {
            font-size: 1em;
        }
        i {
            font-size: 0.8em;
            margin-bottom: 3px;
        }
    }
}

.bg-menu {
    width: 100%;
    height: 100%;
    min-height:100vh;
    background-color: rgba(31, 27, 27, 0.26);
    position: absolute;
    z-index: 3;
    top: 80px;
    left: 0px;
    display: none;
}

// categorias y subcategorias
.contenedor-categorias {

    .submenu {
        display: none;
        width: 210px;
        background-color: $color-menues;
        padding-top: 10px;
        padding-bottom: 15px;
        border-radius: 0px 0px 10px 10px;
        position: absolute;
        left: 18vw;
        z-index: 50;
        border-right: 1px solid rgba(187, 184, 184, 0.5);
        //    top: 115px;        
        li {
            background-color: $color-menues;
            font-size: 16px;
            color: $color-sec;
            width: 100%;
            padding: 7px 23px;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:hover {
                color: $color-ppal;
                background-color: $color-wf1;
                cursor: default;
            }
            &:hover>i {
                transform: rotate(-90deg);
                transition-duration: 0.5s;
                cursor: default;
            }
        }
    }
    #container-sub {
        background: $color-menues;
        width: 16vw;
        height: fit-content;
        min-height: 317px;
        position: absolute;
        // top: 115px;
        left: 31.6vw;
        z-index: 49;
        border-radius: 0px 0px 10px 0px;
        display: none;
        padding: 20px 15px 20px 25px;
    }
}


@media screen and  (min-width: 1201px) and (max-width: 1300px) {
    
    .contenedor-categorias {

        .submenu {
            
            left: 17vw;
            
        }
        #container-sub {
            
            left: 34vw;
        }
    }
    
}

//// *** **** MENU HAMBURGUESA **** *** ///
.hamburgerM{
    display: none;
}

@media screen and (max-width: 700px) {
   header{
       width: 100%;
       box-shadow: 0px 3px 5px rgb(128, 126, 126);
      height: 95px;
       .menu-header{
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
            margin-top: -53px;
           #fila-header{
               display: flex;
               align-items: center;
               justify-content: center;
               margin-top: -12px;
               position: relative;
               width: 100%;
            nav{
                display: none;
            }
            #menu{
                display: block;
                position: absolute;
                left: 4.68vw;
                top: 20px;
               
                #closeM{
                    display: none;
                    margin-top: 4px;
                }
            }
            form{
                position: absolute;
                top: 20px;
                left: 23vw;
                .buscador{
                    .barraDeBusqueda{
                        width: 52vw;
                        height: 32px;
                        box-shadow: 1px 1px 2px $color-sec;
                    }
                    .btn-lupa{
                        margin-left: -5.6vw;
                    }
                }
            }
            #contenedor_iconos{
                position: absolute;
                  right: 1vw;
                  top: 7px;
                .iconos{
                    margin-top: 10px;
                    margin-left: auto;
                    margin-right: auto;
                    i{
                        font-size: 1.1em
                    }
                }
                .notificaciones{
                   display: none;
                }
                .miperfil{
                display: none;
                }
                .carrito{
                    .circulo{
                        margin-left: -19px;
                    }
                }
            }
           }
       }
   }
   #logo_header{
       width: 160px;
       height: 40px;
       margin-left: -40vw;
       margin-top: 10px;
   }
   .hamburgerM{
    display: none;
    position: absolute;
    z-index: 16;
    background-color: $color-wf1;
    opacity: 0.95;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    a{
        text-decoration: none;
       }
    li{
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
     
        font-family: $fte-ppal;
        font-size: 18px;
        padding: 7px 20px 7px 20px;
        i{
            font-size: 0.9em;
        }
    }
    #separation{
        margin-top: 15px;
        display: block;
        border-top: 1px solid rgba(255, 255, 255, 0.541);
        display: flex;
        align-items: center;
        justify-content: space-between;
     
    }
}
}
 @media screen and  (min-width: 701px) and (max-width: 1020px) {
    header{
        box-shadow: 0px 3px 5px rgb(128, 126, 126);
        width: 100%;
        height: 95px;
        .menu-header{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-top: 25px;
            .logo{
                margin-left:0px;
               width: fit-content;
               top: -40px;
                position: absolute;
                left: 0px;
                img{
                 width: 140px;
                 height: 28px;
                }
            }
            #fila-header{
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin-top: 17px;
                width: 100%;
             nav{
                 display: none;
             }
             #menu{
                 display: block;
                 #closeM{
                     display: none;
                 }
               
             }
             form{
                 .buscador{
                     margin-right: -3px;
                     .barraDeBusqueda{
                         width: 52vw;
                         height: 35px;
                         box-shadow: 1px 1px 2px $color-sec;
                     }
                     .btn-lupa{
                         margin-left: -3vw;
                     }
                 }
             }
             #contenedor_iconos{
                 display: flex;
                 flex-direction: row;
                 justify-content: space-between;
                 align-items: center;
                 width: 23vw;
                 margin-right: -35px;
                 .iconos{
                     i{
                         font-size: 1.1em
                     }
                 }
                 .miperfil{
                     i{
                         font-size: 1.2em;
                     }
                 }
                 .carrito{
                     position: relative;
                     .circulo{
                         position: absolute;
                         left: 52%;
                     }
                 }
             }
            }
        }
    } 
 }
 @media screen and  (min-width: 1021px) and (max-width: 1200px) {

    .contenedor-categorias {

        .submenu {
            
            left: 20vw;
            
        }
        #container-sub {
            
            left: 40vw;
        }
    }

     header{
        box-shadow: 0px 3px 5px rgb(128, 126, 126);
         .menu-header{
             #fila-header{
                 width: 78%;
                 form{
                     margin-right: -35px;
                 }
                 nav{
                     width: 20vw;
                     margin-right: -30px;
                     ul{
                         width: 100%;
                         li{ 
                             margin-left: 5px;
                             margin-right: 5px;
                         }
                     }
                 }
                 #contenedor_iconos{
                    .carrito{
                        position: relative;
                        .circulo{
                            position: absolute;
                            left: 52%;
                        }
                    }
                 }
             }

         }
     }
 }
@media screen and (min-width: 420px) and (max-width: 700px){
header{
    .menu-header{
        #fila-header{
           
           
             #contenedor_iconos{
                    position: absolute;
                      right: 3.15vw;
                      top: 6px;
                    .iconos{
                        margin-left: auto;
                        margin-right: auto;
                        i{
                            font-size: 1.1em
                        }
                    }
                    .miperfil{
                    display: none;
                    }
                    .carrito{
                        .circulo{
                            margin-left: -8px;
                        }
                    }
                }
            
        }
    }
}

}
