$fte-ppal: 'Poppins',
sans-serif;
$fte-sec: 'Open Sans',
sans-serif;
$color-ppal:#fff;
$color-sec: rgb(87, 83, 83);
$color-ter: rgb(172, 165, 165);
$color-menues: rgb(243, 236, 236);
$color-wf1:#223e66;
$color-wf2:#1f4e84;
$color-wf3:#2779cd;
$color-wf4:#70b8f3;

#header {
    display: flex;;
    align-items: center;
    justify-content: center;
    background-color: $color-ppal;
    height: 75px;
    box-shadow: 0px 3px 5px rgb(128, 126, 126);
    width: 100%;
    position: relative;
    z-index: 5;
    letter-spacing: 1px;
    .menu-header {
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        width: 100%;
        .logo {
            width: 15vw;
            a {
                img {
                    width: 200px;
                    height:55px;
                    margin-left: 0px;
                    &:focus{
                        outline: none;
                    }
                }
                &:focus{
                    outline: none;
                }
            }
        
        }
       
    }
}
//opciones menu
.nav-options {
    display: block;
    ul {
        // para todos los ul menu y submenu
        list-style: none;
        font-family: $fte-ppal;
        font-size: 17px;
        margin-bottom: 0;
    }
    .menu {
        display: flex;
        justify-content: space-around;
        
        li {
            a {
                text-decoration: none;
                background-image: linear-gradient($color-wf2, $color-wf4);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: background-size .3s;
                color: $color-sec;
                &:visited {
                    color: $color-sec;
                }
                &:hover {
                    background-size: 100% 2px;
                }
                &:focus {
                    background-size: 100% 2px;
                    outline: none;
                }
            }
        }
    }
}
/// altura de la segunda columna
.fila{
    margin-top: 20px;
}
///// icono menu hamburguesa///
#menu {
    display: none;
}
 //// buscador ////
 .buscador {
    .barraDeBusqueda {
        width: 36vw;
        margin-left: 20px;
        box-sizing: content-box;
        height: 35px;
        font-size: 17px;
        border:none;
         border-bottom: 1px solid grey;
        background-image: linear-gradient($color-wf2, $color-wf4);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
        color: black;
        font-family: $fte-ppal;
        font-size: 16px;
        padding-left: 15px;
        padding-right: 30px;
        margin-top: -7px;
       
        &:focus {
            outline: none;
            background-size: 100% 2px;
          border-bottom: none
        }
        &:hover {
            cursor: text;
        }
     
    }
    .btn-lupa {
        background-color: " ";
        border: none;
        .fa-search {
            margin-left: -2.5vw;
            color: rgb(95, 93, 93);
        }
        &:focus{
            outline: none;
        }
        &:focus>i{
            color: $color-wf3;
        }
    }
}
////iconos////
#contenedor_iconos {
    .iconos {
         position: relative;
         cursor: pointer;
        &:focus{
            outline: none;
        }
        .fa-user-circle {
            font-size: 1.9em;
        }
        img{
            width: 22px;
            height: 22px;
            &:focus{
                outline: none;
            }
        }
        .circulo {
            background-color: rgb(187, 24, 24);
            border-radius: 20px;
            width: 15px;
            height: 15px;
            top: -5px;
            left: 17px;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                font-weight: normal;
                display: block;
                color: $color-ppal;
                text-align: center;
                font-size: 11px;
                margin-top: 1px;
                margin-left: 1px;
            }
        }
    }
    .menu {
        display: none;

    }
    .notificaciones{
        margin-left: -40px;
    }
}


#salir{
    border-top: 1px solid $color-ter;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
//////////// user Options //////
#userOptions {
    position: absolute;
    z-index: 50;
    right: 10px;
    background-color: $color-menues;
    width: 200px;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    list-style: none;
    display: none;
    cursor: pointer;
    a {
        text-decoration: none;
    }
    li {
        background-color: $color-menues;
        font-size: 16px;
        color: $color-sec;
        width: 100%;
        padding: 7px 23px;
        box-sizing: border-box;
        font-family: $fte-ppal;
     text-align: right;
        &:hover {
            background-color: $color-wf1;
            color: $color-ppal;
            cursor: pointer;
        }
        &:hover>i {
            font-size: 1em;
        }
        i {
            font-size: 0.8em;
            margin-bottom: 3px;
        }
    }
}

.bg-menu {
    width: 100%;
    height: 100%;
    min-height:100vh;
    background-color: rgba(31, 27, 27, 0.26);
    position: absolute;
    z-index: 3;
    top: 80px;
    left: 0px;
    display: none;
}

// categorias y subcategorias
.contenedor-categorias {

    .submenu {
        display: none;
        width: 210px;
        background-color: $color-menues;
        padding-top: 10px;
        padding-bottom: 15px;
        border-radius: 0px 0px 10px 10px;
        position: absolute;
        left: 18vw;
        z-index: 50;
        border-right: 1px solid rgba(187, 184, 184, 0.5);
        //    top: 115px;        
        li {
            background-color: $color-menues;
            font-size: 16px;
            color: $color-sec;
            width: 100%;
            padding: 7px 23px;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:hover {
                color: $color-ppal;
                background-color: $color-wf1;
                cursor: default;
            }
            &:hover>i {
                transform: rotate(-90deg);
                transition-duration: 0.5s;
                cursor: default;
            }
        }
    }
    #container-sub {
        background: $color-menues;
        width: 16vw;
        height: auto;
        min-height: auto;
        position: absolute;
        left:calc(18vw + 209px);
        z-index: 49;
        border-radius: 0px 0px 10px 0px;
        display: none;
        padding: 20px 15px 20px 25px;
    }
}

//// *** **** MENU HAMBURGUESA **** *** ///
.hamburgerM{
    display: none;
}

@media screen and (max-width: 767px) {
    #header {
        height: 95px;
        .menu-header {
            width: 105%;
            .logo {
                width: 15vw;
                a {
                    img {
                        width: 165px;
                        height:50px;
                        margin-left: -12px;
                        margin-top: 0px;
                    }
                }
            }
        }
    }
    #menu{
        display: block;
        position: absolute;
        top: 4px;
        #closeM{
            display: none;
            margin-top: 4px;
            color: $color-sec;
        }
        #openM{
            color: $color-sec;
        }
    }
    .fila{
        margin-top: -4px;
    }
     //// buscador ////
    .buscador {
        .barraDeBusqueda {
            width: 44vw;
            transform: translateX(4vw);
            margin-left: 3vw;
            height: 27px;
            padding-left: 10px;
            padding-right: 30px;
            margin-top: 0px;      
        }
        .btn-lupa {
            .fa-search {
                margin-left: -6vw;
            }
        }
    }
    #contenedor_iconos {
        .iconos {
            position: relative;
            
            &:focus{
                outline: none;
            }
            .fa-user-circle {
                font-size: 1.9em;
            }
            img{
                width: 22px;
                height: 22px;
                margin-left: -10px;
                &:focus{
                    outline: none;
                }
            }
            .circulo {
                background-color: rgb(187, 24, 24);
                border-radius: 20px;
                width: 15px;
                height: 15px;
                top: -5px;
                left: 10px;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                    font-weight: normal;
                    display: block;
                    color: $color-ppal;
                    text-align: center;
                    font-size: 11px;
                    margin-top: 1px;
                    margin-left: 1px;
                }
            }
        }
    }
    .carrito-icono{
        margin-left: auto;
        margin-right: auto;
    }

   .hamburgerM{
    display: none;
    position: absolute;
    z-index: 16;
    background-color: $color-wf1;
    opacity: 0.95;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    a{
        text-decoration: none;
       }
    li{
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
     
        font-family: $fte-ppal;
        font-size: 18px;
        padding: 7px 20px 7px 20px;
        i{
            font-size: 0.9em;
        }
    }
    #separation{
        margin-top: 15px;
        display: block;
        border-top: 1px solid rgba(255, 255, 255, 0.541);
        display: flex;
        align-items: center;
        justify-content: space-between;
     
    }
}
}
///// menues desplegables 
@media screen and (max-width: 768px) {

}
///posicionamiento del buscador
@media screen and (min-width: 375px) and (max-width:450px){
    .buscador {
        .barraDeBusqueda {
             width: 50vw;
             transform: translateX(2vw);     
        }
    }
}
@media screen and (min-width: 450px) and (max-width:630px){
    .buscador {
        .barraDeBusqueda {
             width: 54vw;
             transform: translateX(8vw);     
        }
    }
}
@media screen and (min-width: 630px) and (max-width:767px){
    .buscador {
        .barraDeBusqueda {
             width: 60vw;
             transform: translateX(8vw);     
        }
    }
}


@media screen and (min-width: 768px) and (max-width:991px){
#contenedor-iconos{
    display: flex;
    justify-content: space-between;
   }
#campanita{
    transform: translateX(20px);
}
#header {
    height: 95px;
    .menu-header {
        width: 105%;
        .logo {
            width: 15vw;
            a {
                img {
                    width: 180px;
                    height:52px;
                    margin-left: -12px;
                    margin-top: 0px;
                }
            }
        }
    }
}
.fila{
    margin-top: -3px;
}
.nav-options{
    margin-left: -20px;
    margin-top: 5px;
}

// categorias y subcategorias
.contenedor-categorias {

    .submenu {
        left: 1vw;
    }
    #container-sub {
        left:calc(1vw + 210px);
    }
}

}
@media screen and (min-width: 992px) and (max-width:1200px){
   .nav-options{
      margin-left: 140px;
      margin-top: 5px;
      #oferta-option{
          margin-left: 25px;
      }
   }
   .buscador {
    .barraDeBusqueda {
         width: 26vw;
         transform: translateX(6vw);     
        }
        .btn-lupa {
            background-color: white;
            border: none;
            position: relative;
            z-index: 2;
            .fa-search {
                margin-left: 3vw;
                color: rgb(95, 93, 93);
            }
          
        }
    }
    // categorias y subcategorias
.contenedor-categorias {

    .submenu {
        left: 22vw;
    }
    #container-sub {
        left:calc(22vw + 209px);
    }
}
}