<app-normal-header *ngIf="router.url !== '/login'
                        && router.url !== '/user-sign-up'
                        && router.url !== '/new-password'
                        && router.url !== '/verify/redirect'">
</app-normal-header>

<router-outlet (activate)="onActivate($event)"></router-outlet>

<app-footer *ngIf="router.url !== '/login'
    && router.url !== '/user-sign-up'
    && router.url !== '/new-password'
    && router.url !== '/verify/redirect'
    && router.url !== '/admin-promo'
    && router.url !== '/admin-propiedades'
    && router.url !== '/admin-profile'
    && router.url !== '/sales'
    && router.url !== '/products-list'
    && router.url !== '/brands-panel'

    ">
</app-footer>