section {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .fondo {
  background: -webkit-gradient(linear, left top, left bottom, from(#575353), color-stop(#aca5a5), color-stop(#f3ecec), to(white));
  background: linear-gradient(to bottom, #575353, #aca5a5, #f3ecec, white);
  height: 80vh;
  width: 100%;
}

section .fondo img {
  width: 200px;
  height: 60px;
  position: absolute;
  right: 50px;
  top: 20px;
}

section .contenedor-form {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #f3ecec;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -490px;
  width: 420px;
  -webkit-box-shadow: 2px 4px 10px grey;
          box-shadow: 2px 4px 10px grey;
}

section .contenedor-form #contenedor-registrarse {
  width: 80%;
  height: 530px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .contenedor-form #contenedor-registrarse h2 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 23px;
  color: #575353;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: block;
  border-bottom: 1px solid grey;
  width: 100%;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .contenedor-form #contenedor-registrarse h2 i {
  font-size: 0.7em;
  color: #222121;
  margin-right: 8px;
  outline: none;
}

section .contenedor-form #contenedor-registrarse .campo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

section .contenedor-form #contenedor-registrarse .campo i {
  position: absolute;
  padding: 13px;
  font-size: 1.1em;
  color: grey;
}

section .contenedor-form #contenedor-registrarse .campo .fa-user {
  top: 7.1px;
}

section .contenedor-form #contenedor-registrarse .campo #email {
  height: 44px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  padding-left: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section .contenedor-form #contenedor-registrarse .campo #email:focus {
  outline: none;
  border: 1px solid #b4aaaa;
}

section .contenedor-form #contenedor-registrarse .campo #email:focus ~ i {
  color: #222121;
}

section .contenedor-form #contenedor-registrarse .campo #new-pasw,
section .contenedor-form #contenedor-registrarse .campo #new-pasw-repeat {
  height: 44px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  padding-left: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section .contenedor-form #contenedor-registrarse .campo #new-pasw:focus,
section .contenedor-form #contenedor-registrarse .campo #new-pasw-repeat:focus {
  outline: none;
  border: 1px solid #b4aaaa;
}

section .contenedor-form #contenedor-registrarse .campo #new-pasw:focus ~ i,
section .contenedor-form #contenedor-registrarse .campo #new-pasw-repeat:focus ~ i {
  color: #222121;
}

section .contenedor-form #contenedor-registrarse .campo .fa-eye,
section .contenedor-form #contenedor-registrarse .campo .fa-eye-slash {
  margin-left: 86%;
}

section .contenedor-form #contenedor-registrarse .campo .fa-eye-slash {
  visibility: hidden;
}

section .contenedor-form #contenedor-registrarse .campo #username {
  height: 44px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  padding-left: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section .contenedor-form #contenedor-registrarse .campo #username:focus {
  outline: none;
  border: 1px solid #b4aaaa;
}

section .contenedor-form #contenedor-registrarse .campo #password {
  height: 44px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  padding-left: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section .contenedor-form #contenedor-registrarse .campo #password:focus {
  outline: none;
  border: 1px solid #b4aaaa;
}

section .contenedor-form #contenedor-registrarse .nombre-apellido {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .contenedor-form #contenedor-registrarse .nombre-apellido #name, section .contenedor-form #contenedor-registrarse .nombre-apellido #lastname {
  margin-top: 7px;
  height: 44px;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  font-size: 15px;
  padding-left: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section .contenedor-form #contenedor-registrarse .nombre-apellido #name:focus, section .contenedor-form #contenedor-registrarse .nombre-apellido #lastname:focus {
  outline: none;
  border: 1px solid #b4aaaa;
}

section .contenedor-form #contenedor-registrarse .calle-ciudad {
  margin-top: -9px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .contenedor-form #contenedor-registrarse .calle-ciudad #calle, section .contenedor-form #contenedor-registrarse .calle-ciudad #ciudad {
  margin-top: 7px;
  height: 44px;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  font-size: 15px;
  padding-left: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section .contenedor-form #contenedor-registrarse .calle-ciudad #calle:focus, section .contenedor-form #contenedor-registrarse .calle-ciudad #ciudad:focus {
  outline: none;
  border: 1px solid #b4aaaa;
}

section .contenedor-form #contenedor-registrarse .nro-cp {
  margin-top: -9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .contenedor-form #contenedor-registrarse .nro-cp #cp, section .contenedor-form #contenedor-registrarse .nro-cp #nro {
  margin-top: 7px;
  height: 44px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  padding-left: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 95%;
}

section .contenedor-form #contenedor-registrarse .nro-cp #cp:focus, section .contenedor-form #contenedor-registrarse .nro-cp #nro:focus {
  outline: none;
  border: 1px solid #b4aaaa;
}

section .contenedor-form #contenedor-registrarse .nro-cp #cp {
  margin-left: 6%;
}

section .contenedor-form #msje-registro {
  font-family: "Open Sans", sans-serif;
  color: #222121;
  text-align: center;
  display: none;
  margin-top: auto;
  margin-bottom: auto;
}

section .contenedor-form #msje-registro span {
  font-size: 16px;
  color: #575353;
}

section .contenedor-form #msje-registro #name,
section .contenedor-form #msje-registro #lastname {
  margin-top: 7px;
  height: 39px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section .contenedor-form #msje-registro #name:focus,
section .contenedor-form #msje-registro #lastname:focus {
  outline: none;
  border: 1px solid #b4aaaa;
}

section .contenedor-form #msje-registro #lastname {
  margin-bottom: 10px;
}

section .footer-is {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  bottom: 0px;
  background-color: black;
}

section .footer-is a {
  padding-top: 2px;
  padding-bottom: 3px;
  padding-right: 40px;
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

.boton {
  width: 100%;
  height: 40px;
  background-color: #222121;
  color: white;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  border: none;
  outline: none;
}

.boton:hover {
  -webkit-box-shadow: 1px 2px 2px gray;
          box-shadow: 1px 2px 2px gray;
  background-color: #575353;
}

@media screen and (max-width: 500px) {
  section .fondo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section .fondo img {
    top: 15px;
    left: 20px;
    width: 150px;
    height: 45px;
  }
  section .contenedor-form {
    padding-top: 20px;
    padding-bottom: 35px;
    margin-top: -400px;
    width: 85vw;
    height: 280px;
  }
  section .contenedor-form #contenedor-registrarse h2 {
    font-size: 18px;
  }
  section .contenedor-form #contenedor-registrarse h2 i {
    font-size: 0.9em;
  }
  section .contenedor-form #contenedor-registrarse .campo i {
    font-size: 1em;
  }
  section .contenedor-form #contenedor-registrarse .campo #email {
    margin-top: -5px;
    height: 38px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    padding-left: 40px;
    margin-bottom: -8px;
  }
  section .contenedor-form #contenedor-registrarse .campo #new-pasw,
  section .contenedor-form #contenedor-registrarse .campo #new-pasw-repeat {
    height: 38px;
    padding-left: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: -8px;
    margin-top: -3px;
  }
  section .contenedor-form #contenedor-registrarse .campo .fa-eye,
  section .contenedor-form #contenedor-registrarse .campo .fa-eye-slash {
    margin-left: 82%;
  }
  section .contenedor-form #contenedor-registrarse .campo #password {
    height: 38px;
  }
}
/*# sourceMappingURL=user-sign-up.component.css.map */