<section>

    <a [routerLink]="['/home']" title="Home">
        <img src="../../assets/imagenes/wf.png" alt="logo">
    </a>
    <form class="contenedor-form" id="cont-form" autocomplete="off" [formGroup]="formRegistro"
        (ngSubmit)="registrarse()">
        <div id="contenedor-registrarse">
            <div class="titulo">
                <i class="fas fa-arrow-circle-left" id="back1" [routerLink]="['/login']"></i>
                <h2>Crear cuenta</h2>
            </div>
            <div formGroupName="cliente" id="formName">
                <div class="nombre-apellido">
                    <div class="name ">
                        <input [class.is-invalid]="nombreInvalido" type="text" id="name" placeholder="*Nombre"
                            formControlName="nombre">
                    </div>
                    <span class="text-rojo" id="alert1" *ngIf="nombreInvalido"><small>Este campo es
                            obligatorio.</small></span>
                    <div class="lastname ">
                        <input [class.is-invalid]="apellidoInvalido" type="text" placeholder="*Apellido" id="lastname"
                            formControlName="apellido">
                    </div>
                    <span class="text-rojo" id="alert2" *ngIf="apellidoInvalido"><small>Este campo es
                            obligatorio.</small></span>
                </div>
           
            <div formGroupName="direccion" >
                <div class="location" >
                 <select class="country" (change)="showEstados()" formControlName="pais" >
                        <option  hidden selected value="" >-Pais-</option>
                        <option [ngValue]="pais" *ngFor="let pais of paises"> {{pais.nombre}}</option>
                    </select>
                     <select class="state" (change)="showCiudades()" id="combobox-estados" formControlName="estado" >
                        <option  hidden selected value="">-Estado-</option>
                        <option  [ngValue]="estado" *ngFor="let estado of estados">{{estado.nombre}}</option>
                    </select>
                    <select class="city" id="combobox-ciudades" [class.is-invalid]="ciudadInvalida" formControlName="ciudad">
                        <option  hidden selected value="">-Ciudad-</option>
                        <option *ngFor="let ciudad of ciudades"  [ngValue]="ciudad">{{ciudad.nombre}}</option>
                    </select>
                </div>
                <div class="calle-nro">
    
                    <div class="calle">
                        <input type="text" [class.is-invalid]="calleInvalida" placeholder="*Calle"  id="calle" formControlName="calle">
                    </div>
                    <div class="nro">
                        <input type="number" [class.is-invalid]="nroInvalido" id="nro" placeholder="*Nro"  formControlName="nro">
                    </div>
                    <div class="piso">
                        <input type="number" id="piso" placeholder="Piso" formControlName="piso">
                    </div>
                    <div class=" cp">
    
                        <input type="number" [class.is-invalid]="cpInvalido" id="cp" placeholder="*CP" formControlName="cp">
                    </div>
                </div>
            </div>
        </div>
            <div class="cont-email">
                <div class="email">

                    <input [ngClass]="{'is-invalid': emailInvalido}" type="email" id="email"
                        placeholder="*Correo electrónico" formControlName="email">
                </div>
                <span class="text-rojo" *ngIf="emailInvalido"><small>El email es obligatorio</small></span>
            </div>
            <div class="passwords">

                <div class="campo" id="campo1">
                    <input [ngClass]="{'is-invalid': passwordInvalida}" type="password" id="new-pasw"
                        placeholder="*Contraseña" formControlName="password">
                    <i class="far fa-eye" id="show1" (click)="mostrarPsw1()"></i>
                    <i class="far fa-eye-slash" id="hide1" (click)="mostrarPsw1()"></i>
                </div>
                <span class="text-rojo" id="msj1" *ngIf="passwordInvalida"><small>La contraseña debe contener al menos 9
                        caracteres </small></span>


                <div class="campo" id="campo2">
                    <input [ngClass]="{'is-invalid': passwordNoIguales}" type="password" id="new-pasw-repeat"
                        placeholder="*Repetir contraseña" formControlName="passwordRepeat">

                    <i class="far fa-eye" id="show2" (click)="mostrarPsw2()"></i>
                    <i class="far fa-eye-slash" id="hide2" (click)="mostrarPsw2()"></i>
                </div>
                <span class="text-rojo" id="msj2" *ngIf="passwordNoIguales"><small>Las contraseñas deben
                        coincidir</small></span>

            </div>
            <div class="terms-checkbox">
                <input type="checkbox" id="terms" name="terms" formControlName="checkterminos">
                <label for="terms">*He leído y acepto los <a href="">Términos y Condiciones.</a></label>

            </div>
            <button type="submit" id="btn-sign-up" class="boton">Registrarme</button>
            <span class="msje">(*)Campos obligatorios.</span>
        </div>
        <!--inicio mensaje cta creada-->
        <div id="msje-registro">
            <p>Gracias! Te hemos enviado un correo para realizar una breve verificación de identidad.</p>
        </div>
        <!--FIN mensaje cta creada-->
    </form>
</section>