<section>
    <div class="fondo">
        <a [routerLink]="['/home']" title="Home">
            <img src="../../assets/imagenes/logo-blanco.png" alt="logo">
        </a>
    </div>
    <form class="contenedor-form" id="cont-form" autocomplete="off" [formGroup]="formRegistro"
        (ngSubmit)="registrarse()">
        <div id="contenedor-registrarse">
            <h2><i class="fas fa-arrow-circle-left" id="back1" [routerLink]="['/userLogIn']"></i>Crear cuenta</h2>
            <div formGroupName="cliente">
                <div class="nombre-apellido">
                    <div class="name ">
                        <input [class.is-invalid]="nombreInvalido" type="text" id="name" placeholder="*Nombre"
                            formControlName="nombre">
                    </div>
                    <div class="lastname ">
                        <input [class.is-invalid]="apellidoInvalido" type="text" placeholder="*Apellido" id="lastname"
                            formControlName="apellido">
                    </div>
                </div>
            </div>
            <div class="location">
                <select class="country">
                    <option disabled selected>-Pais-</option>
                    <option value="value1">opciones</option>
                </select>
                <select class="state" disabled>
                    <option disabled selected>-Estado-</option>
                    <option value="value1">opciones</option>
                </select>
                <select class="city" disabled>
                    <option disabled selected>-Ciudad-</option>
                    <option value="value1">opciones</option>
                </select>
            </div>
            <div class="calle-nro">

                <div class="calle">
                    <input type="text" placeholder="Calle" value="" id="calle">
                </div>
                <div class="nro">
                    <input type="number" id="nro" placeholder="nro" value="">
                </div>
                <div class=" cp">

                    <input type="number" id="cp" placeholder="CP">
                </div>
            </div>
            <div class="cont-email">
                <div class="email">

                    <input [ngClass]="{'is-invalid': emailInvalido}" type="email" id="email"
                        placeholder="*Correo electrónico" formControlName="email">
                </div>
                <span class="text-rojo" *ngIf="emailInvalido"><small>El email es obligatorio</small></span>
            </div>
            <div class="passwords">
                <div class="cont-psw1">
                    <div class="campo">
                        <input [ngClass]="{'is-invalid': passwordInvalida}" type="password" id="new-pasw"
                            placeholder="*Contraseña" formControlName="password">
                        <i class="far fa-eye" id="show1" (click)="mostrarPsw1()"></i>
                        <i class="far fa-eye-slash" id="hide1" (click)="mostrarPsw1()"></i>
                    </div>
                    <span class="text-rojo" *ngIf="passwordInvalida"><small>Las contraseña deben
                            coincidir</small></span>
                </div>
                <div class="cont-psw2">
                    <div class="campo">
                        <input [ngClass]="{'is-invalid': passwordNoIguales}" type="password" id="new-pasw-repeat"
                            placeholder="Repetir contraseña" formControlName="passwordRepeat">

                        <i class="far fa-eye" id="show2" (click)="mostrarPsw2()"></i>
                        <i class="far fa-eye-slash" id="hide2" (click)="mostrarPsw2()"></i>
                    </div>
                    <span class="text-rojo" *ngIf="passwordNoIguales"><small>La contraseña es obligatoria</small></span>
                </div>
            </div>
            <button type="submit" id="btn-sign-up" class="boton">Registrarme</button>

        </div>
        <!--inicio mensaje cta creada-->
        <div id="msje-registro">
            <p>Gracias! Te hemos enviado un correo para realizar una breve verificación de identidad.</p>
        </div>
        <!--FIN mensaje cta creada-->
    </form>
    <div class="footer-is">

        <a href="https://www.wantfrom.es/"> Powered by Wantfrom</a>
    </div>