$fte-ppal: 'Poppins',
sans-serif;
$fte-sec: 'Open Sans',
sans-serif;
$color-ppal:#fff;
$color-sec: rgb(87, 83, 83);
$color-ter: rgb(172, 165, 165);
$color-menues: rgb(243, 236, 236);

%campos{
    margin-top: 7px;
    margin-bottom: 15px;
    height: 35px;
   width: 100%;
    font-family: $fte-sec;
    font-size: 15px;
    padding-left: 5px;
    box-sizing: border-box;
    &:focus {
        outline: none;
        border: 1px solid rgb(180, 170, 170);
    }
}

section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .fondo {
        background: linear-gradient(to bottom, $color-sec, $color-ter, $color-menues, white);
        height: 80vh;
        width: 100%;
        img {
            width: 200px;
            height: 60px;
            position: absolute;
            right: 50px;
            top: 20px;
        }
    }
    .contenedor-form {
        padding-top: 20px;
        padding-bottom: 30px;
        background-color: $color-menues;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -430px;
        width: 40vw;
        min-width: 500px;
        box-shadow: 2px 4px 10px grey;
        #contenedor-registrarse {
            width: 80%;
            height: fit-content;
            display: flex;
            align-items: center;
            flex-direction: column;
            h2 {
                font-family: $fte-ppal;
                text-transform: uppercase;
                font-size: 23px;
                color: $color-sec;
                align-self: flex-start;
                display: block;
                border-bottom: 1px solid grey;
                width: 100%;
                padding-bottom: 5px;
                display: flex;
                align-items: center;
                i {
                    font-size: 0.7em;
                    color: rgb(34, 33, 33);
                    margin-right: 8px;
                    outline: none;
                }
            }
       
            .nombre-apellido{
                width: 100%;
                align-items: center;
                display: flex;
                justify-content: space-between;               
                .name  {
                    width: 45%;
                    #name{
                      @extend %campos;
                    }
                }
                .lastname{
                    width: 45%;
                    #lastname{
                        @extend %campos;
                    }
                }
            }
            .location{
                width: 100%;
                align-items: center;
                justify-content: space-between;
                display: flex;
                flex-direction: row;
                .country{
                   width: 30%;
                   @extend %campos;
                }
                .state{
                    width: 30%;
                    @extend %campos;
                 }
                 .city{
                    width: 30%;
                    @extend %campos;
                 }
            }
            .calle-nro{
                width: 100%;
                align-items: center;
                justify-content: space-between;
                display: flex;
                flex-direction: row;
                .calle {
                    width: 55%;
                    #calle{
                        @extend %campos;
                    }
                }
                .nro{
                    width: 15%;
                    #nro{
                        @extend %campos;
                    }
                }
                .cp{
                    width: 18%;
                    #cp{
                        @extend %campos;
                    }
                }

            }
            .cont-email{
                width: 100%;
                .email{
                    width: 55%;
                    #email{
                        @extend %campos;
                    }

                }
            }
            .passwords{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .cont-psw1, .cont-psw2{
                width: 100%;
                .campo{
                    width: 95%;
                    display: flex;
                    align-items: center;
                    position: relative;
                    #new-pasw, #new-pasw-repeat{
                        @extend %campos;
                     &.is-invalid~i{
                         color:rgb(150, 9, 9);
                    }
                    }
                    i {
                     position: absolute;
                    padding: 13px;
                    font-size: 1.1em;
                    color: grey;
                    }
                    .fa-eye,
                .fa-eye-slash {
                    margin-left: 78%;
                    margin-top: -6px;
                }
                .fa-eye-slash {
                    visibility: hidden;
                }
                }
            }
        }
        }
        #msje-registro {
            font-family: $fte-sec;
            color: rgb(34, 33, 33);
            text-align: center;
            display: none;
            margin-top: auto;
            margin-bottom: auto;
            span {
                font-size: 16px;
                color: $color-sec;
            }
            #name,
            #lastname {
                margin-top: 7px;
                height: 39px;
                width: 100%;
                font-family: $fte-sec;
                font-size: 15px;
                padding-left: 20px;
                box-sizing: border-box;
                &:focus {
                    outline: none;
                    border: 1px solid rgb(180, 170, 170);
                }
            }
            #lastname {
                margin-bottom: 10px;
            }
        }
    }
    .footer-is {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        bottom: 0px;
        background-color: black;
        a {
            padding-top: 2px;
            padding-bottom: 3px;
            padding-right: 40px;
            text-decoration: none;
            color: $color-ppal;
            font-family: $fte-sec;
            font-size: 13px;
        }
    }
}

.boton {
    width: 100%;
    height: 40px;
    background-color: rgb(34, 33, 33);
    color: white;
    font-family: $fte-ppal;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    &:hover {
        box-shadow: 1px 2px 2px gray;
        background-color: $color-sec;
    }
    outline: none;
}
.text-rojo{
    font-family: $fte-sec;
    color: red;
    display: block;
   transform: translate(7vw,-6px);
   }

.is-invalid{
    border: 1px solid rgb(252, 62, 62);
}
@media screen and (max-width: 550px) {
    section {
        .contenedor-form {
            padding-top: 10px;
            padding-bottom: 20px;
            margin-top: -430px;
          min-width: 300px;
            #contenedor-registrarse {
                width: 90%;
                h2 {
                    font-size: 21px;
                }
                .nombre-apellido{
                    width: 100%;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: unset;               
                    .name  {
                        width: 100%;
                        #name{
                          @extend %campos;
                        }
                    }
                    .lastname{
                        width: 100%;
                        #lastname{
                            @extend %campos;
                        }
                    }
                }
                .location{
                    width: 100%;
                    align-items: center;
                    justify-content: unset;
                    display: flex;
                    flex-direction: column;
                    .country{
                       width: 1000%;
                       @extend %campos;
                    }
                    .state{
                        width: 100%;
                        @extend %campos;
                     }
                     .city{
                        width: 100%;
                        @extend %campos;
                     }
                }
                .calle-nro{
                    width: 100%;
                    display: grid;
                    grid-template-areas: "calle calle"
                                        "nro" "cp";
                    .calle {
                        width: 40%;
                        grid-area: calle;
                        #calle{
                            @extend %campos;
                        }
                    }
                    .nro{
                        width: 15%;
                        grid-area: numero;
                        #nro{
                            @extend %campos;
                        }
                    }
                    .cp{
                        width: 18%;
                        grid-area: cp;
                        #cp{
                            @extend %campos;
                        }
                    }
                }
                .cont-email{
                    width: 100%;
                    .email{
                        width: 55%;
                        #email{
                            @extend %campos;
                        }
    
                    }
                }
                .passwords{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    .cont-psw1, .cont-psw2{
                    width: 100%;
                    .campo{
                        width: 95%;
                        display: flex;
                        align-items: center;
                        position: relative;
                        #new-pasw, #new-pasw-repeat{
                            @extend %campos
                        }
                        i {
                         position: absolute;
                        padding: 13px;
                        font-size: 1.1em;
                        color: grey;
                        }
                        .fa-eye,
                    .fa-eye-slash {
                        margin-left: 78%;
                        margin-top: -6px;
                    }
                    .fa-eye-slash {
                        visibility: hidden;
                    }
                    }
                }
            }
            }
            #msje-registro {
                font-family: $fte-sec;
                color: rgb(34, 33, 33);
                text-align: center;
                display: none;
                margin-top: auto;
                margin-bottom: auto;
                span {
                    font-size: 16px;
                    color: $color-sec;
                }
                #name,
                #lastname {
                    margin-top: 7px;
                    height: 39px;
                    width: 100%;
                    font-family: $fte-sec;
                    font-size: 15px;
                    padding-left: 20px;
                    box-sizing: border-box;
                    &:focus {
                        outline: none;
                        border: 1px solid rgb(180, 170, 170);
                    }
                }
                #lastname {
                    margin-bottom: 10px;
                }
            }
        }
        .footer-is {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            position: absolute;
            bottom: 0px;
            background-color: black;
            a {
                padding-top: 2px;
                padding-bottom: 3px;
                padding-right: 40px;
                text-decoration: none;
                color: $color-ppal;
                font-family: $fte-sec;
                font-size: 13px;
            }
        }
    }
}