input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

section .contenedor-form #contenedor-registrarse #formName .nombre-apellido .name #name, section .contenedor-form #contenedor-registrarse #formName .nombre-apellido .lastname #lastname, section .contenedor-form #contenedor-registrarse .location .country, section .contenedor-form #contenedor-registrarse .location .state, section .contenedor-form #contenedor-registrarse .location .city, section .contenedor-form #contenedor-registrarse .calle-nro .calle #calle, section .contenedor-form #contenedor-registrarse .calle-nro .nro #nro, section .contenedor-form #contenedor-registrarse .calle-nro .cp #cp, section .contenedor-form #contenedor-registrarse .cont-email .email #email, section .contenedor-form #contenedor-registrarse .passwords .campo #new-pasw, section .contenedor-form #contenedor-registrarse .passwords .campo #new-pasw-repeat {
  margin-top: 7px;
  margin-bottom: 15px;
  height: 35px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  padding-left: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section .contenedor-form #contenedor-registrarse #formName .nombre-apellido .name #name:focus, section .contenedor-form #contenedor-registrarse #formName .nombre-apellido .lastname #lastname:focus, section .contenedor-form #contenedor-registrarse .location .country:focus, section .contenedor-form #contenedor-registrarse .location .state:focus, section .contenedor-form #contenedor-registrarse .location .city:focus, section .contenedor-form #contenedor-registrarse .calle-nro .calle #calle:focus, section .contenedor-form #contenedor-registrarse .calle-nro .nro #nro:focus, section .contenedor-form #contenedor-registrarse .calle-nro .cp #cp:focus, section .contenedor-form #contenedor-registrarse .cont-email .email #email:focus, section .contenedor-form #contenedor-registrarse .passwords .campo #new-pasw:focus, section .contenedor-form #contenedor-registrarse .passwords .campo #new-pasw-repeat:focus {
  outline: none;
  border: 1px solid #b4aaaa;
}

section {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(1%, #1f4e84), color-stop(55%, #f3ecec));
  background: linear-gradient(to top, #1f4e84 1%, #f3ecec 55%);
}

section a img {
  width: 200px;
  height: 60px;
  position: absolute;
  right: 50px;
  top: 20px;
}

section .contenedor-form {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #f6f2f2;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  width: 40vw;
  min-width: 500px;
  -webkit-box-shadow: 2px 4px 10px grey;
          box-shadow: 2px 4px 10px grey;
}

section .contenedor-form #contenedor-registrarse {
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

section .contenedor-form #contenedor-registrarse .titulo h2 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 23px;
  color: #575353;
  display: block;
  border-bottom: 1px solid grey;
  width: 100%;
  padding-bottom: 5px;
}

section .contenedor-form #contenedor-registrarse .titulo .fa-arrow-circle-left {
  font-size: 1.3em;
  color: #222121;
  margin-right: 8px;
  outline: none;
  position: absolute;
  top: 4px;
  left: -35px;
}

section .contenedor-form #contenedor-registrarse #formName {
  width: 100%;
}

section .contenedor-form #contenedor-registrarse #formName .nombre-apellido {
  width: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "nombre apellido " "alert1  alert2";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .contenedor-form #contenedor-registrarse #formName .nombre-apellido .name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nombre;
  width: 100%;
}

section .contenedor-form #contenedor-registrarse #formName .nombre-apellido .lastname {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: apellido;
  width: 100%;
}

section .contenedor-form #contenedor-registrarse #formName .nombre-apellido #alert1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: alert1;
}

section .contenedor-form #contenedor-registrarse #formName .nombre-apellido #alert2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: alert2;
}

section .contenedor-form #contenedor-registrarse .location {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section .contenedor-form #contenedor-registrarse .location .country {
  width: 30%;
}

section .contenedor-form #contenedor-registrarse .location .state {
  width: 30%;
}

section .contenedor-form #contenedor-registrarse .location .city {
  width: 30%;
}

section .contenedor-form #contenedor-registrarse .calle-nro {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section .contenedor-form #contenedor-registrarse .calle-nro .calle {
  width: 55%;
}

section .contenedor-form #contenedor-registrarse .calle-nro .nro {
  width: 15%;
}

section .contenedor-form #contenedor-registrarse .calle-nro .cp {
  width: 18%;
}

section .contenedor-form #contenedor-registrarse .cont-email {
  width: 100%;
}

section .contenedor-form #contenedor-registrarse .cont-email .email {
  width: 55%;
}

section .contenedor-form #contenedor-registrarse .passwords {
  width: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "campo1  campo2 " "msj1  msj2";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .contenedor-form #contenedor-registrarse .passwords .campo {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

section .contenedor-form #contenedor-registrarse .passwords .campo #new-pasw.is-invalid ~ i, section .contenedor-form #contenedor-registrarse .passwords .campo #new-pasw-repeat.is-invalid ~ i {
  color: #960909;
}

section .contenedor-form #contenedor-registrarse .passwords .campo i {
  position: absolute;
  padding: 13px;
  font-size: 1.1em;
  color: grey;
}

section .contenedor-form #contenedor-registrarse .passwords .campo .fa-eye,
section .contenedor-form #contenedor-registrarse .passwords .campo .fa-eye-slash {
  margin-left: 78%;
  margin-top: -6px;
}

section .contenedor-form #contenedor-registrarse .passwords .campo .fa-eye-slash {
  visibility: hidden;
}

section .contenedor-form #contenedor-registrarse .passwords #campo1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: campo1;
}

section .contenedor-form #contenedor-registrarse .passwords #campo2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: campo2;
}

section .contenedor-form #contenedor-registrarse .passwords #msj1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: msj1;
  width: 190px;
}

section .contenedor-form #contenedor-registrarse .passwords #msj2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: msj2;
  -webkit-transform: translateY(-17px);
          transform: translateY(-17px);
}

section .contenedor-form #contenedor-registrarse .msje {
  color: grey;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  display: block;
  margin-top: 5px;
}

section .contenedor-form #msje-registro {
  font-family: "Open Sans", sans-serif;
  color: #222121;
  text-align: center;
  display: none;
  margin-bottom: auto;
}

section .contenedor-form #msje-registro span {
  font-size: 16px;
  color: #575353;
}

section .contenedor-form #msje-registro #name,
section .contenedor-form #msje-registro #lastname {
  margin-top: 7px;
  height: 39px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section .contenedor-form #msje-registro #name:focus,
section .contenedor-form #msje-registro #lastname:focus {
  outline: none;
  border: 1px solid #b4aaaa;
}

section .contenedor-form #msje-registro #lastname {
  margin-bottom: 10px;
}

.boton {
  width: 100%;
  height: 40px;
  background-color: #223e66;
  color: white;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  border: none;
  margin-top: 10px;
  outline: none;
}

.boton:hover {
  -webkit-box-shadow: 1px 2px 2px gray;
          box-shadow: 1px 2px 2px gray;
  background-color: #1f4e84;
}

.text-rojo {
  font-family: "Open Sans", sans-serif;
  color: red;
  line-height: 13px;
  display: block;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.is-invalid {
  border: 1px solid #fc3e3e;
}

@media screen and (max-width: 550px) {
  section {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section .fondo img {
    width: 140px;
    height: 40px;
    position: unset;
    top: 10px;
  }
  section .contenedor-form {
    padding-top: 20px;
    padding-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -500px;
    width: 80vw;
    min-width: 280px;
  }
  section .contenedor-form #contenedor-registrarse {
    width: 85%;
  }
  section .contenedor-form #contenedor-registrarse h2 {
    font-size: 18px;
    padding-bottom: 3px;
  }
  section .contenedor-form #contenedor-registrarse #formName {
    width: 100%;
  }
  section .contenedor-form #contenedor-registrarse #formName .nombre-apellido {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        grid-template-areas: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section .contenedor-form #contenedor-registrarse #formName .nombre-apellido .name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: nombre;
    width: 100%;
  }
  section .contenedor-form #contenedor-registrarse #formName .nombre-apellido .name #name {
    margin-top: 7px;
    margin-bottom: 10px;
    height: 27px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    padding-left: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  section .contenedor-form #contenedor-registrarse #formName .nombre-apellido .name #name:focus {
    outline: none;
    border: 1px solid #b4aaaa;
  }
  section .contenedor-form #contenedor-registrarse #formName .nombre-apellido .lastname {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: apellido;
    width: 100%;
  }
  section .contenedor-form #contenedor-registrarse #formName .nombre-apellido .lastname #lastname {
    margin-top: 7px;
    margin-bottom: 15px;
    height: 35px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    padding-left: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  section .contenedor-form #contenedor-registrarse #formName .nombre-apellido .lastname #lastname:focus {
    outline: none;
    border: 1px solid #b4aaaa;
  }
  section .contenedor-form #contenedor-registrarse #formName .nombre-apellido #alert1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: alert1;
  }
  section .contenedor-form #contenedor-registrarse #formName .nombre-apellido #alert2 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: alert2;
  }
  section .contenedor-form #contenedor-registrarse .location {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  section .contenedor-form #contenedor-registrarse .location .country {
    width: 30%;
    margin-top: 7px;
    margin-bottom: 15px;
    height: 35px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    padding-left: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  section .contenedor-form #contenedor-registrarse .location .country:focus {
    outline: none;
    border: 1px solid #b4aaaa;
  }
  section .contenedor-form #contenedor-registrarse .location .state {
    width: 30%;
    margin-top: 7px;
    margin-bottom: 15px;
    height: 35px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    padding-left: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  section .contenedor-form #contenedor-registrarse .location .state:focus {
    outline: none;
    border: 1px solid #b4aaaa;
  }
  section .contenedor-form #contenedor-registrarse .location .city {
    width: 30%;
    margin-top: 7px;
    margin-bottom: 15px;
    height: 35px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    padding-left: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  section .contenedor-form #contenedor-registrarse .location .city:focus {
    outline: none;
    border: 1px solid #b4aaaa;
  }
  section .contenedor-form #contenedor-registrarse .calle-nro {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  section .contenedor-form #contenedor-registrarse .calle-nro .calle {
    width: 55%;
  }
  section .contenedor-form #contenedor-registrarse .calle-nro .calle #calle {
    margin-top: 7px;
    margin-bottom: 15px;
    height: 35px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    padding-left: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  section .contenedor-form #contenedor-registrarse .calle-nro .calle #calle:focus {
    outline: none;
    border: 1px solid #b4aaaa;
  }
  section .contenedor-form #contenedor-registrarse .calle-nro .nro {
    width: 15%;
  }
  section .contenedor-form #contenedor-registrarse .calle-nro .nro #nro {
    margin-top: 7px;
    margin-bottom: 15px;
    height: 35px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    padding-left: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  section .contenedor-form #contenedor-registrarse .calle-nro .nro #nro:focus {
    outline: none;
    border: 1px solid #b4aaaa;
  }
  section .contenedor-form #contenedor-registrarse .calle-nro .cp {
    width: 18%;
  }
  section .contenedor-form #contenedor-registrarse .calle-nro .cp #cp {
    margin-top: 7px;
    margin-bottom: 15px;
    height: 35px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    padding-left: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  section .contenedor-form #contenedor-registrarse .calle-nro .cp #cp:focus {
    outline: none;
    border: 1px solid #b4aaaa;
  }
  section .contenedor-form #contenedor-registrarse .cont-email {
    width: 100%;
  }
  section .contenedor-form #contenedor-registrarse .cont-email .email {
    width: 55%;
  }
  section .contenedor-form #contenedor-registrarse .cont-email .email #email {
    margin-top: 7px;
    margin-bottom: 15px;
    height: 35px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    padding-left: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  section .contenedor-form #contenedor-registrarse .cont-email .email #email:focus {
    outline: none;
    border: 1px solid #b4aaaa;
  }
  section .contenedor-form #contenedor-registrarse .passwords {
    width: 100%;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "campo1  campo2 " "msj1  msj2";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section .contenedor-form #contenedor-registrarse .passwords .campo {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  section .contenedor-form #contenedor-registrarse .passwords .campo #new-pasw, section .contenedor-form #contenedor-registrarse .passwords .campo #new-pasw-repeat {
    margin-top: 7px;
    margin-bottom: 15px;
    height: 35px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    padding-left: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  section .contenedor-form #contenedor-registrarse .passwords .campo #new-pasw:focus, section .contenedor-form #contenedor-registrarse .passwords .campo #new-pasw-repeat:focus {
    outline: none;
    border: 1px solid #b4aaaa;
  }
  section .contenedor-form #contenedor-registrarse .passwords .campo #new-pasw.is-invalid ~ i, section .contenedor-form #contenedor-registrarse .passwords .campo #new-pasw-repeat.is-invalid ~ i {
    color: #960909;
  }
  section .contenedor-form #contenedor-registrarse .passwords .campo i {
    position: absolute;
    padding: 13px;
    font-size: 1.1em;
    color: grey;
  }
  section .contenedor-form #contenedor-registrarse .passwords .campo .fa-eye,
  section .contenedor-form #contenedor-registrarse .passwords .campo .fa-eye-slash {
    margin-left: 78%;
    margin-top: -6px;
  }
  section .contenedor-form #contenedor-registrarse .passwords .campo .fa-eye-slash {
    visibility: hidden;
  }
  section .contenedor-form #contenedor-registrarse .passwords #campo1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: campo1;
  }
  section .contenedor-form #contenedor-registrarse .passwords #campo2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: campo2;
  }
  section .contenedor-form #contenedor-registrarse .passwords #msj1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: msj1;
    width: 190px;
  }
  section .contenedor-form #contenedor-registrarse .passwords #msj2 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: msj2;
    -webkit-transform: translateY(-17px);
            transform: translateY(-17px);
  }
  section .contenedor-form #contenedor-registrarse .msje {
    color: grey;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    display: block;
    margin-top: 5px;
  }
  section .contenedor-form #msje-registro {
    font-family: "Open Sans", sans-serif;
    color: #222121;
    text-align: center;
    display: none;
    margin-top: auto;
    margin-bottom: auto;
  }
  section .contenedor-form #msje-registro span {
    font-size: 16px;
    color: #575353;
  }
  section .contenedor-form #msje-registro #name,
  section .contenedor-form #msje-registro #lastname {
    margin-top: 7px;
    height: 39px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    padding-left: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  section .contenedor-form #msje-registro #name:focus,
  section .contenedor-form #msje-registro #lastname:focus {
    outline: none;
    border: 1px solid #b4aaaa;
  }
  section .contenedor-form #msje-registro #lastname {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=user-sign-up.component.css.map */