$fte-ppal: 'Poppins',
sans-serif;
$fte-sec: 'Open Sans',
sans-serif;
$color-ppal:#fff;
$color-sec: rgb(87, 83, 83);
$color-ter: rgb(172, 165, 165);
$color-menues: rgb(243, 236, 236);
$color-wf1:#223e66;
$color-wf2:#1f4e84;
$color-wf3:#2779cd;
$color-wf4:#70b8f3;

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button{
    appearance: none;
    margin: 0;
}
%campos{
    margin-top: 7px;
    margin-bottom: 15px;
    height: 35px;
   width: 100%;
    font-family: $fte-sec;
    font-size: 15px;
    padding-left: 5px;
    box-sizing: border-box;
    border: none;
    background-color:rgb(246, 242, 242) ;
    border-bottom: 1px solid grey;
    &:focus {
        outline: none;
        border-bottom: 2px solid $color-wf3;
    }
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .row-logo{
        a{
          img {
             width: 200px;           
            height: 60px;          
             margin-top: 35px;          
             }
        }          
    }
    .row-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        .contenedor-form{
            padding-top: 20px;
            padding-bottom: 30px;
            background-color:rgb(246, 242, 242);
            border-radius: 15px;
            margin-top: 35px;
            margin-bottom: 50px;
            min-width: 700px;
            border: 1px solid red;
            box-shadow: 2px 4px 10px grey;
            #cont-form{
                width: 90%;
                border: 1px solid blue;

                margin-left: auto;
                margin-right:auto ;              
            }
        }
       
    }
}
.titulo{
    h2 {
        border-bottom: 1px solid grey;
        font-family: $fte-sec;
        font-size: 22px;
        color: $color-sec;
        display: block;
        width: 100%;
        padding-bottom: 5px;
        
    }
    .fa-arrow-circle-left {
        font-size: 1.2em;
        color:rgb(34, 33, 33);
        margin-right: 8px;
        outline: none;
        position: absolute;
        top:8px;
        left: -1.7vw;
   
    }
}
.nombre-apellido{
    .name  {
        #name{
          @extend %campos;
          &.is-invalid{
            border-bottom: 1px solid rgb(252, 62, 62);
        }
        }
    }
    .lastname{
        #lastname{
            @extend %campos;
            &.is-invalid{
                border-bottom: 1px solid rgb(252, 62, 62);
            }
        }
    }
}
.location{
    .country{
       @extend %campos;
       &.is-invalid{
        border-bottom: 1px solid rgb(252, 62, 62);
    }
    }
    .state{
        @extend %campos;
        &.is-invalid{
            border-bottom: 1px solid rgb(252, 62, 62);
        }
     }
     .city{
        @extend %campos;
        &.is-invalid{
            border-bottom: 1px solid rgb(252, 62, 62);
        }
     }
}
.calle-nro{
    .calle {
        #calle{
            @extend %campos;
            &.is-invalid{
                border-bottom: 1px solid rgb(252, 62, 62);
            }
        }
    }
    .piso{
        #piso{
            @extend %campos;
        }  
    }
    .nro{
        #nro{
            @extend %campos;
            &.is-invalid{
                border-bottom: 1px solid rgb(252, 62, 62);
            }
        }
    }
    .cp{
        #cp{
            @extend %campos;
            &.is-invalid{
                border-bottom: 1px solid rgb(252, 62, 62);
            }
        }
    }
}
.cont-email{
    .email{
        #email{
            @extend %campos;
            &.is-invalid{
                border-bottom: 1px solid rgb(252, 62, 62);
            }
        }
    }
    .passwords{
        .campo{
            // position: relative;
            #new-pasw, #new-pasw-repeat{
                @extend %campos;
                position: relative;
                &.is-invalid~i{
                 color:rgb(150, 9, 9);
                }
                &.is-invalid{
                    border-bottom: 1px solid rgb(252, 62, 62);
                }
            }
            i {
            position: absolute;
            padding: 13px;
            font-size: 1.1em;
            color: grey;
            right: 12px;
            top: 5px;
            }
            .fa-eye-slash {
            visibility: hidden;
             }
        }  
    }
}
.terms-checkbox{
    margin-top: 20px;
    display: flex;
    align-items: baseline;
    margin-left: 5px;
     #terms{
         margin-right: 8px;
     }
     #aceptar-terminos{
         font-family: $fte-sec;
     }
 }
 .boton {
    width: 60%;
    min-width: 210px;
    height: 40px;
    background-color: $color-wf1;
    color: white;
    font-family: $fte-sec;
    font-size: 17px;
    border: none;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    &:hover {
        box-shadow: 1px 2px 2px gray;
        background-color: $color-wf2;
    }
    outline: none;
}
.text-rojo{
    font-family: $fte-sec;
    color: red;
    line-height: 13px;
    display: block;
  transform: translateY(-15px);
   }
#combobox-estados, #combobox-ciudades{
    display: none;
}
#alert2{
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  font-size: 15px;
transform: translateY(0px);
}
.msje-teminos{
    transform: translateY(0px);
    margin-left: 4px;
    font-size: 12px;
}
#msje-registro {
    font-family: $fte-sec;
    color: rgb(34, 33, 33);
    text-align: center;
    display: none;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    min-width: 250px;
    max-width: 600px;
    width: 90%;
    span {
        font-size: 16px;
        color: $color-sec;
    }
}



@media screen and (max-width: 600px) {
    .container{
        .row-logo{
            a{
              img {
                width: 140px;
                height: 40px;
                position:unset;
                margin-top: 10px;        
                 }
            }          
        }
        .row-body{
            .contenedor-form{
                padding-top: 10px;
                padding-bottom: 20px;
                margin-top: 20px;
                min-width: 90vw;
              
            }
           
        }
    }
    .titulo{
        h2 {
            font-size: 20px;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
        .fa-arrow-circle-left {
            font-size: 1.1em;
            top:10px;
            left: -6vw;
       
        }
    }
    .terms-checkbox{
        margin-top: 10px;
        font-size: 13px;
         #terms{
             margin-right: 5px;
         }
         #aceptar-terminos{
             font-family: $fte-sec;
             width: 70%;
         }
     }
     .boton {
         width: 100%;
         min-width: unset;
        height: 35px;
        margin-top: 3px;
    }
    #formName{
        margin-top: -10px;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .container{
        .row-logo{
            a{
              img {
                width: 170px;
                height: 50px;
                right: 20px;
                top: 20px;        
                 }
            }          
        }
        .row-body{
            .contenedor-form{
                padding-top: 10px;
                margin-top: 15px;
                min-width: 600px;
            }
        }
    }
    .titulo{
        h2 {
            font-size: 22px;
        }
        .fa-arrow-circle-left {
            font-size: 1.2em;
            top:8px;
            left: -5vw;
        }
    }
}
@media screen and (min-width: 600px) and (max-width: 700px){
    .container{
        .row-logo{
            a{
              img {
                width: 140px;
                height: 40px;
                position:unset;
                margin-top: 10px;        
                 }
            }          
        }
        .row-body{
            .contenedor-form{
                margin-top: 20px;
            }
        }
    }
}