
$fte-ppal: 'Poppins', sans-serif;
$fte-sec: 'Open Sans', sans-serif;
$color-ppal:#fff;
 $color-sec: rgb(87, 83, 83);
 $color-ter: rgb(172, 165, 165);
 $color-menues: rgb(243, 236, 236);
 $color-wf1:#223e66;
 $color-wf2:#1f4e84;
 $color-wf3:#2779cd;
 $color-wf4:#70b8f3;
 input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button{
    appearance: none;
    margin: 0;
}

 .routes{
    margin-left: 30px;
    margin-top: 10px;
    p{
        display: flex;
        align-items: baseline;
        a{
            text-decoration: none;
            font-family: $fte-sec;
            font-size: 14px;
            color: $color-wf4;
            &:hover{
                color: $color-wf3;
            }
        } 
        i{
            font-size: 0.7em;
            color: rgb(161, 158, 158);
            margin-left: 4px;
            margin-right: 4px;
            margin-top:-10px
        }
    }
    .cantidad-rdos{
        display: block;
        margin-top: -16px;
        font-family: $fte-sec;
        color: $color-ter;
        font-size: 16px;
    }
    .filtros-mobile{
        .opciones-mobile{
            display: flex;
            justify-content: flex-end;
            margin-right: 2vw;
            p{
                font-family: $fte-sec;
                font-size: 14px;
                color: $color-sec;
                margin-right: 15px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
       
    }
} 

      .contenedorProductos{
        width: 95vw;
        margin-right:4vw;
        margin-top: 0px;
        margin-bottom: 70px;
        border-radius: 7px;
        float: right;
        padding-bottom:25px ;
          h2{ 
              font-family: $fte-ppal;
              color: $color-sec;
              display: block;
              margin: 25px 0px 0px 17px;
              padding-bottom: 10px;
              text-align: left;
              font-size: 20px;
              border-bottom: 1px solid $color-ter;
          }
          .contenedor-grid{
             margin-top: 18px;
              font-size:16px;
              width: 100%;
              border-radius: 15px;
              overflow: hidden;
          }
      }
  
    
    
    .contenedor{
        width: 21vw;
        max-width: 310px;
        min-width:100px ;
        float: left;
        margin-left: 30px;
        margin-top: 0px;
        margin-bottom: 30px;
        .contenedor-menu {
            width: 21vw;
            min-width: 100px;
            max-width: 310px;
            font-family: $fte-sec;
            line-height: 20px;
            .menu{
               padding: 5px 20px 30px 20px;
               background-color: #f8f7f7;
               #tit-ppales{
                   font-size: 18px;
                   font-family:$fte-ppal;
                   color: $color-wf2;
                   list-style: none;
                   display: flex;
                   align-items: center;
                   margin-top: 25px;
                   margin-bottom: 10px;
                   i{
                       margin-right: 10px;
                       font-size: 0.7em;
                   }
                   #arrow2{
                       display: none;
                   }
                   
                 }
                 .ordenar{
                     display: flex;
                     justify-content: space-between;
                     align-items: center;
                     margin-top: 0px;
                     &:hover{
                        cursor: pointer;
                     }
                 }
                 
                 .submenu_lateral{
                     display: none;
                    list-style: none;
                    padding-left: 10px;
                    li{
                        font-family: $fte-sec;
                        color: $color-sec;
                        font-size: 15px;
                        margin-top: 5px;
                        &:hover{
                        cursor: pointer;
                        }
                    }
                  
                }
                
                .filtros{
                    font-size: 14px;
                    font-weight: bold;
                    color:$color-sec;
                    display: block;
                    padding: 5px 60px;             
                }
                .titulo-filtro{
                    font-size: 15px;
                    font-weight: bold;
                    color: $color-sec;
                    padding-left: 10px;
                    margin-top: 15px;
                }
                .subcategorias, .marcas, .prop-tit{
                    padding-left: 25px;
                    
                }
                .valores{
                    padding-left: 30px;
                    list-style: none;
                    margin-top: 15px;
                }
                .pcio-min-max{
                    display: flex;
                    width: 80%;
                    align-items: center;
                    justify-content: space-between;
                    padding-left: 20px;
                    .pcio{
                        width: 40%;
                        height: 27px;
                        padding-left: 10px;
                        border-radius: 20px;
                        border: 2px solid $color-wf2;
                        &:focus{
                            border: 2px solid $color-wf3;

                        }
                    }
                    .fa-chevron-circle-right{
                        font-size: 1.5em;
                        color: $color-wf1;
                        &:hover{
                            color: $color-wf2;
                            transform: scale(1.03);
                        }
                    }
                }

                
                
        }
        }
    }
    
      
      
      @media  screen and (max-width: 767px)  {
        .routes{
            .cantidad-rdos{
                margin-left: -25px;
                margin-top: 5px;
               margin-bottom: -18px;
               font-size: 15px;
            }
        }
        
        .contenedorProductos{
            width: 95vw;
            margin-top: -20px;
            float: none;
            padding-bottom:25px ;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: auto;
            margin-left: auto;
              h2{ 
                  font-size: 18px;
                  width: 96%;
              }
             
          }
         }
    @media  screen and (min-width: 401px) and (max-width: 700px)  {
            .contenedorProductos{
                margin-top: 0px;
                  h2{ 
                      font-size: 19px;
                  }
                 
              }
         }
   
               
    
      

