

<div class="row mt-4">
    <div class="col-md-4 col-xs-12 overflow-auto">
        <h4>Elija el o los productos a los que desea añadirles una promocíon.</h4>
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"><input type="text" class="form-control form-control-sm" placeholder="Buscar" name="filterPromos" [(ngModel)]="filterProductos"></th>
                        <th scope="col"><i class="far fa-question-circle fa-lg mb-2" placement="bottom" ngbTooltip="Tooltip on bottom"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productos; let i=index">
                        <td>{{producto.nombre}}</td>
                        <td>
                            <i class="fas fa-plus" style="cursor: pointer;" (click)="anadirProducto(i)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr class="d-block d-sm-none">
    </div>
    <div class="col-md-8 col-xs-12">
        <div class="row mt-5">
            <div class="col-md-4 ml-3">
                <h3 *ngIf="productosSeleccionados.length > 0">Productos seleccionados: </h3>
                <h3 *ngIf="productosSeleccionados.length === 0">Seleccione productos.</h3>
            </div>
            <div class="col">
                <h3><span *ngFor="let prod of productosSeleccionados; let j=index" style="background-color: #1f4e84; cursor: pointer;" class="badge badge-pill badge-primary mr-1" (click)="eliminarProducto(j)">{{prod.nombre}} x</span></h3>
            </div>
        </div>
        <hr>
        <form autocomplete="off" [formGroup]="formProducto" (ngSubmit)="crearPromocion()">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="ml-1"><i class="far fa-question-circle fa-md mb-2" placement="bottom" ngbTooltip="{{infoFechaInicio}}"></i> Fecha de incio.</h3>

                    <div class="form-group">
                        <div class="input-group">

                            <input class="form-control" placeholder="yyyy-mm-dd" 
                                   formControlName="fechaDesde" type="datetime-local" [min]="date" value="2020-11-20">
                        </div>
                    </div>


                </div>
                <div class="col-md-6">
                    <h3 class="ml-1"> Fecha fin.</h3>
                    <div class="form-group">
                        <div class="input-group">

                            <input class="form-control" placeholder="yyyy-mm-dd" 
                                   formControlName="fechaHasta" type="datetime-local" [class.is-invalid]="fechaHastaInvalida">
                        </div>
                        <small *ngIf="fechaHastaInvalida" class="text-danger">Ingrese una fecha válida.</small>
                    </div>

                </div>
                <div class="col-md-6">
                    <h3 class="ml-1 mt-3">Ingrese porcentaje de la promoción.</h3>
                    <div class="input-group">
                        <input type="number" class="form-control" formControlName="porcentaje" placeholder="Porcentaje" aria-label="Porcentaje" 
                               [class.is-invalid]="porcentajeInvalido" aria-describedby="basic-addon1">

                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon1" style="background-color: white;">%</span>
                        </div>

                    </div>
                    <small *ngIf="porcentajeInvalido" class="text-danger">Ingrese un porcentaje válido.</small>

                </div>

            </div>
            <div class="row mt-5 form-group">
                <div class="col-md-6 mt-md-3 offset-md-6 col-xs-12 text-center">
                    <!-- <button class="btn btn-danger mt-5" style="border: none;">Cancelar</button> -->
                    <!-- <button class="btn btn-secondary mt-5 mr-3" style="border: none;">Cancelar</button> -->
                    <button type="" class="btn btn-primary mt-5" [disabled]="!productosSeleccionados.length" style="background-color: #1f4e84; border: none;">Siguiente</button>
                </div>
            </div>
        </form>

    </div>
</div>