<section class="footer">
    <article>
        <div class="row1">
            <div class="caja ServCliente">
                <h4>Servicio al Cliente</h4>
                <p>Ayuda</p>
                <p>Preguntas Frecuentes</p>
                <p>Política de Privacidad</p>
                <p>Política de Envíos</p>
                <p>Política de Devoluciones <br> y Reembolsos</p>
                <p>Avisos Legales</p>
            </div>

            <div class="caja Contacto">
                <h4>Contacto</h4>
                <div class=" campo">
                    <i class="fab fa-whatsapp"></i>
                    <p>(+34) 93 78945612</p>
                </div>
                <div class="campo">
                    <i class="fas fa-phone-alt"></i>
                    <p>(+34) 93 78945612</p>
                </div>
                <div class="campo">
                    <i class="far fa-envelope"></i>
                    <p>hola@ecommerce.com</p>
                </div>
                <div class="campo ubic">
                    <i class="fas fa-map-marker-alt"></i>
                    <p class="direccion">Av. Calle XXXX, Barcelona,Cataluña</p>
                </div>
            </div>
            <div class="caja Nosotros">
                <div class="redes">
                    <h4>Nuestras Redes</h4>
                    <div class="iconos">
                        <a href="#" title="Facebook" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="#" title="Instagram" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#" title="Linkedin">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                </div>
                <div class="marca">
                    <h4>Wantfrom</h4>
                    <p> ¿Quíenes Somos?</p>
                    <p>Contános tu opinion</p>
                    <p>Trabajá con nosotros</p>

                </div>
            </div>

            <div class="caja newsletter">
                <h3><span>PROMOS Y OPORTUNIDADES </span> <br> EXCLUSIVAS</h3>

                <p>Suscríbete a nuestro newsletter para ser el primero en enterarte de nuestras novedades y ofertas</p>

                <form action="" method="post" class="form">
                    <input type="email" id="" name="" class="insertemail" placeholder="your@email.com"> 
                    <i class="far fa-envelope"></i>
                  
                </form>

            </div>
        </div>

        <div class="row2">
            <h4>Medios de Pago</h4>
            <div class="img-pagos">
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-paypal"></i>
        </div>
        </div>

        <div class="footer-mobile">
    
            <div class="redes">
                <div class="iconos">
                    <a href="#" title="Facebook" target="_blank">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="#" title="Instagram" target="_blank">
                        <img src="../../../assets/imagenes/instagram.png" alt="">
                    </a>
                    <a href="#" title="Linkedin">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
            <div class="ServCliente-mobile">
                <div class="row_one">
                    <a href="#"> Ayuda</a>
                    <a href="#"> Preguntas Frecuentes</a>
                </div>
                <div class="row_two">
                    <a href="#"> Politica de Privacidad</a>
                </div>
                <div class="row_three">
                    <a href="#"> Politica de Devoluciones y Reembolsos</a>
                </div>
                <div class="row_for">
                    <a href="#"> Politica de Envíos</a>
                    <a href="#"> AvisosLegales</a>
                </div>
            </div>

        </div>



    </article>
    <div class="copy">
      <p>Powered by </p>
       <a href="https://www.wantfrom.es/"> <img src="../../../../assets/imagenes/wf.png" alt=""></a>
     
    </div>
</section>