
$fte-ppal: 'Poppins', sans-serif;
$fte-sec: 'Open Sans', sans-serif;
$color-ppal:#fff;
 $color-sec: rgb(87, 83, 83);
 $color-ter: rgb(172, 165, 165);
 $color-menues: rgb(243, 236, 236);
 $color-wf1:#223e66;
 $color-wf2:#1f4e84;
 $color-wf3:#2779cd;
 $color-wf4:#70b8f3;
.cont-destacados{
  display: flex;
  flex-direction: column;
  width: 87%;
  margin-left: auto;
  margin-right: auto;
  h2{
     font-family: $fte-ppal;
    color: $color-sec;
    margin-top: 30px;
    font-size: 22px;
    margin-bottom: 0px;
  }
  .contenedor-principal{
    display: flex;
    align-items: center;
    position: relative;
    
    .flecha{
      display: flex;
      justify-content: center;
      align-items: center;
      position:absolute;
      border: none;
      font-size: 30px;
      height: 36px;
      top: calc(50%-4%);
      line-height: 40px;
      width: 36px;
      color: $color-ppal;
      cursor: pointer;
      z-index: 2;
      transition: .2s ease all;
      outline: none;
      background-color: rgba(175, 166, 166, 0.281);
      border-radius: 50%;
      &:hover{
        transform: scale(1.1);
        background-color: #70b8f3a2;
      }
    }
    .flecha-derecha{
      right: -15px;
      i{
        margin-right: -3px;
        margin-top: -1px;
      }

    }
    .flecha-izquierda{
      left: -15px;
      i{
        margin-left: -3px;
        margin-top: -1px;
      }

    }
    .contenedor-carousel{
      width: 100%;
    overflow: hidden;
      padding: 5px 0px 20px 10px;
      scroll-behavior:smooth ;// establece comportamiento del scroll
      .carousel{
        display: flex;
        flex-wrap: nowrap;
        .tarjetas{
          transition: .3s ease all;
          &.hover{
            transform: scale(1.1);
            transform-origin:center ;

          }
        }
      }
    }

  }
  .indicadores{
    display: flex;

    button{
      background-color: $color-ppal;
      height: 3px;
      width: 10px;
      cursor: pointer;
      border: none;
      &:hover{
        background-color: red;
      }
      &.activo{
        background-color: red;
      }

    }
  }
}

.cont-ofertas{
  display: flex;
  flex-direction: column;
  width: 87%;
  margin-left: auto;
  margin-right: auto;
  h2{
    font-family: $fte-ppal;
    color: $color-sec;
    margin-top: 30px;
    font-size: 22px;
    margin-bottom: 0px;
  }
  .contenedor-principal{
    display: flex;
    align-items: center;
    position: relative;
    .flecha{
      display: flex;
      justify-content: center;
      align-items: center;
      position:absolute;
      border: none;
      line-height: 40px;
      width: 36px;
      color: $color-ppal;
       font-size: 30px;
      height: 36px;
      top: calc(50%-4%);
      cursor: pointer;
      z-index: 2;
      transition: .2s ease all;
      outline: none;
    background-color: rgba(175, 166, 166, 0.281);
      border-radius: 50%;
      &:hover{
        transform: scale(1.1);
        background-color: #70b8f3a2;
      }
    }
     .flecha-derecha{
      right: -15px;
      i{
        margin-right: -3px;
        margin-top: -1px;
      }

    }
    .flecha-izquierda{
      left: -15px;
      i{
        margin-left: -3px;
        margin-top: -1px;
      }

    }
    .contenedor-carousel{
      width: 100%;
    overflow: hidden;
      padding: 5px 0px 20px 10px;
      scroll-behavior:smooth ;// establece comportamiento del scroll
      .carousel{
        display: flex;
        flex-wrap: nowrap;
        .tarjetas{
          transition: .3s ease all;
          &.hover{
            transform: scale(1.1);
            transform-origin:center ;

          }
        }
      }
    }

  }
  .indicadores-ofertas{
    display: flex;

    button{
      background-color: $color-ppal;
      height: 3px;
      width: 10px;
      cursor: pointer;
      border: none;
      &:hover{
        background-color: red;
      }
      &.activo{
        background-color: red;
      }

    }
  }
}



// //// categories

.section-categories{
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    font-family: $fte-ppal;
    color: $color-sec;
    font-size: 22px;
    margin-bottom: 0px;
  }
  .container-categories{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 55px;
  min-height: 80vh;
  box-sizing: border-box;
  .card-c{
    cursor: pointer;
    opacity: 0;
    transition: all 1s;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80% 20%;
    align-items: center;
    justify-items: center;
    width: 22vw;
    min-width: 170px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    outline: none;
    .cat{
     //border: 1px solid $color-menues;
      width: fit-content;
      height: fit-content;
      overflow: hidden;
      border-radius: 15px;
      &:hover>img{
        opacity: 0.7;
        transform: scale(1.1);
      }
      &:hover>h3{
        color: $color-wf1;
      }
     &:hover{
      box-shadow: 2px 3px 4px rgba(182, 179, 179, 0.514);
     }
      img{
        width: 100%;
        height: 195px;
       border-radius: 15px 15px 0px 0px;
      }
  
      h3{
       color: $color-sec;
       width: 100%;
       padding: 10px 10px 3px 10px;
       font-size: 18px;
       text-align: center;
       font-family: $fte-ppal;
       margin-bottom: 0px;
      }
    }
   
  }
}
}
.animacion{
  animation-name: mostrar;
  animation-duration: 1s;
}
@keyframes mostrar {
  0%{
    transform: translateY(60px);

  };
  100%{
    transform: translateX(0px);
  }
}



@media screen and (max-width: 340px) {
  .cont-destacados{
    width: 93%;
    h2{
      margin-top: 0px;
      font-size: 18px;
    }
    .contenedor-principal{
      .flecha{
        position:absolute;
        font-size: 20px;
        height: 12%;
        top: calc(50%-6%);
        line-height: 40px;
        width: 20px;
        
      }
      .flecha-derecha{
        right: -5px; 
      }
      .flecha-izquierda{
        left: -5px;  
      }
  }
}
  .cont-ofertas{
    h2{
     margin-top: 5px;
      font-size: 18px;
    }
    .contenedor-principal{
      .flecha{
        position:absolute;
        font-size: 20px;
        height: 12%;
        top: calc(50%-6%);
        line-height: 40px;
        width: 20px;
        
      }
      .flecha-derecha{
        right: -5px; 
      }
      .flecha-izquierda{
        left: -5px;  
      }
  }
  }
  .section-categories{
    h2{
      margin-top: 0px;
      font-size: 18px;
      margin-bottom: -10px;
    }
    .container-categories{
      display: flex;
      flex-direction: column;
      align-items: center;
      .card-c{
        width: 250px;
      }
    }
  }
 
}

@media screen and (min-width: 341px) and (max-width: 540px) {
  .cont-destacados{
    h2{
      margin-top: 0px;
      font-size: 20px;
    }
    .contenedor-principal{
      .flecha{
        position:absolute;
        font-size: 20px;
        height: 12%;
        top: calc(50%-6%);
        line-height: 40px;
        width: 20px;
        
      }
      .flecha-derecha{
        right: -5px; 
      }
      .flecha-izquierda{
        left: -5px;  
      }
  }
  }
  .cont-ofertas{
    h2{
     margin-top: 5px;
      font-size: 20px;
    }
    .contenedor-principal{
      .flecha{
        position:absolute;
        font-size: 20px;
        height: 12%;
        top: calc(50%-6%);
        line-height: 40px;
        width: 20px;
        
      }
      .flecha-derecha{
        right: -5px; 
      }
      .flecha-izquierda{
        left: -5px;  
      }
  }
  }
  .section-categories{
    h2{
      margin-top: 0px;
      font-size: 20px;
      margin-bottom: -10px;
    }
    .container-categories{
      display: grid;
      grid-template-columns: 1fr 1fr;
      .card-c{
      padding-left: 2vw;
      padding-right: 2vw;
      h3 {
        font-size: 12px;
      }
      #img-cat{
        width: 100%;
        height: 110px;
       border-radius: 15px 15px 0px 0px;
      }
      }
    }
}

}
@media screen and (min-width: 541px) and (max-width: 690px) {
  .section-categories{
  .container-categories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .card-c{
     padding-left: 3vw;
     padding-right: 3vw;
     width: 170px;
     h3 {
       font-size: 13px;
     }
     #img-cat{
      width: 100%;
      height: 110px;
     border-radius: 15px 15px 0px 0px;
    }
    }
  }
  }
}
@media screen and (min-width: 691px) and (max-width: 860px) {
  .section-categories{
  .container-categories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .card-c{
     padding-left: 3vw;
     padding-right: 3vw;
     width: 220px;
     h3 {
       font-size: 14px;
     }
   
    }
  }
  }
  #img-cat{
    width: 100%;
    height: 115px;
   border-radius: 15px 15px 0px 0px;
  }
}





