$fte-ppal: 'Poppins',sans-serif;
$fte-sec: 'Open Sans',sans-serif;
$color-ppal:#fff;
$color-sec: rgb(87, 83, 83);
$color-ter: rgb(172, 165, 165);
$color-menues: rgb(243, 236, 236);
$color-wf1:#223e66;
$color-wf3:#2779cd;

section{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:200px auto ;
    
    #lateralMenu{
        background-color: $color-wf1;
        width: 200px;
        padding-bottom: 250px;
        position: relative;
        z-index: 4;
        box-shadow: 1px 2px 2px $color-ter;
        .boton{
            display: none;
            width: 35px;
            height: 55px;
            border-radius: 0 30px 30px 0;
            background-color:$color-wf1;
            color: white;
            i{
              transform: translateY(6px);
              margin-left: 5px;
                display: block;
            }
            .fa-close {
                display: none;
            }
        }
        .lateral-container{
            margin-top: 20px;
            position: sticky;
            top: 40px;
            bottom:80vh;
            .userOptions{ 
                list-style: none;
                cursor: pointer;
                li{
                    outline: none;
                    font-size: 16px;
                    color:$color-ppal;
                    width: 100%;
                    padding:10px 18px ;
                    box-sizing: border-box;
                    font-family: $fte-ppal;
                    &:last-child{
                        border-top: 0.2px solid rgb(204, 193, 193);
                    }
                    &:hover{
                        background-color: $color-ppal;
                        cursor: pointer;
                        color:$color-sec;
                    }
                    &:hover >i{
                        font-size: 1em;
                    }
                    i{
                        font-size: 0.8em;
                        margin-bottom: 3px;
                    }
                
                }
               
            }
          }
    }
    .container-myprofile{
        
        display: flex;
        justify-content: center;
        background: linear-gradient(to bottom,$color-menues, white);
        .frame{
            width:85% ;
            margin-top: 30px;
            .title{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 5px;
                h2{
                    font-family: $fte-ppal;
                    font-size: 22px;
                    color: $color-sec;
                }
                #save{
                    display: none;
                    background-color: rgb(34, 33, 33);
                    color: white;
                    font-family: $fte-ppal;
                    text-transform: uppercase;
                    width: 140px;
                    height: 35px;
                    border-radius: 30px;
                    font-size: 15px;
                    border: none;
                    &:hover{
                        background-color: $color-sec;
                        transform: scale(1.03);
                        box-shadow: 1px 2px 1px grey;
                    }
                }
            }
            .personalInformation{
                background-color: white;
                width: 100%;
                padding: 0;
                padding: 30px 60px;
                box-shadow: 1px 2px 3px $color-sec;
                margin-bottom: 60px;
               .campo, .info {
                  font-family: $fte-sec;
                  font-size: 15px;
                 }
               .campo{
                 font-family: $fte-sec;
                }
                .info{
                  display: block;
                  overflow: hidden;
                width: 40vw;
                color: grey;
                text-align: center;
                cursor: default;
                font-size: 15px;
                margin-left: -9vw;
              }
              .fa-edit{
                color: $color-sec;
                cursor: pointer;
                &:hover {
                    font-size: 1.1em;
                    color: $color-wf3;
                }
              }
             
            }
            .title2{
                margin-bottom: 5px;
                h2{
                font-family: $fte-ppal;
                color: $color-sec;
                font-size: 22px;
                }
            }
            .cards{
                background-color: white;
                padding: 40px 60px;
                box-shadow: 1px 2px 3px $color-sec;
               margin-bottom: 70px;
               
                .card-row{
                    display: grid;
                    grid-template-columns: 15% 75% 10% ;
                    grid-template-rows: 1fr;
                    margin-bottom: 10px;
                    box-shadow: none;
                    border-bottom: 1px solid $color-ter;
                    margin-top: 10px;
                    img{
                        width: 75px;
                        height: 42px;
                        cursor: default;
                    }
                    div{
                        font-family: $fte-ppal;
                        p{
                            color: grey;
                            font-size: 13px;
                            line-height: 14px;
                            cursor: default;
                            &:first-child{
                                font-size: 16px;
                                color: black;
                            }
                         }
                    }
                    #delete{
                        font-family: $fte-ppal;
                        color: $color-sec;
                        cursor: pointer;
                        &:hover{
                            color:$color-ter ;
                        }
                    }
                }
            }
        }

    }
}


@media  screen and (max-width: 800px)  {
    section{
        display: flex;
        flex-direction: column;
        
        .container-myprofile{
            .frame{
                width: 93%;
                margin-top: 15px;
                .personalInformation{
                    padding: 15px 6px;
                    margin-bottom:65px;
                   .campo, .info {
                      font-size: 14px;
                     }
                   
                    .info{
                      display: block;
                      overflow: hidden;
                    width: 40vw;
                    color: grey;
                    text-align: center;
                    cursor: default;
                    margin-left: -5vw;
                  }                  
                }
            }
        }
    }
}

.snackPerfil{
    background-color:#1f4e84!important;
    color:white !important;
    font-family: $fte-sec !important;
    text-align: center !important;
  }