<section>
    <app-admin-sidebar></app-admin-sidebar>
    <div class="container-myprofile">
        <div class="frame">
            <div class="title">
                <h2>Mis Datos</h2>
                <button id="save">Guardar</button>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12 mt-3 p-3 mr-sm-6">

                        <div class="row">
                            <div class="col-md-4 col-4">
                                <p>Nombre: </p>
                            </div>
                            <div class="col-md-6 col-6">
                                <span>Antonio Jesús</span>
                            </div>
                            <div class="col-md-1 offset-md-1 col-1">
                                <i class="far fa-edit"></i>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-4 col-4">
                                <p>Apellido: </p>
                            </div>
                            <div class="col-md-6 col-6">
                                <span>Sosa</span>
                            </div>
                            <div class="col-md-1 offset-md-1 col-1">
                                <i class="far fa-edit"></i>
                            </div>
                        </div>

                            
                        <div class="row mt-2">
                            <div class="col-md-4 col-3">
                                <p>E-mail: </p>
                            </div>
                            <div class="col-md-6 col-6">
                                <span>a.sosa89@hotmail.com</span>
                            </div>
                            <div class="col-md-1 offset-md-1 offset-1 col-1">
                                <i class="far fa-edit"></i>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-4 col-4">
                                <p>Fecha de Nacimiento: </p>
                            </div>
                            <div class="col-md-6 col-6">
                                <span>02/12/1989</span>
                            </div>
                            <div class="col-md-1 offset-md-1 col-1">
                                <i class="far fa-edit"></i>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-4 col-4">
                                <p>DNI: </p>
                            </div>
                            <div class="col-md-6 col-6">
                                <span>38569824</span>
                            </div>
                            <div class="col-md-1 offset-md-1 col-1">
                                <i class="far fa-edit"></i>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-4 col-4">
                                <p>Teléfono: </p>
                            </div>
                            <div class="col-md-6 col-6">
                                <span>(+34) 93 78945612</span>
                            </div>
                            <div class="col-md-1 offset-md-1 col-1">
                                <i class="far fa-edit"></i>
                            </div>
                        </div>
                            
                        <div class="row mt-2">
                            <div class="col-md-4 col-4">
                                <p>Contraseña: </p>
                            </div>
                            <div class="col-md-6 col-6">
                                <span>*************</span>
                            </div>
                            <div class="col-md-1 offset-md-1 col-1">
                                <i class="far fa-edit"></i>
                            </div>
                        </div>
                            
                        <div class="row mt-2">
                            <div class="col-md-4 col-4">
                                <p>Rol: </p>
                            </div>
                            <div class="col-md-6 col-6">
                                <span>Administrador</span>
                            </div>
                        </div>
                                
                    </div>
                </div>
            </div>

        </div>
    </div>



</section>