
$fte-ppal: 'Poppins', sans-serif;
$fte-sec: 'Open Sans', sans-serif;
$color-ppal:#fff;
 $color-sec: rgb(87, 83, 83);
 $color-ter: rgb(172, 165, 165);
 $color-menues: rgb(243, 236, 236);


input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button{

    appearance: none;
    margin: 0;
}
.container-precheckout{
    width: 100%;
    height: fit-content;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, $color-ter, $color-menues, white);
   .subcontainer{
       width: 80%;
       display: flex;
       justify-content: space-around;
       align-items: center;
        .left{
            display: flex;
            justify-content: center;
            align-items: center;
            .msj{
                width: 25vw;
                margin-top: -25px;
                border-bottom: 1px solid $color-sec;
                padding: 10px 15px;
                p{
                    text-align: center;
                    font-family: $fte-sec;
                    color:rgb(87, 83, 83);
                    font-weight: bold;
                }
            }
        }
        .right{
            display: flex;
            justify-content: center;
            align-items: center;
       
        }
    }
}
@media screen and (max-width: 800px) {
    .container-precheckout{
        height: unset;
        min-height: unset;
       .subcontainer{
           width: 100%;
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           padding-bottom:50px ;
            .left{
                display: flex;
                justify-content: center;
                align-items: center;
                .msj{
                    width: 95%;
                    max-width: 550px;
                    margin-top: 10px;
                    border-bottom:none;
                    margin-bottom: -20px;;
                    p{
                        text-align: center;
                        font-family: $fte-sec;
                        color: white;
                        font-weight: normal;
                        font-size: 14px;
                    }
                }
            }
            .right{
                display: flex;
                justify-content: center;
                align-items: center;
           
            }
        }
    }
}



