input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 90vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 80px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3ecec), to(white));
  background: linear-gradient(to bottom, #f3ecec, white);
}

section .container {
  background-color: #fff;
  border-radius: 15px;
  margin-top: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 400px;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 1px 2px 5px #575353;
          box-shadow: 1px 2px 5px #575353;
}

section .container .title {
  width: 100%;
  text-align: center;
  background-color: #222121;
  border-radius: 15px 15px 0px 0px;
  display: block;
  padding: 20px 20px 15px 20px;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

section .container .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90%;
}

section .container .row1 .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}

section .container .row1 .lastname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}

section .container .row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90%;
}

section .container .row2 .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}

section .container .row2 .cellphone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}

section .container .dni {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 38%;
}

section .container .leyenda {
  color: #575353;
  font-size: 13px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: -37px;
  margin-right: 5px;
}

section .container button {
  background-color: #222121;
  font-size: 16px;
  font-size: 16px;
  color: white;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  border: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7px 35px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  border-radius: 0px 0px 15px 15px;
}

section .container button:hover {
  cursor: pointer;
  background-color: #575353;
}

.form-newuser {
  border: 1px solid #575353;
  font-family: "Open Sans", sans-serif;
  padding: 2px 10px;
  width: 60%;
  outline: none;
}

.form-newuser:hover {
  border: 2px solid #575353;
}

label {
  font-weight: bold;
  color: #575353;
  font-family: "Open Sans", sans-serif;
}
/*# sourceMappingURL=pre-checkout.component.css.map */