<section>
    <div id="lateralMenu">
        <div id="botonMenu" class="boton">
            <i class="fas fa-angle-right " id="open-menu" (click)="showLateralMenu()"></i>
            <i class="fas fa-close " id="close-menu" (click)="hiddeLateralMenu()"></i>
        </div>
        <div class="lateral-container" id="lateral-container">
            <ul class="userOptions">
                <li [routerLink]="['/user-my-purchases']">Compras</li>
                <li [routerLink]="['/user-favorites']"> Favoritos </li>
                <li [routerLink]="['/user-profile']"> Mis Datos </li>
                <li (click)="logout()">Cerrar Sesión</li>
            </ul>
        </div>
    </div>
</section>