



<div class="row" style="margin-top: 0;">
    <div class="col">
        <table class="table-sm table-hover" style="width: 100%;">
            <thead>
                <tr>
                <th class="text-center">ID</th>
                <th>Nombre</th>
                <th class="text-center">Cantidad</th>
                <th class="text-center">Precio venta</th>
                <th class="text-center">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of operacion.items">
                <td class="text-center">{{item.sku.id}}</td>
                <td>{{item.sku.nombre}}</td>
                <td class="text-center">{{item.cantidad}}</td>
                <td class="text-center">{{item.precioVenta | currency:"EUR":"symbol"}}</td>
                <td class="text-center">{{item.subtotal | currency:"EUR":"symbol"}}</td>
                </tr>
            </tbody>
            </table>
    </div>
</div>
<hr>

<div class="row" >
    <div class="col">
        <strong>Costo de envío:</strong> {{21 | currency:"EUR":"symbol"}} 
    </div>
    <div class="col">
        <strong>Código de promoción:</strong> A32BC
    </div>
    <div class="col">
        <strong>Medio de pago: </strong> {{operacion.medioPago.nombre | lowercase | titlecase}}
    </div>
</div>
    