

<div class="row">
    <div class="col-md-4 ml-3">
        <h3 *ngIf="subSeleccionada.nombre && (accion === 'nuevaProp' || accion === 'editProp')">Subcategoría seleccionada: </h3>
        <h3 *ngIf="!subSeleccionada.nombre && (accion === 'nuevaProp' || accion === 'editProp')">Seleccione una subcategoría.</h3>
        <h3 *ngIf="prodSeleccionado.nombre && accion === 'nuevaPropProd'">Producto seleccionado: </h3>
    </div>
    <div class="col offset-md-0 offset-4">
        <h3><span *ngIf="subSeleccionada.nombre"  style="background-color: #1f4e84; cursor: pointer;" 
            class="badge badge-pill badge-primary mr-1">{{subSeleccionada.nombre}}</span></h3>
        <h3><span *ngIf="prodSeleccionado.nombre"  style="background-color: #1f4e84; cursor: pointer;" 
            class="badge badge-pill badge-primary mr-1">{{prodSeleccionado.nombre}}</span></h3>
    </div>
</div>


<hr>
<form autocomplete="off" [formGroup]="formPropiedad" (ngSubmit)="crearPropiedad()">
    <div class="row">
        <div class="col-md-6">
            <h3 class="ml-1"><i class="far fa-question-circle fa-md mb-2" placement="right" ngbTooltip="{{infoNombre}}"></i> Nombre.</h3>
            <!-- <h3 *ngIf="subSeleccionadas.length === 0">Seleccione subcategorías.</h3> -->
            <div class="form-group">
                <div class="input-group">
                    
                <input class="form-control" placeholder="Nombre"
                        formControlName="nombre" type="text" [class.is-invalid]="nombreInvalido">
                </div>
                <small *ngIf="nombreInvalido" class="text-danger">Ingrese un nombre.</small>
            </div>


            <div class="row" *ngIf="accion === 'nuevaProp' || accion === 'nuevaPropProd'">
                <div class="col col-md-4">
                    <h3 class="ml-1"><i class="far fa-question-circle fa-md mb-2" placement="bottom" ngbTooltip="{{infoValores}}"></i> Valores:</h3>
                </div>
                <div class="col mt-1">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked (click)="ocultarTabla()">
                        <label class="form-check-label" for="gridRadios1">
                            Sin valores
                        </label>
                    </div>
                </div>
                <div class="col mt-1">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2" (click)="mostrarTabla()">
                        <label class="form-check-label" for="gridRadios2">
                            Con valores
                        </label>
                    </div>
                </div>
            </div>
            

            
        </div>
        <div class="col-md-6 col">
            
            <div class="table-responsive-valores" *ngIf="tablaValores">
                <table class="table table-sm">
                    <thead class="thead-dark">
                        <tr>
                        <th>Valor</th>
                        <th></th>
                        <!-- <th></th> -->
                        </tr>
                    </thead>
                    <tbody formArrayName="valores">
                        <tr *ngFor="let control of valores.controls; let i = index">
                        <td><input type="text" class="form-control form-control-sm" placeholder="Nuevo valor" [formControlName]="i" [attr.id]="'input'+i"></td>
                        <!-- <td></td> -->
                        <td>
                            <!-- <button class="btn btn-secondary btn-sm" type="button" *ngIf="accion === 'editProp'" (click)=" habilitarEdicion(i)"><i class="far fa-edit point" ></i></button> -->
                            <button class="btn btn-secondary btn-sm ml-1" type="button" (click)="borrarValor(i)" [disabled]="accion === 'editProp'"><i class="far fa-trash-alt" ></i></button>
                        </td>
                        </tr>
                    </tbody>
                    </table>
                    
            </div>
            <button *ngIf="tablaValores" class="btn btn-primary btn-sm btn-block mt-3" type="button" (click)="agregarValor()" 
                    style="background-color: #1f4e84; border: none;" >Agregar valor</button>
            
            
        </div>
        
        
    </div>


    <div class="row form-group mt-md-4">
        <div class="col-md-6 mt-md-3 offset-md-6 col-xs-12 text-center">
            <button [disabled]="!subSeleccionada.nombre" type="submit" class="btn btn-primary mt-5" style="background-color: #1f4e84; border: none;">Aceptar</button>
        </div>
    </div>
</form>