
$fte-ppal: 'Poppins', sans-serif;
$fte-sec: 'Open Sans', sans-serif;
$color-ppal:#fff;
 $color-sec: rgb(87, 83, 83);
 $color-ter: rgb(172, 165, 165);
 $color-menues: rgb(243, 236, 236);

 $color-wf1:#223e66;
 $color-wf2:#1f4e84;
 $color-wf3:#2779cd;
 $color-wf4:#70b8f3;

 input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button{
    appearance: none;
 }

 %campos{
    margin-top: 7px;
    margin-bottom: 15px;
    height: 35px;
   width: 100%;
    font-family: $fte-sec;
    font-size: 15px;
    padding-left: 5px;
    box-sizing: border-box;
    border: none;;
    border-bottom: 1px solid grey;
    &:focus {
        outline: none;
        border-bottom: 2px solid $color-wf3;
    }
}
.container-left{
    margin-left: 0px;
    h2{
        font-family: $fte-ppal;
        margin-top: 15px;
        display: block;
        font-size: 21px;
        border-bottom: 1px solid rgb(190, 187, 187);
    }
  
    form{
        box-sizing: border-box;
        border-radius: 15px;
        background-color: $color-ppal;
        margin-top: 10px;
        padding: 10px 30px;
        .deliveryMethod{
            margin-top: 15px;
            .subtitulo{
                font-family: $fte-sec;
                font-size: 18px;
                color: $color-sec;
             }
            .box{
                display: flex;
                width: 100%;
                justify-content: flex-start;
                align-items: center;
                :first-of-type{
                    margin-bottom: 20px;
                }
             }
            .deliver{
                input{
                   margin-right: 12px;
                }
                i{
                 color: $color-sec;
                 font-size: 2em;
                 display: block;
                 margin-right: 20px;
                }  
                .options{
                    font-size: 15px;
                    font-family: $fte-sec;
                } 
            }
            .deliveryAdress{
                border-top: 1px solid grey;
                padding-top: 10px;
                margin-top: -15px;
                font-family: $fte-sec;
                width: 97%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 50px;
                display: none;
                p{
                    color:grey;
                    display: block;
                    font-family: $fte-sec;
                    font-size: 15px;
                }
                .campos-direccion{
                    .location{
                        .country{
                           @extend %campos;
                           &.is-invalid{
                            border-bottom: 1px solid rgb(252, 62, 62);
                        }
                        }
                        .state{
                            @extend %campos;
                            &.is-invalid{
                                border-bottom: 1px solid rgb(252, 62, 62);
                            }
                         }
                         .city{
                            @extend %campos;
                            &.is-invalid{
                                border-bottom: 1px solid rgb(252, 62, 62);
                            }
                         }
                    }
                    .calle-nro{
                        .calle {
                            #calle{
                                @extend %campos;
                                &.is-invalid{
                                    border-bottom: 1px solid rgb(252, 62, 62);
                                }
                            }
                        }
                        .piso{
                            #piso{
                                @extend %campos;
                            }  
                        }
                        .nro{
                            #nro{
                                @extend %campos;
                                &.is-invalid{
                                    border-bottom: 1px solid rgb(252, 62, 62);
                                }
                            }
                        }
                        .cp{
                            #cp{
                                @extend %campos;
                                &.is-invalid{
                                    border-bottom: 1px solid rgb(252, 62, 62);
                                }
                            }
                        }
                    }
                }
            }
            .pick-up{
                input{
                    margin-right: 12px;
                 }
                i{
                 color: $color-sec;
                 font-size: 2em;
                 display: block;
                 margin-right: 20px;
                } 
                .options{
                    font-size: 15px;
                    font-family: $fte-sec;
                }                               
            }
            .adress1{
                display: none;
                border-top: 1px solid grey;
                margin-top: 0px;
                padding-top: 10px;
                width: 97%;
                margin-left: auto;
                margin-right: auto;
                span{
                    color:grey;
                    display: block;
                    font-family: $fte-sec;
                    font-size: 13px;
                    padding-left: 50px;
                }
            }
           }
        .paymentMethod{
            margin-top: 30px;
            .subtitulo{
                font-family: $fte-sec;
                font-size: 18px;
                color: $color-sec;
             }
            .paypal-box{
                display: flex;
                width: 100%;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 20px;
                img{
                    width: 90px;
                    height: 43px;
                    margin-left: 12px;
                 }
            }
            .cash-box{
               
                display: none;
                div{
                    display: flex;
                    width: 100%;
                    justify-content: flex-start;
                    align-items: center;
                    label{
                        img{
                        width: 70px;
                        height: 60px;
                        margin-left: 12px;
                        }
                    }
                }
                p{
                    font-family: $fte-sec;
                    font-size: 13px;
                    color:grey;
                }
            }
        }
        
    }
}
.text-rojo{
    font-family: $fte-sec;
    color: red;
    line-height: 13px;
    display: block;
  transform: translateY(-15px);
   }
#combobox-estados, #combobox-ciudades{
    display: none;
}
.container-right{
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-top: 45px;
    .summary{
        font-family: $fte-sec;
        display: flex;
        flex-direction: column;
        h2{
            font-family: $fte-ppal;
            color: $color-sec;
            font-size: 20px;
            border-bottom: 1px solid rgb(190, 187, 187);
            margin-bottom: 5px ;
            margin-top: 14px;
            display: block;
            padding: 0px 25px 0px 25px;
            &:hover{
                cursor: default;
            }
        }
        #subtotal-summary,#total-summary, #costo-envio{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 25px;
            &:hover{
                cursor: default;
            }
        }
        #subtotal-summary, #costo-envio{
            color: $color-ter;
            font-size: 16px;
        }
        #total-summary{
            font-weight: bolder;
            font-size: 19px;
            background-color:$color-menues;
        }
        .cont-detalle-compra{
            padding-bottom: 20px;
            .detalle-compra{
                padding: 5px 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-family: $fte-sec;
                color: $color-wf2;
                .cant-nombre{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    text-transform: capitalize;
                    #cantidad{
                        margin-right: 10px;
                    }
                }
            }
        }
        #linea-sep{
            height: 1px;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            background-color:rgb(190, 187, 187) ;
        }
      
        .coupon{
            border: 2px solid $color-sec;
            border-radius: 10px;
            width: 85%;
            align-self: center;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            box-sizing: border-box;
            padding: 5px 10px;
            margin-top: 30px;
            margin-bottom: 20px;
            outline: none;
            i{
                color: $color-sec;
                transform: rotate(-45deg);
            }
            span{
                font-size: 13px;
                font-weight: bolder;
                color: $color-sec;
            }
            &:hover{
                cursor: pointer;
                background-color: $color-sec;
            }
            &:hover>i{
                color: white;
            }
            &:hover>span{
                color: white;
                font-weight: normal;
            }

            
        }

    }
    button{
        background-color: $color-wf1;
        font-size: 17px;
        color: white;
        font-family: $fte-ppal;
        border-radius: 0px 0px 15px 15px;
        border: 0px ;
        margin-top:5px ;
        box-sizing: border-box;
        width: 100%;
        padding: 4px 25px;
        align-self: flex-end;
        outline: none;
        height: 37px;
        &:hover{
            cursor: pointer;
            background-color: $color-wf2;
        }
    }
}