
$fte-ppal: 'Poppins', sans-serif;
$fte-sec: 'Open Sans', sans-serif;
$color-ppal:#fff;
 $color-sec: rgb(87, 83, 83);
 $color-ter: rgb(172, 165, 165);
 $color-menues: rgb(243, 236, 236);

 $color-wf1:#223e66;
 $color-wf2:#1f4e84;
 $color-wf3:#2779cd;
 $color-wf4:#70b8f3;

 input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button{
    appearance: none;
 }
.is-invalid{
    border-bottom: 1px solid rgb(252, 62, 62);
}
 %campos{
    margin-top: 7px;
    margin-bottom: 15px;
    height: 35px;
   width: 100%;
    font-family: $fte-sec;
    font-size: 15px;
    padding-left: 5px;
    box-sizing: border-box;
    border: none;;
    border-bottom: 1px solid grey;
    &:focus {
        outline: none;
        border-bottom: 2px solid $color-wf3;
    }
}
.container-left{
    margin-left: 0px;
    h2{
        font-family: $fte-ppal;
        margin-top: 15px;
        display: block;
        font-size: 21px;
        border-bottom: 1px solid rgb(190, 187, 187);
    }
  
    form{
        box-sizing: border-box;
        border-radius: 15px;
        background-color: $color-ppal;
        margin-top: 10px;
        padding: 10px 30px;
        display: flex;
        flex-direction: column;
        
        .deliveryMethod{
            margin-top: 15px;
            .subtitulo{
                font-family: $fte-sec;
                font-size: 18px;
                color: $color-sec;
             }
            .box{
                display: flex;
                width: 100%;
                justify-content: flex-start;
                align-items: center;
                :first-of-type{
                    margin-bottom: 20px;
                }
             }
            .deliver{
                input{
                   margin-right: 12px;
                }
                i{
                 color: $color-sec;
                 font-size: 2em;
                 display: block;
                 margin-right: 20px;
                }  
                .options{
                    font-size: 15px;
                    font-family: $fte-sec;
                } 
            }
            .deliveryAdress{
                border-top: 1px solid grey;
                padding-top: 10px;
                margin-top: -15px;
                font-family: $fte-sec;
                width: 97%;
                margin-left: auto;
                margin-right: auto;
        
                .direccion-perfil{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    
                    width: 87%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 30px;
                    span{
                        color:grey;
                        display: block;
                        font-family: $fte-sec;
                        font-size: 13px;
                        text-transform: capitalize;
                        .fa-edit{
                            color: $color-sec;
                            cursor: pointer;
                            font-size: 16px;
                            &:hover {
                                font-size: 17px;
                                color: $color-wf3;
                            }
                          }
                    }
                }
                .cont-nueva-dir{
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 30px;
                    .campos-direccion{
                        .location{
                            .country{
                               @extend %campos;
                               &.is-invalid{
                                border-bottom: 1px solid rgb(252, 62, 62);
                            }
                            }
                            .state{
                                @extend %campos;
                                &.is-invalid{
                                    border-bottom: 1px solid rgb(252, 62, 62);
                                }
                             }
                             .city{
                                @extend %campos;
                                &.is-invalid{
                                    border-bottom: 1px solid rgb(252, 62, 62);
                                }
                             }
                        }
                        .calle-nro{
                            .calle {
                                #calle{
                                    @extend %campos;
                                    &.is-invalid{
                                        border-bottom: 1px solid rgb(252, 62, 62);
                                    }
                                }
                            }
                            .piso{
                                #piso{
                                    @extend %campos;
                                }  
                            }
                            .nro{
                                #nro{
                                    @extend %campos;
                                    &.is-invalid{
                                        border-bottom: 1px solid rgb(252, 62, 62);
                                    }
                                }
                            }
                            .cp{
                                #cp{
                                    @extend %campos;
                                    &.is-invalid{
                                        border-bottom: 1px solid rgb(252, 62, 62);
                                    }
                                }
                            }
                        }
                        .btn-span{
                            display: flex;
                            justify-content: space-between;
                            .btn{
                                background-color: $color-wf1;
                                color: white;
                                font-family: $fte-sec;
                                width: 83px;
                                font-size: 13px;
                                display: block;
                                padding: 1px;
                                padding-right: 3px;
                                padding-left: 3px;
                                position: absolute;
                                right: 10px;
                                bottom: -23px;
                                border-radius: 10px;
                                &:hover{
                                    background-color: $color-wf2;
                                    cursor: pointer;
                                }
                            }
                            .span-msje{
                                color:rgb(252, 62, 62) ;
                                font-family: $fte-sec;
                                font-size: 13px;
                                margin-left: 20px;
                                font-weight: bold;
                            }
                            
                        }
                        
                    }
                }
                .margin{
                    margin-bottom: 45px;
                }
            }
            .pick-up{
                input{
                    margin-right: 12px;
                 }
                i{
                 color: $color-sec;
                 font-size: 2em;
                 display: block;
                 margin-right: 20px;
                } 
                .options{
                    font-size: 15px;
                    font-family: $fte-sec;
                }                               
            }
            .adress1{
                border-top: 1px solid grey;
                margin-top: 0px;
                padding-top: 10px;
                width: 97%;
                margin-left: auto;
                margin-right: auto;
                span{
                    color:grey;
                    display: block;
                    font-family: $fte-sec;
                    font-size: 13px;
                    padding-left: 50px;
                }
            }
           }
        .paymentMethod{
            padding-bottom: 10px;
            margin-top: 30px;
            .titulo-pago{
                display: flex;
                flex-direction: column;
                .subtitulo{
                    font-family: $fte-sec;
                    font-size: 18px;
                    color: $color-sec;
                    margin-bottom: 0px;
                 }
                 .leyenda{
                     font-family: $fte-sec;
                     color: grey;
                     font-size: 13px;
                     display: block;
                     font-style: italic;
                     margin-bottom: 20px;
                     
                 }
            }
           
             .pago{
                display: flex;
                width: 100%;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 20px;
                
                .cash{
                    width: 50px;
                    height: 43px;
                    margin-left: 12px;
                 }
                 .paypal{
                    width: 70px;
                    height: 35px;
                    margin-left: 12px; 
                 }
             }
        }
        .cont-boton-guardar{
            position: relative;
            .btn{
                background-color: $color-wf1;
                color: white;
                font-family: $fte-sec;
                width: 15%;
                font-size: 14px;
                display: block;
                padding: 0;
                padding-right: 4px;
                padding-left: 4px;
                position: absolute;
                right: 10px;
                bottom: 20px;
                &:hover{
                    background-color: $color-wf2;
                    cursor: pointer;
                }
            }
            
        }
      
    }
}
.text-rojo{
    font-family: $fte-sec;
    color: red;
    line-height: 13px;
    display: block;
  transform: translateY(-15px);
   }
#combobox-estados,#combobox-estados-envio, #combobox-ciudades, #combobox-ciudades-envio{
    display: none;
}
.container-right{
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-top: 45px;
   
}
.titulos-forms{
    font-family: $fte-sec;
    display: block;
    padding: 1px 7px;
    border-radius: 3px;
    background-color:#12d6f033;
}
.titulo-dir{
    border-top: 1px solid grey;
    padding-top: 20px;
    margin-top: -10px;
    p{
        font-family: $fte-sec;
    }
    .check-repetir{
        font-size: 14px;
        color: $color-wf3;
        input{
            margin-right: 7px;
        }
    }
}
.botones{
    position: relative;
    margin-top:20px;
    margin-bottom: 70px;
    .cont-botones{
        position: absolute;
        right: 0;
        display: flex;
        justify-content: space-between;
        width: 35%;
        .btn{
            background-color: $color-wf1;
            color: white;
            font-family: $fte-sec;
            width: 40%;
            font-size: 16px;
            display: block;
            &:hover{
                background-color: $color-wf2;
                cursor: pointer;
            }
        }
    }
}
