<div class="container-fluid" id="contai">
    <div class="row">
        <div class="col-12 col-md-7 col-lg-7 offset-lg-1 container-left">
           
            <div class="row">
                <div class="col">
                    <h2>Forma de entrega y pago </h2>
                </div>
            </div>
            <form action="" class="row">
                <div class="col">
                    <div class=" row deliveryMethod">
                        <div class="col">
                            <div class="row">
                                <h3>Forma de entrega</h3>
                            </div>
                            <div class="deliver box row">
                                <input type="radio" name="deliver" id="deliver" (change)="showInputAdress()">
                                <span><i class="fas fa-truck"></i> </span>
                                <label for="deliver" class="options">Envío </label>
                            </div>
                            <div class="pick-up box row">
                                <input type="radio" name="deliver" id="entrega" (change)="showAdress()">
    
                                <i class="fas fa-store"></i>
                                <label for="entrega" class="options">Retirá en nuestro local</label>
                            </div>

                        </div>

                          
                      
                            <div class="deliveryAdress " id="newAdress12">
                                <p>Ingrese su dirección de entrega</p>
                                <div class="inputAdress">
                                    <input type="text" required id="deliveryAdress" placeholder="Calle">
                                    <input type="text" required id="number" placeholder="nro.">
                                    <input type="text" required id="dto" placeholder="dto">
                                    <input type="text" required id="CP" placeholder="CP">
                                </div>
                                <!-- <select name="ciudad" id="ciudad">
                                <option value="uno" selected>-Seleccione una ciudad-</option>
                                <option value="value1"> Opcion 1</option>
                                <option value="value2"> Opcion 2</option>
                                <option value="value3"> Opcion 3</option>
                            </select> -->
                            </div>
                 
                            <div class="adress1" id="ourAdress">
                                <span>Av Emilio Olmos 20 - local 53, CP5000. Córdoba, Argentina</span>
                            </div>
                       
                    </div>
                    <div class="row paymentMethod">
                        

                            <legend>Método de Pago</legend>
                            <div class="paypal-box">
                                <input type="radio" name="pago" id="paypal">
                                <label for="paypal"><img src="../../../../../assets/imagenes/paypal.png" alt=""></label>
                            </div>
                            <div class="cash-box" id="cash-box">
                                <div>
                                    <input type="radio" name="pago" id="cash">
    
                                    <label for="cash"><img src="../../../../../assets/imagenes/cash.png" alt=""></label>
                                </div>
                                <p>Pago en efectivo al momento de retirar</p>
    
                            </div>
                        
                    </div>

                </div>
                
            </form>
        </div>
        <div class="col-12 col-md-5 col-lg-4 offset-lg-1 container-right">
            <div class="row  summary">
                <h2>Resumen de compra</h2>
                <div id="subtotal-summary"><span>Subtotal:</span> <span>€{{carrito?.total | number: '.0-2'}}</span>
                </div>
                <div id="total-summary"><span>Total:</span> <span>€{{carrito?.total | number: '.0-2'}}</span> </div>
                <div class="coupon">
                    <i class="fas fa-ticket-alt"></i> <span>¿Tenés un cupón de descuento?</span>
                </div>
                <!-- <button [routerLink]="['/pre-checkout']">Continuar</button> -->
            </div>

        </div>
    </div>
</div>