<div class="container-fluid" id="contai">
    <div class="row">
        <div class="col-12 col-md-7 col-lg-7 offset-lg-1 container-left">
            <div class="row">
                <div class="col">
                    <h2>Forma de entrega y pago </h2>
                </div>
            </div>
            <form [formGroup]="formEntrega" class="row" autocomplete="off">
                <div class="col">
                    <div class=" row deliveryMethod">
                        <div class="col">
                            <div class="row">
                                <h3 class="subtitulo">Forma de entrega</h3>
                            </div>
                            <div class="deliver box row">
                                <input type="radio" value="Envío a domicilio" id="deliver"
                                    formControlName="formaDeEntrega" (change)="showProfileAdress();guardarDatos()">
                                <span><i class="fas fa-truck"></i> </span>
                                <label for="deliver" class="options">Envío </label>
                            </div>
                            <div class="deliveryAdress row " *ngIf="envioADomicilio">
                                <!-- form editar direccion de envio -->
                                <div class="col" *ngIf="tieneDireccion">
                                    <div class="direccion-perfil row" id="dir-perfil">
                                        <span>{{infoCliente.direccion.calle}} {{infoCliente.direccion.numeroCalle}} -
                                            Piso:{{infoCliente.direccion.piso}} - CP:
                                            {{infoCliente.direccion.codigoPostal}} -
                                            {{infoCliente.direccion.ciudad.nombre}} </span>
                                        <span><i class="far fa-edit" (click)="mostrarFormNewAdress()"></i></span>
                                    </div>
                                    <div class="row cont-nueva-dir" *ngIf="nuevaDireccion">
                                        <div class="col">
                                            <div class="row">
                                                <p>Ingrese su dirección de entrega</p>
                                            </div>
                                            <div class="row campos-direccion ">
                                                <div class="col" formGroupName="direccion">
                                                    <div class=" row location ">
                                                        <div class="col-12  col-sm-4 ">
                                                            <select class="country" (change)="showEstados()"
                                                                formControlName="pais"
                                                                [class.is-invalid]="paisInvalido">
                                                                <option hidden selected value="">-*Pais-</option>
                                                                <option [ngValue]="pais" *ngFor="let pais of paises">
                                                                    {{pais.nombre}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="col-12  col-sm-4 ">
                                                            <select class="state" (change)="showCiudades()"
                                                                id="combobox-estados" formControlName="estado"
                                                                [class.is-invalid]="estadoInvalido">
                                                                <option hidden selected value="">-*Estado-</option>
                                                                <option [ngValue]="estado"
                                                                    *ngFor="let estado of estados">
                                                                    {{estado.nombre}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="col-12  col-sm-4 ">
                                                            <select class="city" id="combobox-ciudades"
                                                                [class.is-invalid]="ciudadInvalida"
                                                                formControlName="ciudad">
                                                                <option hidden selected value="">-*Ciudad-</option>
                                                                <option *ngFor="let ciudad of ciudades"
                                                                    [ngValue]="ciudad">
                                                                    {{ciudad.nombre}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row calle-nro">
                                                        <div class=" col-12 col-sm-6 calle">
                                                            <input type="text" [class.is-invalid]="calleInvalida"
                                                                placeholder="*Calle" id="calle" formControlName="calle">
                                                        </div>
                                                        <div class="col-12 col-sm-6">
                                                            <div class="row">
                                                                <div class=" col-4 nro">
                                                                    <input type="number"
                                                                        [class.is-invalid]="nroInvalido" id="nro"
                                                                        placeholder="*Nro" formControlName="nro">
                                                                </div>
                                                                <div class=" col-4 piso">
                                                                    <input type="text" id="piso" placeholder="Piso"
                                                                        formControlName="piso">
                                                                </div>
                                                                <div class="col-4 cp">
                                                                    <input type="text" [class.is-invalid]="cpInvalido"
                                                                        id="cp" placeholder="*CP" formControlName="cp">
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- FIN form editar direccion de envio -->


                                <!-- form direccion de envio y de facturacion -->
                                <div class="col" *ngIf="!tieneDireccion">
                                    <div class="row cont-nueva-dir margin">
                                        <div class="col">
                                            <div class="row">
                                                <p class="titulos-forms">Ingrese su dirección de Facturación</p>
                                            </div>
                                            <div class="row campos-direccion">
                                                <div class="col" formGroupName="direccionFacturacion">
                                                    <div class=" row location ">
                                                        <div class="col-12  col-sm-4 ">
                                                            <select class="country" (change)="showEstados()"
                                                                formControlName="pais">
                                                                <option hidden selected value="">-*Pais-</option>
                                                                <option [ngValue]="pais" *ngFor="let pais of paises">
                                                                    {{pais.nombre}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="col-12  col-sm-4 ">
                                                            <select class="state" (change)="showCiudades()"
                                                                id="combobox-estados" formControlName="estado">
                                                                <option hidden selected value="">-*Estado-</option>
                                                                <option [ngValue]="estado"
                                                                    *ngFor="let estado of estados">
                                                                    {{estado.nombre}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="col-12  col-sm-4 ">
                                                            <select class="city" id="combobox-ciudades"
                                                                formControlName="ciudad">
                                                                <option hidden selected value="">-*Ciudad-</option>
                                                                <option *ngFor="let ciudad of ciudades"
                                                                    [ngValue]="ciudad">
                                                                    {{ciudad.nombre}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row calle-nro">
                                                        <div class=" col-12 col-sm-6 calle">
                                                            <input type="text" placeholder="*Calle" id="calle"
                                                                formControlName="calle">
                                                        </div>
                                                        <div class="col-12 col-sm-6">
                                                            <div class="row">
                                                                <div class=" col-4 nro">
                                                                    <input type="number" id="nro" placeholder="*Nro"
                                                                        formControlName="nro">
                                                                </div>
                                                                <div class=" col-4 piso">
                                                                    <input type="text" id="piso" placeholder="Piso"
                                                                        formControlName="piso">
                                                                </div>
                                                                <div class="col-4 cp">
                                                                    <input type="text" id="cp" placeholder="*CP"
                                                                        formControlName="cp">
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                    <div class="row btn-span" id="msje-btn-form-facturacion">
                                                        <span class="span-msje" *ngIf="mostrarMsje"> (*)Campos
                                                            obligatorios.</span>
                                                        <button class="btn" (click)="guardarDatos()">
                                                            Guardar
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                             
                                <!-- FIN form  direccion de facturacion  -->
                                 <!-- inicio form direccion de envio  -->
                              
                                    <div class="row cont-nueva-dir margin borde"*ngIf="guardarDireccionFacturacion">
                                        <div class="col">
                                            <div class="row titulo-dir">
                                                <p class="titulos-forms">Ingrese su dirección de Envío</p>
                                                <div class="check-repetir">
                                                   
                                                    <input type="checkbox" id="repetir" (change)="ocultarFormDireccion()">
                                                    <label for="repetir">   Utilizar dirección de facturación como dirección de envío.
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row campos-direccion" id="campo-ocultar">
                                                <div class="col"
                                                    formGroupName="direccion">
                                                    <div class=" row location ">
                                                        <div class="col-12  col-sm-4 ">
                                                            <select class="country"
                                                                (change)="showEstados()"
                                                                formControlName="pais">
                                                                <option hidden selected value="">
                                                                    -*Pais-</option>
                                                                <option [ngValue]="pais"
                                                                    *ngFor="let pais of paises">
                                                                    {{pais.nombre}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="col-12  col-sm-4 ">
                                                            <select class="state"
                                                                (change)="showCiudades()"
                                                                id="combobox-estados"
                                                                formControlName="estado">
                                                                <option hidden selected value="">
                                                                    -*Estado-</option>
                                                                <option [ngValue]="estado"
                                                                    *ngFor="let estado of estados">
                                                                    {{estado.nombre}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="col-12  col-sm-4 ">
                                                            <select class="city"
                                                                id="combobox-ciudades"
                                                                formControlName="ciudad">
                                                                <option hidden selected value="">
                                                                    -*Ciudad-</option>
                                                                <option
                                                                    *ngFor="let ciudad of ciudades"
                                                                    [ngValue]="ciudad">
                                                                    {{ciudad.nombre}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row calle-nro">
                                                        <div class=" col-12 col-sm-6 calle">
                                                            <input type="text" placeholder="*Calle"
                                                                id="calle" formControlName="calle">
                                                        </div>
                                                        <div class="col-12 col-sm-6">
                                                            <div class="row">
                                                                <div class=" col-4 nro">
                                                                    <input type="number" id="nro"
                                                                        placeholder="*Nro"
                                                                        formControlName="nro">
                                                                </div>
                                                                <div class=" col-4 piso">
                                                                    <input type="text" id="piso"
                                                                        placeholder="Piso"
                                                                        formControlName="piso">
                                                                </div>
                                                                <div class="col-4 cp">
                                                                    <input type="text" id="cp"
                                                                        placeholder="*CP"
                                                                        formControlName="cp">
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- FIN direccion de envio -->
                            </div>
                            <div class="pick-up box row">
                                <input type="radio" value="Retiro personalmente" id="entrega"
                                    (change)="showAdress();guardarDatos()" formControlName="formaDeEntrega">

                                <i class="fas fa-store"></i>
                                <label for="entrega" class="options">Retire en nuestra tienda</label>
                            </div>
                            <div class="adress1 row" *ngIf="!envioADomicilio">
                                <span>Av. Calle 4678, Barcelona,Cataluña.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row paymentMethod">
                        <div class="col">
                            <div class="row titulo-pago">
                                <h3 class="subtitulo">Método de Pago</h3>

                                <span class="leyenda">El pago en efectivo solo se encuentra disponible para la opción de
                                    entrega en tienda.</span>
                            </div>
                            <div class="row pago" *ngFor="let medioPago of mediosDePago, let i=index ">
                                <input type="radio" value="{{medioPago?.id}}" id="{{medioPago?.id}}"
                                    formControlName="formaDePago" (change)="guardarDatos()">
                                <label for="{{medioPago?.nombre}}">
                                    <img class="cash" *ngIf="imgEfvo(i)&& mostrarEfvo"
                                        src="../../../../../assets/imagenes/cash.png" alt="">
                                    <img class="paypal" *ngIf="imgPayPal(i)"
                                        src="../../../../../assets/imagenes/paypal.png" alt="">
                                </label>
                            </div>
                            <!-- <div class="paypal-box row">
                                <input type="radio"  value="Paypal" id="paypal"  formControlName="formaDePago">
                                <label for="paypal"><img src="../../../../../assets/imagenes/paypal.png" alt=""></label>
                            </div>
                            <div class="cash-box row" id="cash-box" *ngIf="!envioADomicilio" >
                                <div>
                                    <input type="radio" [disabled]="!envioADomicilio" value="Efectivo" id="cash" formControlName="formaDePago">
    
                                    <label for="cash"><img src="../../../../../assets/imagenes/cash.png" alt=""></label>
                                </div>
                                <p>Pago en efectivo al momento de retirar</p>
    
                            </div> -->
                        </div>
                    </div>
                </div>
            </form>
            <!-- <span>Debe  seleccionar una forma de entrega y pago antes de continuar.</span> -->
        </div>
        <div class="col-12 col-md-5 col-lg-4 offset-lg-1 container-right">
            <app-resumen-carrito [actualizarCarrito]="actualizarCarrito" *ngIf="mostrarResumen"></app-resumen-carrito>
        </div>
    </div>
    <div class=" botones row">

        <div class="cont-botones">
            <button mat-button matStepperPrevious class="btn" (click)="cerrarComponente()">Atrás</button>
            <button mat-button matStepperNext (click)="guardarDatos()" class="btn" id="btn-continuar"
                *ngIf="llegoCarrito" [disabled]="!formValido">Continuar</button>
        </div>
    </div>
</div>