<section>
    <app-admin-sidebar></app-admin-sidebar>
    <div class="container-miscompras">
        <div class="frame">
            <div class="title">
                <h2>Promociones</h2>
            </div>




            <div class="container">


                <!-- MODAL NUEVA PROMOCIÓN -->
                <ng-template #contenido let-modal>
                    <div class="modal-header">
                        <h1 class="mt-4">Nueva promoción</h1>
                        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Subcategoría</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Producto</a>
                            </li>

                        </ul>
                        <div class="tab-content" id="myTabContent">

                            <!-- Pestaña subcategoria -->
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                                <app-promo-subcategoria></app-promo-subcategoria>

                            </div>

                            <!-- Pestaña prducto -->
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                                <app-promo-producto></app-promo-producto>

                            </div>

                        </div>

                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="modal.close()"> Cancelar</button>
                    </div> -->
                </ng-template>


                <!-- CONTENIDO PRINCIPAL -->
                <a class="btn-flotante d-block d-sm-none rounded-circle" (click)="open(contenido)">+</a>

                <div class="row mb-md-1 mb-2">
                    <div class="col-md-3 col-xs-3 form-group">
                        <input type="text" class="form-control" placeholder="Buscar" name="filterPromos" [(ngModel)]="filterPromos">
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <select class="custom-select">
                            <option value="" hidden selected>Ordene por:</option>
                            <option value="">Producto</option>
                            <option value="">Subcategoría</option>
                        </select>
                    </div>
                    <div class="col-md col-xs-12 text-right d-none d-sm-block">
                        <button class="btn btn-primary" style="background-color: #1f4e84; border: none;" (click)="open(contenido)">Nueva promoción</button>
                    </div>
                </div>

 <!--                <div class="accordion" id="accordionExample">
                    <div class="card" *ngFor="let producto of productos | sort:filterPromos | paginate:page_size:page_number ; let i=index;">
                        <div class="card-header" id="headingOne" style="background-color:white ; border-style: solid; border-color: #1f4e84; border-radius: 3px; border-width: 1px;">

                            <div class="row">
                                <div class="col-md-2 text-center col-xs-12">
                                    <i [attr.id]="i" (click)="arrowIcono(i)"  class="fas fa-angle-down fa-lg mr-2" data-toggle="collapse" [attr.data-target]="'#collapse'+i" aria-expanded="true" aria-controls="collapseOne"  style="cursor: pointer;"></i>
                                    <img [src]="producto.foto.imageUrl" class="img-prod" alt="..." *ngIf="producto.foto">
                                    <img src="assets/imagenes/noimage.png" class="img-prod" alt="..." *ngIf="!producto.foto">
                                </div>

                                <div class="col-md-3 col-xs-12 ">
                                    <h4 class="ml-xs-5 my-xs-4">{{producto.nombre | titlecase }}</h4>
                                    <h4>Id: {{producto.id}}</h4>
                                    <h4>Subcategoría: {{producto.subcategoria.nombre}}</h4>
                                
                                </div>

                                <div class="col-md-3">
                                    <h4>Precio: {{producto.precio | currency:"EUR":"symbol"}}</h4>
                                    <h4>Precio oferta: {{producto.promocion.precioOferta | currency:"EUR":"symbol"}}</h4>
                                    <h4>Porcentaje oferta: {{(producto.promocion.porcentaje * 100) | number:'2.0-0'}}%</h4>
                                    
                                    
                                </div>

                                <div class="col-md-3">
                                    <h4>Fecha desde: {{producto.promocion.fechaDesde | convertFecha | slice:0:14}}</h4>
                                    <h4>Fecha hasta: {{producto.promocion.fechaHasta | convertFecha | slice:0:14}}</h4>
                                    <h4 *ngIf="producto.promocion.estaVigente">Estado: En vigencia</h4>
                                    <h4 *ngIf="!producto.promocion.estaVigente">Estado: Sin vigencia</h4>
                                    
                                </div>
                                <div class="col-md-1 d-none d-sm-block">
                                    <h4><i class="far fa-edit fa-lg"></i></h4>
                                    <h4><i class="far fa-check-square fa-lg"></i></h4>
                                </div>

                                <div class="col d-block d-sm-none ml-10 text-center">
                                    <i class="far fa-edit fa-lg mr-5"></i>
                                    <i class="far fa-trash-alt fa-lg "></i>
                                </div>


                            </div>
                            

                        </div>
                        <div [attr.id]="'collapse'+i" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body" style="background-color: rgb(245, 245, 245); border: solid; border-color: #1f4e84; border-width: 1px; border-top: none;">
                                <h3>Propiedades: </h3>
                                <p *ngFor="let propiedad of producto.propiedades">
                                    {{propiedad.nombre}}: <small *ngFor="let valor of propiedad.valores; last as isLast">{{valor.valor}}{{isLast ? '' : ', '}} </small>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="paginator">
                    <mat-paginator style="background:none;" [length]="productos.length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)">
                    </mat-paginator>
                </div> -->


                <div class="table-responsive">
                    <table mat-table matTableResponsive [dataSource]="data" matSort  class="mat-elevation-z8" multiTemplateDataRows>
    
                      <ng-container  matColumnDef="id">
                        <th  mat-header-cell *matHeaderCellDef class="headerTable text-center" mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                      </ng-container>

                      <ng-container  matColumnDef="nombre">
                        <th  mat-header-cell *matHeaderCellDef class="headerTable text-center" mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                      </ng-container>
                    
                      <!-- Name Column -->
                      <ng-container matColumnDef="subcategoria">
                        <th mat-header-cell *matHeaderCellDef class="headerTable text-center" mat-sort-header> Subcategoría </th>
                        <td mat-cell *matCellDef="let element"> {{element.subcategoria.nombre}}  </td>
                      </ng-container>
    
                      <ng-container matColumnDef="precio">
                          <th mat-header-cell *matHeaderCellDef class="headerTable"> Precio </th>
                          <td mat-cell *matCellDef="let element"> {{element.precio | currency:"EUR":"symbol"}} </td>
                        </ng-container>
                    
                      <!-- Weight Column -->
                      <ng-container matColumnDef="precioOf">
                        <th mat-header-cell *matHeaderCellDef class="headerTable" mat-sort-header> Precio Oferta</th>
                        <td mat-cell *matCellDef="let element"> {{element.promocion.precioOferta | currency:"EUR":"symbol"}} </td>
                      </ng-container>
    
    
                      <ng-container matColumnDef="porcentaje">
                          <th mat-header-cell *matHeaderCellDef class="headerTable" mat-sort-header> Porcentaje</th>
                          <td mat-cell *matCellDef="let element">{{(element.promocion.porcentaje * 100) | number:'2.0-0'}}%</td> <!-- {{element.fechaEnviada}} -->
                      </ng-container>
    
                      <ng-container matColumnDef="desde">
                          <th mat-header-cell *matHeaderCellDef class="headerTable" mat-sort-header> Fecha desde </th>
                          <td mat-cell *matCellDef="let element">{{element.promocion.fechaDesde | convertFecha | slice:0:14}}</td> <!-- {{element.fechaRecibida}} -->
                      </ng-container>
                    
                      <!-- Symbol Column -->
                      <ng-container matColumnDef="hasta">
                        <th mat-header-cell *matHeaderCellDef class="headerTable" mat-sort-header> Fecha hasta </th>
                        <td mat-cell *matCellDef="let element"> {{element.promocion.fechaHasta | convertFecha | slice:0:14}}</td>
                      </ng-container>
    
                      <!-- <ng-container matColumnDef="actualizar">
                        <th mat-header-cell *matHeaderCellDef class="headerTable text-center" mat-sort-header> Actualizar </th>
                        <td mat-cell *matCellDef="let element"><i class="far fa-edit"></i> </td>
                      </ng-container> -->
      
                      <ng-container matColumnDef="estado">
                          <th mat-header-cell *matHeaderCellDef class="headerTable" mat-sort-header> Estado </th>
                          <td mat-cell *matCellDef="let element"> Activo </td>
                      </ng-container>
    
                      <ng-container matColumnDef="tools">
                        <th mat-header-cell *matHeaderCellDef class="headerTable" mat-sort-header>  </th>
                        <td mat-cell *matCellDef="let element"> <i class="far fa-edit point"></i> </td>
                      </ng-container>
      
                      <ng-container matColumnDef="expandedDetail">
                          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                              
                              <div class="container-fluid jumbotron pt-3 pb-3">
    
                                                              
                                  
                              </div>
                                                          
                            </div>
                          </td>
                          
                      </ng-container>
                      
                      <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true" class="text-center"></tr>
                      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
                          class="example-element-row rowCursor"
                          [class.example-expanded-row]="expandedElement === element"
                          (click)="expandedElement = expandedElement === element ? null : element">
                      </tr>
                      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                      <!--  -->
      
                    </table>
                    
                  </div>
                  <mat-paginator style="background-color: transparent;" [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

            </div>




        </div>
    </div>


</section>