$fte-ppal: 'Poppins',
sans-serif;
$fte-sec: 'Open Sans',
sans-serif;
$color-ppal:#fff;
$color-sec: rgb(87, 83, 83);
$color-ter: rgb(172, 165, 165);
$color-menues: rgb(243, 236, 236);
$color-wf1:#223e66;
$color-wf2:#1f4e84;
$color-wf3:#2779cd;
$color-wf4:#70b8f3;
section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top,$color-wf2 1%, $color-menues 55%);
    a{
        img {
            width: 200px;
            height: 60px;
            position: absolute;
            right: 50px;
            top: 20px;
        }
    }
    // }
    app-form-log-in{
        margin-top: 5vw;
    }
   

}

.boton {
    width: 100%;
    height: 40px;
    background-color: rgb(34, 33, 33);
    color: white;
    font-family: $fte-ppal;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    &:hover {
        box-shadow: 1px 2px 2px gray;
        background-color: $color-sec;
    }
    outline: none;
}

.primer {
    margin-top: 15px;
}

@media screen and (max-width: 700px) {
    section{
        a{
            img {
                width: 140px;
                height: 40px;
                position:unset;
                margin-top: 10px;
            }
        }
}
}
@media screen and (min-width: 700px) and (max-width: 900px) {
    section{
       a{
        img {
            width: 170px;
            height: 50px;
            right: 20px;
            top: 20px;
        }
}}
}